{% extends "staff.html" %}

{% block title %}Knock Off : {{tournoi.nom}}{% endblock %}
{% block ongTournoi %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des groupes -->
<div class="content-box" id="gestionTournoi">
    <h2 class="center" id="pageTitle">Choix des paires</h2>
    <hr class="line">

    <!-- Première étape selection des paires -->
    <div id="firstStep">
      <div class="row">
      {% for p in poules %}
      <div class="col-sm-4 panel-poule">
        <div class="panel panel-default">
          <div class="panel-heading">
            Poule {{p.id}}
          </div>
          <div class="list-group" id="{{p.id}}">
            {% for paire in p.SortedPair %}
            <a href="javascript:void(0)" onclick="checkBox('{{paire.id}}')" class="list-group-item">
              <div class="row">
                <div class="col-xs-10">
                  {{paire.user1.participant.smallName}}
                 &#38;
                  {{paire.user2.participant.smallName}} ({{paire.score}})
                </div>
                <div class="col-xs-2">
                  <input class="pull-right allBox {{p.id}}Box" type="checkbox" name="{{paire.id}}" id="ID{{paire.id}}" style="display:none">
                  <span class="{{p.id}}Check glyphicon glyphicon-unchecked" id="check{{paire.id}}" style="color:black"></span>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
      <button type="button" class="btn btn-default center-block" onClick="firstModal()">Prochaine étape</button>
    </div>


    <!-- Deuxième étape set up de l'arbre -->
    <div id="secondStep" style="display:none">

      <div class="panel panel-default center-block" style="max-width:600px;min-width:600px;">
        <div class="panel-heading">Terrain</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown">Choisir un terrain
                <span class="caret"></span></button>
                <ul class="dropdown-menu scrollable-menu" role="menu" id="terrain">
                    {%for elem in terrains %}
                    <li><a href="javascript:void(0);" onclick="setInfoTerrain('{{elem.id}}','{{elem.user.participant.smallName}}','{{elem.matiere}}','{{elem.type}}','{{elem.rue}}, {{elem.numero}} <br> {{elem.codepostal}} {{elem.localite}}','-','true')">
                      [{{elem.id}}] <b>{{elem.user.participant.smallName}}</b> ({{elem.matiere}}) <br>
                      {{elem.rue}}, {{elem.numero}} <br>
                      {{elem.codepostal}} {{elem.localite}}
                    </a></li>
                    {% endfor %}
                </ul>
              </div>
              <button class="btn btn-default" style="margin-top:20px;" onclick="assignerTerrain()">Assigner Terrain</button>
              <i id="errorTerrain" data-toggle="popover" data-html="true" data-placement="top" data-content="lol" class="fa fa-info-circle fa-4x center" style="display:none;cursor:pointer;color:red;width:100%;padding-top:20px;"></i>

            </div>
            <div class="col-sm-8">
              <form class="form-horizontal" action="">
                <!-- ID -->
                <div class="form-group" style="margin:0">
                    <label class="info col-sm-4" for="email">ID :</label>
                    <div class="col-sm-8">
                      <p style="margin:0" id="terrainID" class="info"> - </p>
                      <input id="terrain" name="terrain" value="{{arbre.court.id}}" style="display:none;">
                    </div>
                </div>
                <!-- Proprio -->
                <div class="form-group" style="margin:0">
                    <label class="info col-sm-4" for="email">Propriétaire :</label>
                    <div class="col-sm-8">
                      <p style="margin:0" id="terrainProp" class="info"> - </p>
                    </div>
                </div>
                <!-- matiere -->
                <div class="form-group" style="margin:0">
                    <label class="info col-sm-4" for="email">Matière :</label>
                    <div class="col-sm-8">
                      <p style="margin:0" id="terrainMat" class="info"> - </p>
                    </div>
                </div>
                <!-- type -->
                <div class="form-group" style="margin:0">
                    <label class="info col-sm-4" for="email">Type :</label>
                    <div class="col-sm-8">
                      <p style="margin:0" id="terrainType" class="info"> - </p>
                    </div>
                </div>
                <!-- addr -->
                <div class="form-group" style="margin:0">
                    <label class="info col-sm-4" for="email">Adresse :</label>
                    <div class="col-sm-8">
                      <p style="margin:0" id="terrainAddr" class="info"> - </p>
                    </div>
                </div>
                <!-- km -->
                <div class="form-group" style="margin:0">
                    <label class="info col-sm-4" for="email">Kilomètre :</label>
                    <div class="col-sm-8">
                      <p style="margin:0" id="terrainKilo" class="info"> - </p>
                    </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

      <div class="table-responsive">
        <div class="panel panel-default center-block" style="max-width:600px;min-width:600px;">
          <div class="panel-heading">Premier Round</div>
          <div class="panel-body" id="firstRoundBody">
          </div>
        </div>
      </div>




      <button id="create_tree" type="button" class="btn btn-default center-block" onClick="startTree()" disabled>Voir l'arbre du tournoi</button>
    </div>


    <!-- Div qui va contenir notre arbre -->
    <div id="TableArbre" style="display:none;">
      <div class="table-responsive">
        <div class="center-block" id="my_gracket"></div>
      </div>

      <div class="row">
        <div class="panel panel-default center-block" style="max-width:600px;">
          <div class="panel-heading">Information sur le terrain</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4" style="text-align:right"><b>ID</b></div>
              <div class="col-sm-8"><p id="terrainID2" id="" class="info" style="padding:0"> - </p></div>
            </div>
            <div class="row">
              <div class="col-sm-4" style="text-align:right"><b>Propriétaire</b></div>
              <div class="col-sm-8"><p id="terrainProp2" class="info" style="padding:0"> - </p></div>
            </div>
            <div class="row">
              <div class="col-sm-4" style="text-align:right"><b>Matière</b></div>
              <div class="col-sm-8"><p id="terrainMat2" class="info" style="padding:0"> - </p></div>
            </div>
            <div class="row">
              <div class="col-sm-4" style="text-align:right"><b>Type</b></div>
              <div class="col-sm-8"><p id="terrainType2" class="info" style="padding:0"> - </p></div>
            </div>
            <div class="row">
              <div class="col-sm-4" style="text-align:right"><b>Adresse</b></div>
              <div class="col-sm-8"><p id="terrainAddr2" class="info" style="padding:0"> - </p></div>
            </div>
          </div>
        </div>
      </div>
		<form action="{% url "tennis.views.knockOff" tournoi.nom %}" method="post">
		{% csrf_token %}
      <ul class="list-inline text-center no-print">
        <li>
            <button class="btn btn-default" onclick="window.print()">Version PDF</button>
        </li>
        <li>
          <button class="btn btn-default" onclick="sendTree()" value="save" name="action">Enregistrer</button>
        </li>
        <li>
          <button class="btn btn-default" data-toggle="modal" data-target="#deleteArbre" type="button">Supprimer</button>
        </li>
		<input id="treeData" name="treeData" value="" style="display:none;">
		<input id="treeLabel" name="treeLabel" value="" style="display:none;">
		<input id="finaliste" name="finaliste" value="" style="display:none;">
		<input id="gagnant" name="gagnant" value="" style="display:none;">
		<input id="terrainToSend" name="terrain" value="{{arbre.court.id}}" style="display:none;">

		<button id="deleteTree" class="btn btn-default center-block" type="submit" style="display:none" value="deleteTree" name="action"></button>
      </ul>
		</form>

    </div>

    </div>
</div>

<!-- Modal première étape -->
  <div class="modal fade" id="firstModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title center">Etape 1</h4>
        </div>
        <div class="modal-body">
          <p id="msgFirstModal"></p>

        <ul class="list-inline text-center">
        <li>
          <button type="button" class="btn btn-default" id="buttonFirstModal" onclick="secondStep()">Confirmer</button>
        </li>
        <li>
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        </li>
      </ul>
    </div>
      </div>

    </div>
  </div>

<!-- Modal set score arbre de tournoi -->
  <div class="modal fade" id="scoreModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title center">Score</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="">
            <p class="hint center" id="hintScore"></p>
            <!-- Equipe 1 -->
            <div class="form-group">
              <label class="control-label col-sm-7" for="team1" id="formteam1">Team 1</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" id="inputTeam1" name="team1" style="text-align:center;" >
              </div>
            </div>

            <!-- Equipe 2 -->
            <div class="form-group">
              <label class="control-label col-sm-7" for="team2" id="formteam2">Team 2</label>
              <div class="col-sm-2">
                <input type="number" class="form-control" id="inputTeam2" name="team2" style="text-align:center;">
              </div>
            </div>

            <!-- Emplacement du match -->
            <input type="text" id="emplacement" style="display:none;">
          </form>

        <ul class="list-inline text-center">
        <li>
          <button type="button" class="btn btn-default" onclick="setScore()">Confirmer</button>
        </li>
        <li>
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        </li>
      </ul>
    </div>
      </div>

    </div>
  </div>

<!-- Modal suppression arbre -->
  <div class="modal fade" id="deleteArbre" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title center">Confirmation de suppression</h4>
        </div>
        <div class="modal-body">
          <p>Etes vous sur de vouloir supprimer cet arbre de tournoi ?</p>

        <ul class="list-inline text-center">
        <li>
          <button type="button" class="btn btn-default" onclick="document.getElementById('deleteTree').click()">Confirmer</button>
        </li>
        <li>
          <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        </li>
      </ul>
    </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block commande %}
{% load static from staticfiles %}
<script src="{% static 'tennis/js/knockOut.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5lEleQslU1oemC3rf67mvETJrqOjKrFE&libraries=geometry"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});

TerrainList = [];
{%for elem in terrains %}
var addr = '{{elem.rue}}'+ ", "+'{{elem.numero}}'+"<br>"+'{{elem.codepostal}}'+ " "+'{{elem.localite}}';
TerrainList.push({id:'{{elem.id}}', user:'{{elem.user.participant.nom}}',smallName:'{{elem.user.participant.smallName}}',matiere:'{{elem.matiere}}',lat:'{{elem.latitude}}',lng:'{{elem.longitude}}',type:'{{elem.type.nom}}',addr:addr,conflict:'{{elem.conflict|safe}}'})
{% endfor %}

{% if arbre.data %}

//on hide la première étape et on passe directement à l'arbre de tournoi
document.getElementById("firstStep").style.display = "none";
document.getElementById("TableArbre").style.display = "inherit";
document.getElementById("pageTitle").innerHTML = "Arbre du tournoi";
//Donnée de notre arbre
TreeData = JSON.parse('{{arbre.data|escapejs}}');

//label
TreeLabel = JSON.parse('{{arbre.label|escapejs}}');

setArbre(TreeData,TreeLabel);

{% endif %}
//Create an array with all paires
var allPaires = new Array();
{% for paire in allPaires %}
var Paire = {id:'pair{{paire.id}}',user1:'{{paire.user1.participant.smallName}}',user2:'{{paire.user2.participant.smallName}}',pos:'{{paire.position}}',poule:'{{paire.poule}}',lat1:'{{paire.user1.participant.latitude}}',lat2:'{{paire.user2.participant.latitude}}',lng1:'{{paire.user1.participant.longitude}}',lng2:'{{paire.user2.participant.longitude}}'}
allPaires[{{paire.id}}] = Paire;
{% endfor %}

//Set height of panel to have a nice display
var mesPanel = document.getElementsByClassName("panel-poule");
var height = 0;
for (var i = 0; i < mesPanel.length; i++) {
  var h = mesPanel[i].offsetHeight;
  if(h>height){
    height = h;
  }
};
for (var i = 0; i < mesPanel.length; i++) {
  mesPanel[i].style.minHeight = height+"px";
};

//Check the two first box of each panel if it doesn't exceed 16
var nombrePanel = mesPanel.length;
if(nombrePanel<17){
  {% for p in poules %}
  var pouleBoxes = document.getElementsByClassName({{p.id}}+"Box");
  var pouleCheck = document.getElementsByClassName('{{p.id}}'+"Check");
  var obv = '{{p.id}}'+"Check";
  if(nombrePanel>8 || pouleBoxes.length<2){
    pouleBoxes[0].checked = true;
    pouleCheck[0].className = "glyphicon glyphicon-check "+obv
  }else{
    pouleBoxes[0].checked = true;
    pouleBoxes[1].checked = true;
    pouleCheck[0].className = "glyphicon glyphicon-check "+obv
    pouleCheck[1].className = "glyphicon glyphicon-check "+obv
  }
  {% endfor %}
}


function setInfoTerrain(id,prop,mat,type,addr,km,setKmBol){
  document.getElementById("terrainID").innerHTML = id
  document.getElementById("terrainProp").innerHTML = prop
  document.getElementById("terrainMat").innerHTML = mat
  document.getElementById("terrainType").innerHTML = type
  document.getElementById("terrainAddr").innerHTML = addr
  document.getElementById("terrainKilo").innerHTML = km
  document.getElementById("terrainToSend").value = id

  var lol = $.grep(TerrainList, function(v) { return v.id === id; })[0];
  console.log(lol)

  if(lol.conflict != ""){
    document.getElementById("errorTerrain").style.display = "inherit";
    document.getElementById("errorTerrain").setAttribute("data-content",lol.conflict);
  }else{
    document.getElementById("errorTerrain").style.display = "none";
  }


  document.getElementById("create_tree").disabled = false;

  if(setKmBol){
		setKm(id);
	}

  document.getElementById("terrainID2").innerHTML = id
  document.getElementById("terrainProp2").innerHTML = prop
  document.getElementById("terrainMat2").innerHTML = mat
  document.getElementById("terrainType2").innerHTML = type
  document.getElementById("terrainAddr2").innerHTML = addr
}
function assignerTerrain(){
	distanceList = [];
	for(var i=0;i<TerrainList.length;i++){
		var terrainLat = TerrainList[i].lat;
		var terrainLng = TerrainList[i].lng;
		var terrainlatLng = new google.maps.LatLng(parseFloat(terrainLat.replace(",", ".")), parseFloat(terrainLng.replace(",", ".")));
		var totalDistance = 0;
		for(var j = 0;j<leftList.length;j++){
			var user1Lat = leftList[j].lat1;
			var user1Lng = leftList[j].lng1;
			var user2Lat = leftList[j].lat2;
			var user2Lng = leftList[j].lng2;

			var user1LatLng = new google.maps.LatLng(parseFloat(user1Lat.replace(",", ".")), parseFloat(user1Lng.replace(",", ".")));
			var user2LatLng = new google.maps.LatLng(parseFloat(user2Lat.replace(",", ".")), parseFloat(user2Lng.replace(",", ".")));

			var distance1 = google.maps.geometry.spherical.computeDistanceBetween(user1LatLng, terrainlatLng);
			var distance2 = google.maps.geometry.spherical.computeDistanceBetween(user2LatLng, terrainlatLng);

			totalDistance = totalDistance + distance1 + distance2;
		}
		for(var j = 0;j<righList.length;j++){
			var user1Lat = righList[j].lat1;
			var user1Lng = righList[j].lng1;
			var user2Lat = righList[j].lat2;
			var user2Lng = righList[j].lng2;

			var user1LatLng = new google.maps.LatLng(parseFloat(user1Lat.replace(",", ".")), parseFloat(user1Lng.replace(",", ".")));
			var user2LatLng = new google.maps.LatLng(parseFloat(user2Lat.replace(",", ".")), parseFloat(user2Lng.replace(",", ".")));

			var distance1 = google.maps.geometry.spherical.computeDistanceBetween(user1LatLng, terrainlatLng);
			var distance2 = google.maps.geometry.spherical.computeDistanceBetween(user2LatLng, terrainlatLng);

			totalDistance = totalDistance + distance1 + distance2;
		}
	distanceList.push(totalDistance);
	}

	minDist = Number.MAX_VALUE;
	minIndex = -1;
	for(var i =0;i<distanceList.length;i++){
		if(distanceList[i] < minDist){
			minDist = distanceList[i];
			minIndex = i;
		}
	}
	setInfoTerrain(TerrainList[minIndex].id,TerrainList[minIndex].smallName,TerrainList[minIndex].matiere,TerrainList[minIndex].type,TerrainList[minIndex].addr,Math.round(minDist)/1000,false);

}
function setKm(id){

	terrainIndex = -1;
	for(var i =0;i<TerrainList.length;i++)
	{
		if(TerrainList[i].id == id)
		{
			terrainIndex = i;
		}
	}

		var terrainLat = TerrainList[terrainIndex].lat;
		var terrainLng = TerrainList[terrainIndex].lng;
		var terrainlatLng = new google.maps.LatLng(parseFloat(terrainLat.replace(",", ".")), parseFloat(terrainLng.replace(",", ".")));
		var totalDistance = 0;
		for(var j = 0;j<leftList.length;j++){

			var user1Lat = leftList[j].lat1;
			var user1Lng = leftList[j].lng1;
			var user2Lat = leftList[j].lat2;
			var user2Lng = leftList[j].lng2;

			var user1LatLng = new google.maps.LatLng(parseFloat(user1Lat.replace(",", ".")), parseFloat(user1Lng.replace(",", ".")));
			var user2LatLng = new google.maps.LatLng(parseFloat(user2Lat.replace(",", ".")), parseFloat(user2Lng.replace(",", ".")));

			var distance1 = google.maps.geometry.spherical.computeDistanceBetween(user1LatLng, terrainlatLng);
			var distance2 = google.maps.geometry.spherical.computeDistanceBetween(user2LatLng, terrainlatLng);

			totalDistance = totalDistance + distance1 + distance2;
		}
		for(var j = 0;j<righList.length;j++){
			var user1Lat = righList[j].lat1;
			var user1Lng = righList[j].lng1;
			var user2Lat = righList[j].lat2;
			var user2Lng = righList[j].lng2;

			var user1LatLng = new google.maps.LatLng(parseFloat(user1Lat.replace(",", ".")), parseFloat(user1Lng.replace(",", ".")));
			var user2LatLng = new google.maps.LatLng(parseFloat(user2Lat.replace(",", ".")), parseFloat(user2Lng.replace(",", ".")));

			var distance1 = google.maps.geometry.spherical.computeDistanceBetween(user1LatLng, terrainlatLng);
			var distance2 = google.maps.geometry.spherical.computeDistanceBetween(user2LatLng, terrainlatLng);

			totalDistance = totalDistance + distance1 + distance2;
		}
	document.getElementById("terrainKilo").innerHTML = Math.round(totalDistance)/1000;
}

var actual_id = -1;
{% if arbre.court %}

setInfoTerrain('{{arbre.court.id}}','{{arbre.court.user.participant.smallName}}','{{arbre.court.matiere}}','{{arbre.court.type}}','{{arbre.court.numero}} {{arbre.court.rue}} <br> {{arbre.court.codepostal}} {{arbre.court.localite}}',"-",true);

actual_id = '{{arbre.court.id}}';
{% endif %}


</script>

{% endblock %}
