{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block body %}


<div class="container">

		<div class="row">
			{% if error %}
			<div class="alert alert-danger">
			    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			    <strong>Error!</strong> {{ error }}
			  </div>
			 {% endif %}
			<div class="col-lg-6 col-lg-offset-3">
				<div class="content-box">
				<h2 class="center">Connexion</h2>
				<hr class="line">
				<form role="form" method="post" action="{% url "tennis.views.connect" %}" >
					{% csrf_token %}
				    <div class="form-group">
				      <label for="username">Nom d'utilisateur</label>
				      <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur" value="{{ username }}">
				    </div>
				    <div class="form-group">
				      <label for="pwd">Mot de passe</label>
				      <input type="password" class="form-control" name="password" placeholder="mot de passe">
				    </div>
				    <div class="checkbox">
					  <label><input type="checkbox"> Se souvenir de moi</label>
					</div>

					<ul class="list-inline text-center">
						<li>
							<button type="button" class="btn btn-default" onClick="location.href='{% url "tennis.views.recover" %}';" style="margin-top:20px;">Mot de passe oublié ?</button>
						</li>
						<li>
							<button type="submit" class="btn btn-default" style="margin-top:20px;">Connexion</button>
						</li>
					</ul>

				  </form>
			</div>
		</div>

	</div>


</div>

{% endblock %}
