{% extends "staff.html" %}

{% block title %}Score : {{ tournoi.nom }}{% endblock %}
{% block ongTournoi %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des groupes -->
<div class="content-box">
    <h2 class="center">Poules - {{tournoi}}</h2>
    <hr class="line">

    <div class="row">
        {% for p in poules %}
        {% if p.newRow %}
        <div class="row">
        {% endif %}
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-10">Poule {{p.id}}</div>
                        <div class="col-xs-2">
                            <ul class="list-inline pull-right" style="margin:0;">
                                <li>
                                    <a href="{% url 'tennis.views.printScoreBoard' p.id %}" target="_blank" style="cursor:pointer;color:white;padding:0;margin:0;"><span class="glyphicon glyphicon-print"></span></a>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    {% if p.status.numero == 2 %}

                    <b>Leader : </b>{{p.leader.participant.prenom}} {{p.leader.participant.nom}}
                    <br>
                    <b>Status : </b> {{p.status.nom}}<br>
                    <b>Terrain : </b> {{p.court.id}} - {{p.court.getAdresse}} ({{p.court.user.username}}) <br>
                    <b>Participants : </b> {{p.paires.all|length}} paires <br>
                    {% for pair in p.SortedPair %}
                    <b>{{ pair.id }}</b> -
                    {{ pair.user1.participant.prenom }} {{ pair.user1.participant.nom }} &#38;
                    {{ pair.user2.participant.prenom }} {{ pair.user2.participant.nom }} -
                    <b>Score : </b>{{pair.score}}
                    <br>
                    {% endfor %}
                    <button onClick="location.href='{% url "tennis.views.pouleViewScore" p.id %}';" class="btn btn-default center-block" style="margin-top:20px;">Voir les scores</button>

                    {% else %}

                    <b>Leader : </b>{{p.leader.participant.prenom}} {{p.leader.participant.nom}}
                    <br>
                    <b>Status : </b> {{p.status.nom}}<br>
                    <b>Terrain : </b> {{p.court.id}} - {{p.court.getAdresse}} ({{p.court.user.username}}) <br>
                    <b>Participants : </b> {{p.paires.all|length}} paires <br>
                    {% for pair in p.paires.all %}
                    <b>{{ pair.id }}</b> -
                    {{ pair.user1.participant.prenom }} {{ pair.user1.participant.nom }} &#38;
                    {{ pair.user2.participant.prenom }} {{ pair.user2.participant.nom }}
                    <br>
                    {% endfor %}
                    <button onClick="location.href='{% url "tennis.views.pouleScore" p.id %}';" class="btn btn-default center-block" style="margin-top:20px;">Entrer les scores</button>

                    {% endif %}
                </div>
            </div>
        </div>
        {% if not p.newRow %}
        </div>
        {% endif %}
        {% empty %}
        <p class="info center">Il n'y a pas encore de poules enregistrées pour ce tournoi</p>
        {% endfor %}
    </div>
    <ul class="list-inline text-center">
        <li>
            <button class="btn btn-default" data-toggle="modal" data-target="#myModal" type="button">Supprimer les poules</button>
            <form action="{% url "tennis.views.pouleTournoi" tournoi.nom %}" method="post">
                {% csrf_token %}
                <button class="btn btn-default" style="display:none" id="supprimer_poule">Supprimer les poules</button>
            </form>
        </li>
        <li>
            <button id="treeButton" class="btn btn-default" onClick="location.href='{% url "tennis.views.knockoff_print" tournoi.nom %}';">Version PDF</button>
        </li>
        <li>
          <button id="treeButton" class="btn btn-default" onClick="location.href='{% url "tennis.views.knockOff" tournoi.nom %}';" {% if tournoi.status.numero >= 3 %}{% else %}disabled {% endif %}>Arbre de Tournoi</button>
        </li>
    </ul>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title center">Confirmation suppression</h4>
        </div>
        <div class="modal-body">

            <p>Etes-vous sûr de vouloir supprimer ces poules?</p>

            <ul class="list-inline text-center">
                <li>
                    <button type="button" class="btn btn-default" id="yesModel" onclick="document.getElementById('supprimer_poule').click()">oui</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default" data-dismiss="modal">non</button>
                </li>
            </ul>
        </div>
      </div>

    </div>
  </div>

{% endblock %}


{% block commande %}

{% endblock %}
