{% extends "staff.html" %}

{% block title %}Gestion des paires{% endblock %}
{% block ongPaires %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des paires -->
<div class="content-box" id="gestionPaire">
	<h2 class="center">Gestionnaire des paires</h2>
	<hr class="line">

	<div class="row">
		<div class="col-lg-4">
			<!-- Paramètres de recherche avancée -->
			<form method="post" action="{% url "tennis.views.staffPaire" %}" class="form-horizontal">
				{% csrf_token %}
				<input type="text" name="page" style="display:none;" value="1" id="pageNumber">
				<!-- Rechercher -->
				<div class="row" style="margin-bottom:15px;">
					<div class="col-lg-10 col-lg-offset-1 col-sm-4 col-sm-offset-4">
						<div class="input-group">
					      <input type="text" class="form-control" value="{{recherche}}" placeholder="Rechercher" name="rechercheField">
					      <span class="input-group-btn">
					        <button class="btn btn-default" type="submit" name="action" value="search" id="search_pair_button"><span class="glyphicon glyphicon-search"></span></button>
					      </span>
					    </div>
					</div>
				</div>
				<div class="panel panel-default center-block" style="max-width:300px;">
				    <div class="panel-heading" onclick="setPlusMoins()" data-toggle="collapse" data-target="#list_criteria" style="cursor:pointer;" href="#list_criteria">Critères d'affichage <span id="plusmoins" class="glyphicon glyphicon-chevron-up pull-right"></span></div>
				    <div class="list-group panel-collapse collapse in" id="list_criteria">
					    <li class="list-group-item">
						    <div class="row">
							    <label class="control-label col-sm-5">Validation</label>
							    <div class="col-sm-7">
								    <select id="validation_selector" class="form-control" name="validation">
								        <option value="" selected>Tous</option>
								        <option value="True">Oui</option>
								        <option value="False">Non</option>
								    </select>
								</div>
							</div>
					    </li>

					    <li class="list-group-item">
						    <div class="row">
							    <label class="control-label col-sm-5">Paiement</label>
							    <div class="col-sm-7">
								    <select id="payment_selector" class="form-control" name="paiement">
								        <option value="" selected>Tous</option>
								        <option value="True">Oui</option>
								        <option value="False">Non</option>
								    </select>
								</div>
							</div>
					    </li>

					    <li class="list-group-item">
						    <div class="row">
							    <label class="control-label col-sm-5">Tournoi</label>
							    <div class="col-sm-7">
								    <select id="tournament_selector" class="form-control" name="tournoi">
								        <option value="" selected>Tous</option>
									    {% for elem in Tour %}
									    <option value="{{ elem.nom }}">{{ elem }}</option>
									    {% endfor %}
								    </select>
								</div>
							</div>
					    </li>

					    <li class="list-group-item">
							<div class="row">
								<label class="control-label col-sm-5">Résultats</label>
								<div class="col-sm-7">
									<input class="form-control" type="number" name="pagelength" value="{{pageLength}}">
								</div>
							</div>
						</li>
				    </div>
				</div>
				<button class="btn btn-default center-block" name="action" value="CSV">Exporter sous CSV</button>
			</form>
		</div>

		<div class="col-lg-8">
			<!-- Liste des terrains -->
			<div class="panel panel-default center-block">
				<div class="panel-heading">Paires</div>
				    <div class="table-responsive">
				        <table class="table table-hover">
				            <thead>
		                      <tr>
		                        <th>ID</th>
		                        <th>Tournoi</th>
		                        <th style="text-align:center;">Validé</th>
		                        <th style="text-align:center;">Payé</th>
		                        <th>Joueur 1</th>
		                        <th>Joueur 2</th>
		                      </tr>
		                    </thead>
		                    <tbody>
		                    	{% for paire in allPair %}
		                    	<tr onclick="window.open('{% url "tennis.views.validatePair" paire.id %}','_blank')" class="clickable-row">
			                        <td>{{ paire.id }}</td>
			                        <td>{{ paire.tournoi }}</td>
			                        <td style="text-align:center;">
			                        	{% if paire.valid %}
					        			<span class="glyphicon glyphicon-ok" style="color:green;"></span>
					        			{% else %}
					        			<span class="glyphicon glyphicon-remove" style="color:red;"></span>
					        			{% endif %}
			                        </td>
			                        <td style="text-align:center;">
			                        	{% if paire.pay %}
					        			<span class="glyphicon glyphicon-ok" style="color:green;"></span>
					        			{% else %}
					        			<span class="glyphicon glyphicon-remove" style="color:red;"></span>
					        			{% endif %}
			                        </td>
			                        <td>{{ paire.user1.participant.codeName}}</td>
			                        <td>{{ paire.user2.participant.codeName}}</td>
			                      </tr>
		                    	{% endfor %}
		                    </tbody>
				        </table>
				    </div>
			</div>

			<!-- Info -->
			<p class="center" id="">{{debut}}-{{fin}} sur {{pageLength}} résultats ({{length}} au total)</p>

			<!-- Bottom pagination -->
			<div class="text-center">
		        <div id="paginationholder">
		        </div>
			</div>
		</div>
	</div>

</div>
{% endblock %}

{% block commande %}
<script>
{% if validation %}
setSelectedIndex(document.getElementById("validation_selector"),'{{validation}}');
{% endif %}

{% if paiement %}
setSelectedIndex(document.getElementById("payment_selector"),'{{paiement}}');
{% endif %}

{% if tournoi %}
setSelectedIndex(document.getElementById("tournament_selector"),'{{tournoi}}');
{% endif %}

//Nombre de pages
var total = Math.max(Math.ceil({{length}}/{{pageLength}}), 1);
//Notre pagination
$('#paginationholder').html('');
$('#paginationholder').html('<ul class="pagination" id="PairPagination"></ul>');
$('#PairPagination').twbsPagination({
        totalPages: total,
        visiblePages: Math.min(total, 5),
        startPage: {{page}},
        onPageClick: function (event, page) {
        //Lorsqu'on clique sur une page, on met à jour le contenu
        document.getElementById("pageNumber").value = page;
  		document.getElementById("search_pair_button").click();

        }
});

</script>
{% endblock %}
