nav {
    background-image: url("../img/bg_middle.jpg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
}

/* title */
.navbar-default .navbar-brand {
    color: black !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #D4542D !important;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #D4542D !important;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white !important;
    background-color: #D4542D !important;
    border-radius: 20px;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white !important;
    background-color: #D4542D !important;
    border-radius: 20px;
}

/* username Button */
.btn-username>{
    color:white;
    background-color: #red;
}

.username,
.navbar-img{
    display: none !important;
}

.divider{
    color: black;
    height: 5px;
}

.nav-user{
    text-align: center;
}

@media(min-width:768px) {
    .username,
    .navbar-img{
        display: inherit!important;
        float:right;
        padding-top:15px; 
        text-align: right;
    }

    .navbar-img{
        display: inherit;
    }

    .nav-user,
    .navbar-title,
    .navbar-right{
        display:none !important;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}