/* Used to stick footer to bottom */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Background image */
body,
html{
    background-image: url("../img/bg.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}

/* navbar */
nav {

    font-size: 16px;
    background-color: rgba(238, 231, 203, 1);
    background: -webkit-linear-gradient(top, rgba(209, 199, 159, 1) 0%, rgba(238, 231, 203, 1) 100%);
    background: linear-gradient(to bottom, rgba(209, 199, 159, 1) 0%, rgba(238, 231, 203, 1) 100%);
    border-bottom-width: 0px!important;
    border-width: 0px!important;
}

/* shadow effect navbar */
.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/* title */
.navbar-default .navbar-brand {
    color: black !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #D4542D !important;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #D4542D !important;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white !important;
    background-color: #D4542D !important;
    border-radius: 5px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white !important;
    background-color: #D4542D !important;
    border-radius: 5px;
}

/*Button when collapsed */
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #BF4C28 !important;
}

.navbar-default .navbar-toggle {
    border-color: #BF4C28 !important;
    background-color: #D4542D !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

.username,
.navbar-img{
    display: none !important;
}

/*username in collapsed*/
.nav-user{
    text-align: center;
    color: #D4542D;
    border-top : solid 1px #eee;
    border-bottom : solid 1px #eee;
    margin: 0;
    padding: 8px;
}
/* end of navbar */

/* Image slider */
.carousel{
    max-width:857px;
    margin:auto;
    margin-bottom: 15px;
}

/* hauteur du timer */
@media(min-width: 1200px) {
    .timer{
        height:306px;
    }
}

/* min margin pour le carousel */
@media(max-width: 867px) {
    .carousel{
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media(min-width:768px) {
    /*user button*/
    .username,
    .navbar-img{
        display: inherit!important;
        float:right;
        padding-top:15px;
        text-align: right;
    }

    /*logo*/
    .navbar-img{
        display: inherit;
    }

    /*navbar user and titlle*/
    .nav-user,
    .navbar-title,
    .navbar-right{
        display:none !important;
    }

    /*link align center */
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

/*Content box */
.content-box{
    background-color: rgba(238, 231, 203, 1);
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.center{
    text-align:center;
}

.b-center{
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

p.textHome{
    font-size: 16px;
}

/*Button*/
.btn-default{
    background-color: #D4542D !important;
    border-color: #BF4C28 !important;
    color:white !important;
}

.btn-default:hover,
.btn-default:focus{
    background-color: #BF4C28 !important;
    border-color: #BF4C28 !important;
    color:white !important;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}

/* break line */
hr.line {
    border-color: #D4542D;
    border-width: 2px;
}

hr.line2{
    margin-top: 0;
    border-color: #D4542D;
    border-width: 2px;
}

.sponsors{
    padding:10px;
    margin:auto;
    vertical-align: middle;
}

/* Hint formulaire */
.hint {
    color:red;
    margin-bottom: 0;
    font-weight: bold;
}

/* TextArea */
textarea {
  resize: vertical; /* user can resize vertically, but width is fixed */
}
/*MODAL*/
.modal-header{
    background-color: #D4542D;
    border-radius: 5px 5px 0 0;
    color:white;
}

.modal-body{
    background-color: rgba(238, 231, 203, 1);
    border-radius: 0 0  5px 5px;
}

/* Panel */
div.panel{
    box-shadow: 10px 10px 5px #888888;
}

.panel-body{
    /*background-color: rgba(238, 231, 203, 1);*/
    background-color: #FFFFDD;
}

.panel-footer{
    /*background-color: rgba(238, 231, 203, 1);*/
    background-color: #FFFFDD !important;
}

.panel-heading{
    background-color: #D4542D !important;
    color: white !important;
    font-weight: bold;
}

.panel-default{
    border: solid 2px #BF4C28 !important;
}

/* Used in profile section */
p.info{
    padding-top: 7px;
    font-weight: bold;
    color: #D4542D;
   /* margin-bottom: 1px;*/
}

/* Used in pair section */
p.infoForm{
    padding-top: 7px;
    font-weight: bold;
    color: #D4542D;
    margin-bottom: 0;
}

label.info{
    padding-top: 7px;
    text-align: right;
}

div.info{
    padding-top: 7px;
    font-weight: bold;
    text-align: right;
}

a.UserLink{
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin:auto;
    display: block;
}


.clickable-row td:hover {
    cursor: pointer;
}

/* The max width is dependant on the container (more info below) */
.popover{
    width: 200px ; /* Max Width of the popover (depending on the container!) */
}

.zone {
    /*
    background-color: rgba(238, 231, 203, 1);
    background: -webkit-linear-gradient(right, rgba(209, 199, 159, 1) 0%, rgba(238, 231, 203, 1) 100%);
    background: linear-gradient(to left, rgba(209, 199, 159, 1) 0%, rgba(238, 231, 203, 1) 100%);
    */
    background-color: #EEEECC;
    border-radius: 15px;
    color:#D4542D;;
    font-weight: bold;
    border: solid 1px #aaa;
    padding:12px;
    margin:0;
}

.dropBox{
    background-color: #FFFFDD !important;
}

/* List group */
.list-group-item{
    border-color: #D4542D !important;
    /*background-color: rgba(238, 231, 203, 1);*/
    /*background-color: #E1886C !important;*/
}

.list-group-item.active{
    color:#852000 !important;
    font-weight: bold;
    background-color: white !important;
}

/* Navtabs in staff */
.nav-tabs > li, .nav-pills > li {
    float:none !important;
    display:inline-block !important;

    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs>li>a{
    background-color: #D4542D;
    color:white;
}

.nav-tabs>li>a:hover{
    color:black;
}

.nav-tabs, .nav-pills {
    text-align:center !important;

}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color:#D4542D !important;
    background-color: rgba(238, 231, 203, 1) !important;
    font-weight: bold;
}

.pagination {
    margin: 0 !important;
}

.pagination>.active>a, .pagination>.active>a:focus,
.pagination>.active>a:hover, .pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
    background-color: #D4542D !important;
    border-color: #D4542D !important;
    color:white !important;
}

.pagination>li>a, .pagination>li>span{
    color:#D4542D !important;
}
/* Footer */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(238, 231, 203, 1);
  background: -webkit-linear-gradient(top, rgba(209, 199, 159, 1) 0%, rgba(238, 231, 203, 1) 100%);
  background: linear-gradient(to bottom, rgba(209, 199, 159, 1) 0%, rgba(238, 231, 203, 1) 100%);
  text-align: center;
}

@media print
{
    @page
    {
        size: auto;
        margin: 0mm;
    }
    .no-print, .no-print *
    {
        margin: 0mm;
        display: none !important;
    }
}
