<!-- Fichier html de servant de base pour toutes les pages (navbar footer ...) -->

<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- permet de recuperer les fichiers locaux tel que css javascript images -->
    {% load static from staticfiles %}

  <!-- Titre de la page courange -->  
  <title>ASMAE &raquo; {% block title %}{% endblock %}</title>
  <!-- Import des differents css js etc... -->  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'tennis/css/tennis.css' %}">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="{% static 'tennis/js/countdown.js' %}" type="text/javascript"></script>
  <!-- Google Map API-->
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="{% static 'tennis/js/jquery.twbsPagination.js' %}" type="text/javascript"></script>
  <script src="{% static 'tennis/js/groups.js' %}" type="text/javascript"></script>
  <link rel="shortcut icon" href="{% static 'tennis/img/favicon.ico' %}" type="image/x-icon" />
</head>
<body>
      <!-- Navigation Bar -->
      <nav class="effect6 navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- logo et titre ainsi que user box -->
          <div class="navbar-header" style="width:100%;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Brand Title -->
            <a class="navbar-brand navbar-img" style="padding-bottom:70px;" href="{% url "tennis.views.home" %}"><img src="{% static 'tennis/img/logo.png' %}"></a>
            <a class="navbar-brand navbar-title" href="{% url "tennis.views.home" %}">Le Charles de Lorraine</a>


                      
            <!-- Boutton utilisateur avec dropdown menu -->
            <div class="username btn-group pull-right navbar-btn">
              {% if user.is_authenticated %}
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="{% url "tennis.views.profil" %}"><span class="glyphicon glyphicon-pencil"></span> Editer profil</a></li>
                  <li><a href="{% url "tennis.views.deconnect" %}"><span class="glyphicon glyphicon-log-out"></span> Deconnexion</a></li>
                </ul>
                {% else %}
              <div class="btn-group">
                <button type="button" onClick="location.href='{% url "tennis.views.connect" %}';" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> Connexion</button>
                <button type="button" onClick="location.href='{% url "tennis.views.register" %}';" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Inscription</button>
              </div>
              {% endif %}
              
              
            </div>
          </div>

          <!-- Les differents liens dans la bar de navigation -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!-- Nos liens -->
            <ul class="nav navbar-nav">
              <li {% block nav-home %}{% endblock %}><a href="{% url "tennis.views.home" %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Accueil</a></li>
              {% if user.is_authenticated %}
              <li {% block nav-tournoi %}{% endblock %}><a href="{% url "tennis.views.tournoi" %}"><i class="fa fa-trophy fa-lg"></i> Tournois</a></li>
              <li {% block nav-terrain %}{% endblock %}><a href="{% url "tennis.views.terrain" %}"><i class="fa fa-th-large fa-lg"></i> Terrains</a></li>
              {% endif %}
              <li {% block nav-sponsors %}{% endblock %}><a href="{% url "tennis.views.sponsors" %}"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Sponsors</a></li>
              <li {% block nav-contact %}{% endblock %}><a href="{% url "tennis.views.contact" %}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact</a></li>
              <!-- TODO if staff only -->
              {% if perms.auth.Pair or perms.tennis.Extra or perms.auth.User or perms.tennis.Court or perms.tennis.DoubleHommes or perms.tennis.DoubleFemmes or perms.tennis.DoubleMixte or perms.tennis.TournoiDesFamilles or  perms.auth.Droit %}
              <li {% block nav-staff %}class="dropdown"{% endblock %}><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-lock fa-lg"></i> Staff <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url "tennis.views.staffTournoi" %}">Tournois</a></li>
                  {% if perms.tennis.Court %}
                  <li><a href="{% url "tennis.views.staffTerrain" %}">Terrains</a></li>
                    {% endif %}
                   {% if perms.tennis.Pair %}
                  <li><a href="{% url "tennis.views.staffPaire" %}">Paires</a></li>
                    {% endif %}
                    {% if perms.tennis.Extra %}
                  <li><a href="{% url "tennis.views.staffExtra" %}">Extras</a></li>
                    {% endif %}
                    {% if perms.tennis.User %}
                  <li><a href="{% url "tennis.views.staffUser" %}">Utilisateurs</a></li>
                    {% endif %}
                    <!-- Permission des logs -->
                  <li><a href="{% url "tennis.views.staffLog" %}">Historique</a></li>
                    <!-- TODO permission droit -->
                 {% if perms.tennis.Droit %}<li><a href="{% url "tennis.views.staffPerm" %}">Permissions</a></li>
                </ul>{% endif %}
              </li>

              {% endif %}
              </ul>
              <!-- utilisateur -->
              {% if user.is_authenticated %}
              <ul class="nav navbar-nav nav-user">
                <li style="font-weight:bold;">{{ user.username }}</li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              <li class="divider"></li>
              <li class=""><a href="{% url "tennis.views.profil" %}"><span class="glyphicon glyphicon-pencil"></span> Editer Profil</a></li>
              <li class=""><a href="{% url "tennis.views.deconnect" %}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li class="divider"></li>
              <li class=""><a href="{% url "tennis.views.connect" %}"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
              <li class=""><a href="{% url "tennis.views.register" %}"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
            </ul>
            {% endif %}
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <!-- Block contenant le contenu de la page -->
    <div class="demo">
      {% block body %}

     {% endblock %}
    </div>
    <!-- Page footer cooperight link etc -->
    <div class="footer" id="foot01"></div>

    <script src="{% static 'tennis/js/tennis.js' %}" type="text/javascript"></script>

    {% block commande %}

    {% endblock %}




</body>
</html>
