{% extends "tennis/tournoi.html" %}

{% block title %}Confirmer Pair NUMERO{% endblock %}

{% block body %}

<div class="container">
	<div class="content-box">
		<h2 class="center">Confirmer Pair NUMERO (TODO set info)</h2>
		<hr class="line">
		
		<form class="form-horizontal" name="registerForm" role="form" method="post" action="" onsubmit="" >
		{% csrf_token %}

			<h4 class="center">Tournoi : Tournoi des familles</h4>
			<p class="info center">Description du tournoi des familles</p>
			
			<div class="row">

				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">Joueur 1</div>
						<div class="panel-body">
							<!-- Username -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Utilisateur : </label>
						      <div class="col-sm-8">
						      	<p class="info">getInfoJoueur1</p>
						      </div>
						    </div>
						    <!-- Nom -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="nom">Nom : </label>
						      <div class="col-sm-8">
						      	<p class="info">getInfoJoueur1</p>
						      </div>
						    </div>
						    <!-- Prenom -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Prénom : </label>
						      <div class="col-sm-8">
						      	<p class="info">getInfoJoueur1</p>
						      </div>
						    </div>
						    <!-- Extra -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Extras : </label>
						      <div class="col-sm-8">
						      	{% for extra in Ex %}
						      	<div class="checkbox">
							      <label><input type="checkbox" value="{{ extra.id }}" disabled>{{ extra.nom }} ({{ extra.prix }} €)</label>
							    </div>
							    {% endfor %}
						      </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">Joueur 2</div>
						<div class="panel-body">
							<!-- Username -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Utilisateur : </label>
						      <div class="col-sm-8">
						      	<p class="info">{{ user.username }}</p>
						      </div>
						    </div>
						    <!-- Nom -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="nom">Nom : </label>
						      <div class="col-sm-8">
						      	<p class="info">{{ user.participant.nom }}</p>
						      </div>
						    </div>
						    <!-- Prenom -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Prénom : </label>
						      <div class="col-sm-8">
						      	<p class="info">{{ user.participant.prenom }}</p>
						      </div>
						    </div>
						    <!-- Extra -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Extras : </label>
						      <div class="col-sm-8">
						      	{% for extra in Ex %}
						      	<div class="checkbox">
							      <label><input type="checkbox" value="{{ extra.id }}">{{ extra.nom }} ({{ extra.prix }} €)</label>
							    </div>
							    {% endfor %}
						      </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<!-- Info -->
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<label>Informations additionnelles (souhaits, remarques, ...) : </label>
					<p class="info">Information du joueur 1</p>
					<textarea class="form-control" rows="3" name="remarque" id="remarque" placeholder="Ajouter une remarque et/ou souhaits ..."></textarea>
				</div>
			</div>

			<!-- Inscription button -->
			<ul class="list-inline text-center">
				<li>
					<button class="btn btn-default center-block" name="action" value="refuse" style="margin-top:20px;">Refuser</button>
				</li>
				<li>
					<button class="btn btn-default center-block" name="action" value="validate" style="margin-top:20px;">Valider</button>
				</li>
			</ul>
			
			
			
		</form>

	</div>
</div>


{% endblock %}