{% extends "tennis/terrain.html" %}

{% block title %}Editer terrain{% endblock %}

{% block body %}
<div class="container">
	<div class="content-box">
		<h2 class="center">Editer terrain</h2>
		<hr class="line">
		<h4 class="center">Terrain {{ court.id }}</h4>
		<form class="form-horizontal" name="editForm" role="form" method="post" action="{% url "tennis.views.editTerrain" court.id %}" >
		{% csrf_token %}
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">Terrain</div>
					<div class="panel-body">
						<!-- Rue -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="rue">Rue *</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<input type="text" class="form-control" name="rue" id="rue" placeholder="Nom de rue" value="{{ court.rue }}">
					      	<p class="hint" id="hint-rue"></p>
					      </div>
					    </div>
					    <!-- Numero -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="numero">Numero *</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<input type="text" class="form-control" name="numero" id="numero" placeholder="Numero" value="{{ court.numero }}">
					      	<p class="hint" id="hint-numero"></p>
					      </div>
					    </div>
					    <!-- Boite -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="boite">Boite</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<input type="text" class="form-control" name="boite" id="boite" placeholder="Boite" value="{{ court.boite }}">
					      	<p class="hint" id="hint-boite"></p>
					      </div>
					    </div>
					    <!-- Code Postal -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="postalcode">Code postal *</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<input type="text" class="form-control" name="postalcode" id="postalcode" placeholder="Code postal" value="{{ court.codepostal }}">
					      	<p class="hint" id="hint-postalcode"></p>
					      </div>
					    </div>
					    <!-- Localité -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="loclity">Localité *</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<input type="text" class="form-control" name="loclity" id="loclity" placeholder="Localité" value="{{ court.localite }}">
					      	<p class="hint" id="hint-loclity"></p>
					      </div>
					    </div>
					    <!-- Accès -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="acces">Accès *</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<textarea class="form-control" rows="3" name="acces" id="acces" placeholder="Acces au terrain">{{court.acces}}</textarea>
					      	<p class="hint" id="hint-loclity"></p>
					      </div>
					    </div>
					    <!-- Matière -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="matiere">Matière *</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<select class="form-control" name="matiere" id="matiere">
							   	<option value="Béton">Béton</option>
								<option value="Brique">Brique</option>
							  	<option value="Gazon">Gazon</option>
								<option value="Synthétique">Synthétique</option>
							   	<option value="Terre battue">Terre battue</option>
								<option value="Quick">Quick</option>
							   <option value="Autre">Autre</option>

							</select>
					      </div>
					    </div>
					    <!-- Type -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="matiere">Type *</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<select class="form-control" name="type" id="type">
					      		<option>Ouvert</option>
							    <option>Couvert</option>
							</select>
					      </div>
					    </div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">Informations pour le tournoi de cette année</div>
					<div class="panel-body">
						<!-- Disponibilité -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="dispo">Disponibilité *</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<label style="margin-right:20px;padding-top:7px;"><input type="checkbox" {% if court.dispoSamedi %} checked {% endif %}> Samedi</label>
					      	<label><input type="checkbox" {% if court.dispoDimanche %} checked {% endif %}> Dimanche</label>
					      	<p class="hint" id="hint-dispo"></p>
					      </div>
					    </div>
					    <!-- Etat -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="etat">Etat du terrain *</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<select class="form-control" name="etat" id="etat">
					      		<option>Très bon</option>
							    <option>Bon</option>
							    <option>Correcte</option>
							    <option>Mauvais</option>
							    <option>Très Mauvais</option>
							</select>
					      </div>
					    </div>
					    <!-- Commentaire Proprio -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="comment">Commentaire</label>
					      <div class="col-sm-8" style="max-width:600px;">
					      	<textarea class="form-control" rows="3" name="comment" id="comment" placeholder="Commentaire">{{court.commentaire}}</textarea>
					      	<p class="hint" id="hint-comment"></p>
					      </div>
					    </div>
					</div>
				</div>
			</div>
			<ul class="list-inline text-center">
				<li>
					<button class="btn-default btn" name="action" value="modifyCourt">Editer</button>
				</li>
				<li>
					<button class="btn-default btn" name="action" value="deleteCourt">Supprimer</button>
				</li>
			</ul>
		</form>
	</div>
</div>
{% endblock %}
{% block commande %}
<script>
preselectSelectOption('{{court.matiere}}','{{court.type}}','{{court.etat}}');
</script>
{% endblock%}
