{% extends "tennis/staff.html" %}

{% block title %}{{ tournoi.nom }}{% endblock %}
{% block ongTournoi %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des groupes -->
<div class="content-box" id="gestionTournoi">
    <h2 class="center">{{ tournoi }}</h2>
    <hr class="line">
    <form class="form-horizontal" action="{% url 'tennis.views.generatePool' tournoi.nom %}" method="post">
	{% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">Configuration</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label col-sm-10">Nombre de paires</label>
                        <div class="col-sm-2">
                            <p class="info">{{ allPair|length }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-8">Nombre de poules</label>
                        <div class="col-sm-4">
                            <input class="form-control" style="min-width:50px;max-width:100px;" type="number" value="{{ defaultValue }}" name="poulesNumber" id="poulesNumber">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-default center-block" type="button" onclick="autogen()">Génération automatique</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label col-sm-10">Nombre de terrains disponible</label>
                        <div class="col-sm-2">
                            <p class="info">{{ nbrTerrains }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-8">Taille des poules</label>
                        <div class="col-sm-4">
                            <input class="form-control" style="min-width:50px;max-width:100px;" type="number" value="6" id="poulesSize">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-default center-block" type="button" onclick="terrainAssignement()">Assigner les terrains</button>
                    </div>
                </div>
            </div>
        </div>


    <div class="row" style="margin-top:20px;" id="poulesDiv">
    </div>
        <ul class="list-inline text-center" style="padding-top:10px">
            <li>
                <button class="btn btn-default center-block" type="submit" onclick="save()" value="save" name="action">Sauvegarder</button>
            </li>
            <li>
                <button class="btn btn-default center-block" data-toggle="modal" data-target="#myModal" type="button" onclick="checkValues()">Valider</button>
            </li>
        </ul>
    <input id="assignTerrains" name="assignTerrains" value="" style="display:none;">
    <input id="assignPairPoules" name="assignPairPoules" value="" style="display:none;">
    <input id="assignLeaders" name="assignLeaders" value="" style="display:none;">
	 <button id="saveFinite" class="btn btn-default center-block" type="submit" onclick="save()" style="display:none" value="saveFinite" name="action"></button>
    </form>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title center">Confirmation validation</h4>
        </div>
        <div class="modal-body">
			<p id="textModalSameTerrain" >ATTENTION: Certains poules ont utilisent le même terrain!</p>
			<p id="textModalTerrain" >Veuillez mettre un terrain pour chaques poules</p>
			<p id="textModalLeader" >Veuillez mettre un leader pour chaques poules</p>
          <p id="textModalConfirm">Etes-vous sûr de valider la formations des groupes de ce tournoi ?</p>

            <ul class="list-inline text-center">
                <li>
                    <button type="button" class="btn btn-default" id="yesModel" onclick="document.getElementById('saveFinite').click()">oui</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default" data-dismiss="modal">non</button>
                </li>
            </ul>
        </div>
      </div>

    </div>
  </div>

{% endblock %}


{% block commande %}
{% load static from staticfiles %}
<script src="{% static 'tennis/js/poules.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5lEleQslU1oemC3rf67mvETJrqOjKrFE&libraries=geometry"></script>

<script>


//Creation de la liste des paires
var PairList = [] ;
var TerrainList = [];
var PairDict = {};
{% for key, value in pairListAll.items %}
    PairDict[{{key}}] = []
    {% for elem in value %}
    /*
        var nom1 = '{{elem.user1.participant.smallName}}'+" "+'{{elem.user1.participant.classement}}';
        var nom2 = '{{elem.user2.participant.smallName}}'+" "+'{{elem.user1.participant.classement}}';

    */
        var nom1 = '{{elem.user1.participant.prenom }}'+" "+'{{elem.user1.participant.nom}}';
        var nom2 = '{{elem.user2.participant.prenom }}'+" "+'{{elem.user2.participant.nom}}';

		var Lat1 = '{{elem.user1.participant.latitude}}'
		var Lng1 = '{{elem.user1.participant.longitude}}'
		var Lat2 = '{{elem.user2.participant.latitude}}'
		var Lng2 = '{{elem.user2.participant.longitude}}'

        var p = {id:'{{elem.id}}', user1:nom1,user2:nom2, age1:'{{elem.user1.age}}', age2:'{{elem.user2.age}}', comment:'{{elem.commentaires}}', titre1:'{{elem.user1.participant.titre}}', titre2:'{{elem.user2.participant.titre}}',lat1:Lat1,lng1:Lng1,lat2:Lat2,lng2:Lng2};
        PairDict[{{key}}].push(p);
        PairList.push(p);
    {% endfor %}
{% endfor %}

{% for elem in listTerrains %}
var addr = '{{elem.rue}}'+ ", "+'{{elem.numero}}'+"<br>"+'{{elem.codepostal}}'+ " "+'{{elem.localite}}';
var Lat = '{{elem.latitude}}'
var Lng = '{{elem.longitude}}'
TerrainList.push({id:'{{elem.id}}', user:'{{elem.user.participant.nom}}',matiere:'{{elem.matiere}}',addr:addr,lat:Lat,lng:Lng})

{% endfor %}

var terrainSaved = []
{% for elem in listTerrainSaved %}
var addr = '{{elem.rue}}'+ ", "+'{{elem.numero}}'+"<br>"+'{{elem.codepostal}}'+ " "+'{{elem.localite}}';
var Lat = '{{elem.latitude}}'
var Lng = '{{elem.longitude}}'
terrainSaved.push({id:'{{elem.id}}', user:'{{elem.user.participant.nom}}',matiere:'{{elem.matiere}}',addr:addr,lat:Lat,lng:Lng})
{% endfor %}
var leaderSaved = []
{% for elem in listLeaderSaved %}
var fullname = '{{ elem.participant.prenom }}' + ' ' + '{{ elem.participant.nom }}'
leaderSaved.push({fullname:fullname})
{% endfor %}

//on ajout la liste des pair dans le cache
setPairList(PairList,TerrainList);
setPairDict(PairDict);
//On set les poules pour en avoir max 6 par poules
{% if saved %}
mySetPoules({{defaultValue}}, {{defaultSize}});
{% else %}
setPoules({{defaultValue}});
{% endif %}
//updatePanel(1);

//Listener sur le nombre de pair
$('#poulesNumber').on('input', function() {
    var nbr = document.getElementById("poulesNumber").value;

    //test if there is to much poules or to few
    if(nbr > PairList.length){
        document.getElementById("poulesNumber").value = PairList.length;
        nbr = PairList.length;
    }else if (nbr < 1 ){
        document.getElementById("poulesNumber").value = 1;
        nbr = 1;
    }

    setPoules(nbr)

    ;
});

//Listener sur le size des poules
$('#poulesSize').on('input', function() {
    var nbr = document.getElementById("poulesSize").value;
    //test if there is to much paires by poules or to few
    if(nbr > PairList.length){
        document.getElementById("poulesNumber").value = PairList.length;
        nbr = PairList.length;
    }else if (nbr < 1 ){
        document.getElementById("poulesNumber").value = 1
        nbr = 1;
    }

    setPoules2(nbr)
});

function save() {
    document.getElementById("assignTerrains").value = ""
    document.getElementById("assignPairPoules").value = ""
    document.getElementById("assignLeaders").value = ""
    var nbr = document.getElementById("poulesNumber").value;
    var poulesDict = {};
    for (var i = 0; i < nbr ; i++) {
        var poule = {}
        poule['leader'] = document.getElementById("Leader"+(i+1)).value;
        poule['terrainID'] = document.getElementById("ID"+(i+1)).textContent;
        poule['pairList'] = [];
        poulesDict[''+i] = poule;
        // TODO : Check si le leader et le terrainID sont valides
    }
    for (var i = 0; i < PairList.length ; i++) {
        // On link les paires aux ID des poules
        var id = "" + document.getElementById(""+PairList[i].id).parentNode.parentNode.parentNode.id;
        id = id.replace("list", "");
        poulesDict[''+(id-1)]['pairList'].push(PairList[i]);
    }
    for (var i = 0; i < nbr ; i++) {
         document.getElementById("assignTerrains").value += poulesDict[''+i]['terrainID'] + '-';
         document.getElementById("assignPairPoules").value += '[' + i + ']-'
         for (var j = 0 ; j < poulesDict[''+i]['pairList'].length ; j++) {
            document.getElementById("assignPairPoules").value += poulesDict[''+i]['pairList'][j].id + '-';
         }
         document.getElementById("assignLeaders").value += poulesDict[''+i]['leader'] + '/';
    }
   /* for (var i = 0; i < nbr ; i++) {
        alert("Poule " + i);
        alert("Leader : " +poulesDict[''+i]['leader']);
        alert("Terrain : " + poulesDict[''+i]['terrainID']);
        alert("Premier joueur " + poulesDict[''+i]['pairList'][0]['user1']);
    }*/
    // TODO : Faire les e-mails
}
function checkValues()
{
	document.getElementById("textModalSameTerrain").style.display = "none";
	document.getElementById("textModalTerrain").style.display = "none";
	document.getElementById("textModalLeader").style.display = "none";
	document.getElementById("textModalConfirm").style.display = "inherit";
	document.getElementById("yesModel").disabled = false;

	 var nbr = document.getElementById("poulesNumber").value;
    var poulesDict = {};
	var pouleID = new Array();
    for (var i = 0; i < nbr ; i++) {
        var poule = {}
        poule['leader'] = document.getElementById("Leader"+(i+1)).value;
        poule['terrainID'] = document.getElementById("ID"+(i+1)).textContent;
        poule['pairList'] = [];
        poulesDict[''+i] = poule;
		if(poule['terrainID'] == '-')
		{
			document.getElementById("textModalTerrain").style.display = "inherit";
			document.getElementById("textModalConfirm").style.display = "none";
			document.getElementById("yesModel").disabled = true;
		}
		else
		{
			for(var j=0;j<pouleID.length;j++)
			{
				if(pouleID[j] == poule['terrainID'])
				{
					document.getElementById("textModalSameTerrain").style.display = "inherit";
				}
			}

			pouleID.push(document.getElementById("ID"+(i+1)).textContent);
		}
		if(poule['leader'] == "Choisir un leader" || poule['leader'] == "")
		{
			document.getElementById("textModalLeader").style.display = "inherit";
			document.getElementById("textModalConfirm").style.display = "none";
			document.getElementById("yesModel").disabled = true;
		}

    }
}

function terrainAssignement()
{

	/* DEBUT COPIER COLLER */
    document.getElementById("assignTerrains").value = ""
    document.getElementById("assignPairPoules").value = ""
    document.getElementById("assignLeaders").value = ""
    var nbr = document.getElementById("poulesNumber").value;
    var poulesDict = {};
    for (var i = 0; i < nbr ; i++) {
        var poule = {}
        poule['leader'] = document.getElementById("Leader"+(i+1)).value;
        poule['terrainID'] = document.getElementById("ID"+(i+1)).textContent;
        poule['pairList'] = [];
        poulesDict[''+i] = poule;
        // TODO : Check si le leader et le terrainID sont valides
    }
    for (var i = 0; i < PairList.length ; i++) {
        // On link les paires aux ID des poules
        var id = "" + document.getElementById(""+PairList[i].id).parentNode.parentNode.parentNode.id;
        id = id.replace("list", "");
        poulesDict[''+(id-1)]['pairList'].push(PairList[i]);
    }
    for (var i = 0; i < nbr ; i++) {
         document.getElementById("assignTerrains").value += poulesDict[''+i]['terrainID'] + '-';
         document.getElementById("assignPairPoules").value += '[' + i + ']-'
         for (var j = 0 ; j < poulesDict[''+i]['pairList'].length ; j++) {
            document.getElementById("assignPairPoules").value += poulesDict[''+i]['pairList'][j].id + '-';
         }
         document.getElementById("assignLeaders").value += poulesDict[''+i]['leader'] + '/';
    }
	/* FIN COPIER COLLER */
	/* Accéder à la première paire de la première poule */
	// poulesDict['1']['pairList'][0]
	/* Fin accéder à la premiere ... */
	//alert(poulesDict['1']['pairList'][0].u2addr);

	listAddr = [];
	dico = {};
	for(var j=0;j<TerrainList.length;j++){
				dico[TerrainList[j].id] = {};
				totalDistanceTerrain = 0;
				var terrainLat = TerrainList[j].lat;
				var terrainLng = TerrainList[j].lng;
				var terrainlatLng = new google.maps.LatLng(parseFloat(terrainLat.replace(",", ".")), parseFloat(terrainLng.replace(",", ".")))
					for(var key in poulesDict){

						var totalDistanceTerrain = 0;

						for(var i = 0;i<poulesDict[key]['pairList'].length;i++){

							var user1Lat = poulesDict[key]['pairList'][i].lat1;
							var user1Lng = poulesDict[key]['pairList'][i].lng1;
							var user2Lat = poulesDict[key]['pairList'][i].lat2;
							var user2Lng = poulesDict[key]['pairList'][i].lng2;
							var latLng1 = new google.maps.LatLng(parseFloat(user1Lat.replace(",", ".")), parseFloat(user1Lng.replace(",", ".")));
							var latLng2 = new google.maps.LatLng(parseFloat(user2Lat.replace(",", ".")), parseFloat(user2Lng.replace(",", ".")));
							var distance1 = google.maps.geometry.spherical.computeDistanceBetween(latLng1, terrainlatLng);
							var distance2 = google.maps.geometry.spherical.computeDistanceBetween(latLng2, terrainlatLng);
							totalDistanceTerrain = totalDistanceTerrain + distance1 + distance2;
							//alert(distance1);
							//alert(distance2);
						}
					//alert("total");
					//alert(totalDistanceTerrain);
					dico[TerrainList[j].id][key] = totalDistanceTerrain;

					}

	}

	//On a toutes les distance des poules au terrainmatieannt on va assigner les terrains

	alreadyTaken = [];
	for(var key in dico[key]){
		var minDistance =  Number.MAX_VALUE;
		var index = -1;
		for (var key2 in dico){
			console.log(key2);
			console.log(dico[key2][key]);
			if(minDistance > dico[key2][key] && (alreadyTaken.indexOf(key2-1) ==-1 || alreadyTaken.length == TerrainList.length)){

				minDistance = dico[key2][key];
				index = key2-1;

			}
		}
		//Assigner le terrain index a la poule key par html brole
		//console.log(key);
		//console.log("Poule "+key+" with terrain "+index);
		setInfoTerrain(TerrainList[index].user,TerrainList[index].matiere,TerrainList[index].addr,TerrainList[index].id,parseInt(key)+1);
		document.getElementById("empreinte"+(parseInt(key)+1)).innerHTML = Math.round(minDistance)/1000;
		alreadyTaken.push(index);
	}

}
function autogen(){

	/* DEBUT COPIER COLLER */
    document.getElementById("assignTerrains").value = ""
    document.getElementById("assignPairPoules").value = ""
    document.getElementById("assignLeaders").value = ""
    var nbr = document.getElementById("poulesNumber").value;
    var poulesDict = {};
    for (var i = 0; i < nbr ; i++) {
        var poule = {}
        poule['leader'] = document.getElementById("Leader"+(i+1)).value;
        poule['terrainID'] = document.getElementById("ID"+(i+1)).textContent;
        poule['pairList'] = [];
        poulesDict[''+i] = poule;
        // TODO : Check si le leader et le terrainID sont valides
    }
    for (var i = 0; i < PairList.length ; i++) {
        // On link les paires aux ID des poules
        var id = "" + document.getElementById(""+PairList[i].id).parentNode.parentNode.parentNode.id;
        id = id.replace("list", "");
        poulesDict[''+(id-1)]['pairList'].push(PairList[i]);
    }
    for (var i = 0; i < nbr ; i++) {
         document.getElementById("assignTerrains").value += poulesDict[''+i]['terrainID'] + '-';
         document.getElementById("assignPairPoules").value += '[' + i + ']-'
         for (var j = 0 ; j < poulesDict[''+i]['pairList'].length ; j++) {
            document.getElementById("assignPairPoules").value += poulesDict[''+i]['pairList'][j].id + '-';
         }
         document.getElementById("assignLeaders").value += poulesDict[''+i]['leader'] + '/';
    }
	/* FIN COPIER COLLER */
	/* Accéder à la première paire de la première poule */
	// poulesDict['1']['pairList'][0]
	/* Fin accéder à la premiere ... */
	//alert(poulesDict['1']['pairList'][0].u2addr);
	var distanceMatrix = new Array(PairList.length);
	for(var i=0;i<PairList.length;i++){
		distanceMatrix[i] = new Array(TerrainList.length);
		var user1Lat = PairList[i].lat1;
		var user1Lng = PairList[i].lng1;
		var user2Lat = PairList[i].lat2;
		var user2Lng = PairList[i].lng2;
		var latLng1 = new google.maps.LatLng(parseFloat(user1Lat.replace(",", ".")), parseFloat(user1Lng.replace(",", ".")));
		var latLng2 = new google.maps.LatLng(parseFloat(user2Lat.replace(",", ".")), parseFloat(user2Lng.replace(",", ".")));
		for(var j=0;j<TerrainList.length;j++){
			var terrainLat = TerrainList[j].lat;
			var terrainLng = TerrainList[j].lng;
			var terrainlatLng = new google.maps.LatLng(parseFloat(terrainLat.replace(",", ".")), parseFloat(terrainLng.replace(",", ".")));

			var distance1 = google.maps.geometry.spherical.computeDistanceBetween(latLng1, terrainlatLng);
			var distance2 = google.maps.geometry.spherical.computeDistanceBetween(latLng2, terrainlatLng);
			var totalDistancePair = distance1+distance2;

			distanceMatrix[i][j] = totalDistancePair;

		 }

	}
	greedySolution(distanceMatrix,document.getElementById("poulesNumber").value);

}

function greedySolution(matrix,nbrPoule){
	//On calcule le nombre de pair dans chaque poule. Et si le nombre de pai par divible par le nombre poule on calcule le nombre de pair dans la derniere poule
	var pairParPoule = Math.ceil(matrix.length/nbrPoule);
	var lastpoule = matrix.length-(pairParPoule * (nbrPoule-1));
	var nPairInPoule = new Array(parseInt(nbrPoule));
	for(var i =0;i<nPairInPoule.length;i++){
		nPairInPoule[i] = 0;
	}
	var indexTab = 0;
	for(var i =0;i<matrix.length;i++){
		
		nPairInPoule[indexTab % nPairInPoule.length]++;
		indexTab++;
	}
	console.log(nPairInPoule)

	
	var closestCourt = new Array(matrix.length);
	for(var i = 0;i<matrix.length;i++){
		closestCourt[i] = new Array(matrix[i].length);
		
		for(var j =0;j<matrix[i].length;j++){
			closestCourt[i].push([j,matrix[i][j]]);
			
		}
			closestCourt[i].sort(function(a, b){return a[1]-b[1]});
			
	}
	
	var valueCourt = new Array(matrix[0].length);
	for(var i=0;i<valueCourt.length;i++){
		valueCourt[i] = [i,0];
	}	
	for(var i =0;i<matrix.length;i++){
		for(var j=0;j<matrix[i].length;j++){
			//console.log(closestCourt[i][j][0]);
			valueCourt[closestCourt[i][j][0]][1] += j;
			//console.log(valueCourt[closestCourt[i][j][0]]);
			
		}
	}
	console.log(valueCourt);
	listTerrain = new Array(nbrPoule);
	valueCourt.sort(function(a, b){return a[1]-b[1]});
	for(var i=0;i<nbrPoule;i++)
	{
		listTerrain[i] = valueCourt[i][0];
	}
	console.log(listTerrain);
	
	
	//On rajoute les pairs aux terrains choisis
	pairInPoule = new Array(parseInt(nbrPoule));
	kmParPoule = new Array(parseInt(nbrPoule));
	console.log(pairInPoule);
	for(var i=0;i<kmParPoule.length;i++){
		kmParPoule[i] =0;
	}
	
	alreadyIn = [];
	for(var i =0;i<listTerrain.length;i++){
		var nInPoule = nPairInPoule[i];
		
		pairInPoule[i] = [];
		for(var j=0;j<matrix[0].length;j++){
			for(var x=0;x<matrix.length;x++){
				//console.log(x+" "+j);
				//console.log(pairInPoule[i].length);
				if(closestCourt[x][j][0] == listTerrain[i] && alreadyIn.indexOf(x) == -1 && pairInPoule[i].length < nInPoule)
				{
					kmParPoule[i] = kmParPoule[i] + matrix[x][listTerrain[i]];
					pairInPoule[i].push(x);
					alreadyIn.push(x);
				}
				
			}
		}
		
	}
console.log(kmParPoule);
console.log(pairInPoule);
var maxnbrInPoule = pairInPoule[0].length
document.getElementById("poulesDiv").innerHTML = "";

for(var i =0;i<nbrPoule;i++)
{
	var panel = createPanel(i+1);
	document.getElementById("poulesDiv").appendChild(panel);

	for(var j=0;j<pairInPoule[i].length;j++){
			var p = createPair(pairList[pairInPoule[i][j]]);
			document.getElementById("list"+(i+1)).appendChild(p);

			//List
			var nom1 = pairList[pairInPoule[i][j]].user1;
			var nom2 = pairList[pairInPoule[i][j]].user2;
			document.getElementById("Leader"+(i+1)).appendChild(getOption(nom1));
			document.getElementById("Leader"+(i+1)).appendChild(getOption(nom2));
			document.getElementById("Leader"+(i+1)).appendChild(getSpaceOption());
	}
	if(pairInPoule[i].length < maxnbrInPoule){
		var p = createEmptyPair(i+"-"+j);
		document.getElementById("list"+(i+1)).appendChild(p);
	}
	
}
setTerrains(nbrPoule);

for(var i=0;i<nbrPoule;i++){
listTerrain[i]
setInfoTerrain(TerrainList[listTerrain[i]].user,TerrainList[listTerrain[i]].matiere,TerrainList[listTerrain[i]].addr,TerrainList[listTerrain[i]].id,i+1);
document.getElementById("empreinte"+(i+1)).innerHTML = Math.round(kmParPoule[i])/1000;

}

terrainAssignement()


	
	
	
	
	

	
	
	
	

}


</script>
{% endblock %}
