{% extends "tennis/staff.html" %}

{% block title %}{{ tournoi.nom }}{% endblock %}
{% block ongTournoi %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des groupes -->
<div class="content-box" id="gestionTournoi">
    <h2 class="center">{{ tournoi.nom }}</h2>
    <hr class="line">
    <form class="form-horizontal" action="">
        <div class="panel panel-default">
            <div class="panel-heading">Configuration</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-2">
                        <label class="control-label col-sm-8">Nombre de paires</label>
                        <div class="col-sm-4">
                            <p class="info">{{ pair|length }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-8">Nombre de poules</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="number" value="{{ defaultValue }}" id="poulesNumber">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    <div class="row" style="margin-top:20px;" id="poulesDiv">
        {% for key, paires in pairListAll.items %}
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <label class="control-label col-xs-4">Poule {{ key }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" name="Leader" id="Leader{{key}}">
                                <option disabled selected>Choisir un leader</option>
                                {% for elem in paires %}
                                <option value="{{ elem.user1.participant.prenom }} {{ elem.user1.participant.nom }}">{{ elem.user1.participant.prenom }} {{ elem.user1.participant.nom }}</option>
                                <option value="{{ elem.user2.participant.prenom }} {{ elem.user2.participant.nom }}">{{ elem.user2.participant.prenom }} {{ elem.user2.participant.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                    </div>
                </div>
                <div class="list-group">
                    {% for elem in paires %}
                    <div class="dropBox" ondragover="allowDrop(event)" ondrop="drop(event)" style="padding-left:10px;padding-right:10px;padding-top:3px; padding-bottom:3px;">
                        <div id="{{ elem.id }}" draggable="true" ondragstart="drag(event)">
                            <div class="zone">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <b style="color:#222">
                                        {% if elem.user1.participant.titre == "Mr" %}
                                        <i class="fa fa-male"></i> 
                                        {% else %}
                                        <i class="fa fa-female"></i>
                                        {% endif %}
                                        </b> {{ elem.user1.participant.prenom }} {{ elem.user1.participant.nom }} ({{ elem.user1.age }} ans)<br>
                                        <b style="color:#222">
                                        {% if elem.user2.participant.titre == "Mr" %}
                                            <i class="fa fa-male"></i>
                                            {% else %}
                                            <i class="fa fa-female"></i>
                                            {% endif %}
                                        </b> {{ elem.user2.participant.prenom }} {{ elem.user2.participant.nom }} ({{ elem.user2.age }} ans)
                                    </div>
                                    <div class="col-xs-2">
                                        {% if elem.commentaires %}
                                        <a href="javascript:void(0);" data-toggle="popover" data-html="true" data-placement="left" data-content="{{ elem.commentaires }}">
                                            <b style="color:#222;"><i class="fa fa-file-text-o fa-2x"></i></b>
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if key == defaultValue %}
                        {% for elem in complement %}
                        <div class=" dropBox" ondragover="allowDrop(event)" ondrop="drop(event)" style="padding-left:10px;padding-right:10px;padding-top:3px; padding-bottom:3px;">
                            <div id="bidon{{elem}}" draggable="true" ondragstart="drag(event)">
                            <p class="zone"> <br><br></p>
                        </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
        <button class="btn btn-default center-block">Enregistrer</button>

    </form>
</div>

{% endblock %}


{% block commande %}
{% load static from staticfiles %}
<script src="{% static 'tennis/js/poules.js' %}" type="text/javascript"></script>

<script>

var PairList = [] ;

{% for elem in pair %}
var nom1 = {{ elem.user1.participant.prenom }} + " "+{{ elem.user1.participant.nom }};
alert(nom1);
/*
var nom2 = {{ elem.user2.participant.prenom }}+ " "+{{ elem.user2.participant.nom }};
var p = {user1:nom1,user2:nom2,age1:{{elem.user1.age}},age2:{{elem.user2.age}},comment:{{elem.commentaires}},titre1:{{user1.participant.titre}},titre2:{{user2.participant.titre}}};
PairList.push(p);*/
{% endfor %}

setPairList(PairList);

alert(PairList.length)


</script>
{% endblock %}
    