{% extends "tennis/staff.html" %}

{% block title %}{{ tournoi.nom }}{% endblock %}
{% block ongTournoi %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des groupes -->
<div class="content-box" id="gestionTournoi">
    <h2 class="center">{{ tournoi.nom }}</h2>
    <hr class="line">
    <form class="form-horizontal" action="">
        <div class="panel panel-default">
            <div class="panel-heading">Configuration</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="control-label col-sm-8">Nombre de paires</label>
                        <div class="col-sm-4">
                            <p class="info">{{ pair|length }}</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-8">Nombre de terrains disponible</label>
                        <p class="info">{{ nbrTerrains }}</p>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-8">Nombre de poules</label>
                        <div class="col-sm-4">
                            <input class="form-control" style="min-width:50px;max-width:100px;" type="number" value="{{ defaultValue }}" id="poulesNumber">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label col-sm-8">Taille des poules</label>
                        <div class="col-sm-4">
                            <input class="form-control" style="min-width:50px;max-width:100px;" type="number" value="6" id="poulesSize">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

    <div class="row" style="margin-top:20px;" id="poulesDiv">
    </div>
    
        <button class="btn btn-default center-block">Enregistrer</button>

    </form>
</div>

{% endblock %}


{% block commande %}
{% load static from staticfiles %}
<script src="{% static 'tennis/js/poules.js' %}" type="text/javascript"></script>

<script>

//Creation de la liste des paires
var PairList = [] ;
var TerrainList = [];

{% for elem in allPair %}

var nom1 = '{{ elem.user1.participant.prenom }}' +" "+'{{ elem.user1.participant.nom }}';
var nom2 = '{{ elem.user2.participant.prenom }}'+" "+'{{ elem.user2.participant.nom }}';

var p = {id:'{{elem.id}}',user1:nom1,user2:nom2,age1:'{{elem.user1.age}}',age2:'{{elem.user2.age}}',comment:'{{elem.commentaires}}',titre1:'{{elem.user1.participant.titre}}',titre2:'{{elem.user2.participant.titre}}'};
PairList.push(p);

{% endfor %}
{% for elem in listTerrains %}

TerrainList.push({id:'{{elem.id}}', user:'{{elem.user.participant.nom}}'})

{% endfor %}

//on ajout la liste des pair dans le cache
setPairList(PairList);

//On set les poules pour en avoir max 6 par poules
setPoules({{defaultValue}});
setTerrains(TerrainList, {{defaultValue}});
//updatePanel(1);

//Listener sur le nombre de pair
$('#poulesNumber').on('input', function() { 
    var nbr = document.getElementById("poulesNumber").value;
    setPoules(nbr);
});

//Listener sur le size des poules
$('#poulesSize').on('input', function() { 
    var nbr = document.getElementById("poulesSize").value;
    var poules = Math.ceil(PairList.length/nbr);
    setPoules(poules);
});
</script>
{% endblock %}
    
