{% extends "tennis/base.html" %}
{% load staticfiles%}


{% block body %}
<head>
<style>tr td {
  background-color: #FFFFFF;
  text-align: center;
}

tr:hover td {
    background-color: #cecece;
}

th {
  padding:5px;
  text-align: center;
}

.table {
  float:left;
  margin: 0 0 10px 10px;
  width:32%;
  <!-- display: inline-block; -->
}	

.group-box {
  overflow:auto;
}

.form-horizontal .control-label{
text-align:left;
}
</style>
</head>

<div class="container">
	<br>
	<div class="content-box">
	   <h4>Configuration des groupes</h4>
	   <hr class="line">
	   <div class="form-horizontal">
            <div class="form-group">
            <label for="tournoi" class="control-label col-sm-3">Sélectionner un tournoi:</label>
            <div class="col-sm-3"><select class="form-control" name="type_tournoi">
	        <option>Tournoi 1</option>
	        <option>Tournoi 2</option>
	        </select></div>
	        </div>
            
            <div class="form-group">
            <label for="tournoi" class="control-label col-sm-3">Nombre de poule(s):</label>
            <div class="col-sm-3"><input class="form-control" type="number" id="group_num" min="1" value="1" name="group num"></div>
	        </div>
	        
	        <div class="form-group">
            <label for="tournoi" class="control-label col-sm-3">Nombre de paires par poule:</label>
            <div class="col-sm-3"><input class="form-control" type="number" id="group_size" min="1" value="1" ></div>
	        </div>  
       </div>
	   <br>
	   <button id="create" style="float:right" class="btn btn-default">Générer les groupes</button>
	</div>
	
	<div class="content-box" id="group-box" style="visibility:hidden">
	<h4>Groupes du tournoi</h4>
	<hr class="line">
	<div class="group-box" id="liste_groupes"></div>
	<br><hr class="line"><br>
	<div class="form-horizontal">
        <div class="form-group">
        <label for="groupe_id1" class="control-label col-sm-2">Groupe 1 ID:</label>
        <div class="col-sm-2"><input id="group1_id" class="form-control" type="number" name="group 1"></div>      
        <label for="groupe_index1" class="control-label col-sm-2">Groupe 1 Index:</label>
        <div class="col-sm-2"><input id="group1_index" class="form-control" type="number" name="index 1"></div>
        <div class="col-sm-3"><button id="swap" style="float:right" class="btn btn-default">Swap</button></div>
        </div>
        
        <div class="form-group">
        <label for="groupe_id2" class="control-label col-sm-2">Groupe 2 ID:</label>
        <div class="col-sm-2"><input id="group2_id" class="form-control" type="number" name="group 2"></div>
        <label for="groupe_index2" class="control-label col-sm-2">Groupe 2 Index:</label>
        <div class="col-sm-2"><input id="group2_index" class="form-control" type="number" name="index 2"></div>
        <div class="col-sm-3"><button id="register" style="float:right" class="btn btn-default">Enregistrer les groupes</button></div>
        </div>
    </div>
    
	</div>
	
	<script>
		var pairs = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm'];
		var courts = ['01', '02', '03', '04'];
		//document.getElementById("pairs").textContent=pairs.toString();
		//document.getElementById("courts").textContent=courts.toString();
		this.tournament = new Tournament(pairs, courts);
		
		document.getElementById("create").addEventListener('click', function() {
				 var group_num = document.getElementById("group_num").value;
				 var group_size = document.getElementById("group_size").value;
			
				 if (group_num != undefined && group_size != undefined) {
					tournament.create_empty_groups(group_num, group_size);
					tournament.try_naively_fill_groups();
					tournament.try_naively_select_group_leaders()
				 }
			
				 var list = tournament.groups;
				 var container = document.getElementById("liste_groupes");
			
				 while (container.firstChild){
					container.removeChild(container.firstChild);
				 }
			
				 var flag = false; 
				 if (group_num < list.length)
					flag = true; 
					
				 for (var index = 0; index < list.length; index++) {
					var group_display = document.createElement("table");
					group_display.className="table table-hover table-responsive panel panel-default";
					var group_name = document.createElement("th");
					group_name.colSpan = 2;
					group_name.className="panel panel-heading";
				
					if(index == list.length-1 && flag)
					   group_name.innerHTML = "Groupe des paires non attribuées"; 
					else 
					   group_name.innerHTML = "Groupe n° " + (index+1);
					
					group_display.appendChild(group_name);
					var numRows = group_display.rows.length;
					for (var j = 0; j < list[index].pairs.length; j++) {
					   var pair_row = group_display.insertRow(numRows);
					   pair_row.insertCell(0).innerHTML = "<b>ID</b>";
					   pair_row.insertCell(1).innerHTML = list[index].pairs[j];
					   pair_row.cells[0].style.width="50%";
					   pair_row.draggable="true";
					   if(list[index].pairs[j] == list[index].leader)
						   pair_row.className="danger";
					   numRows++;
					}
					
					var court_row = group_display.insertRow(numRows);
					court_row.insertCell(0).innerHTML = "<b>Terrain n°</b>";
					if (list[index].court != undefined) 
					   court_row.insertCell(1).innerHTML = list[index].court;
					else 
					   court_row.insertCell(1).innerHTML = "Pas de terrain";
					
					container.appendChild(group_display);
				 }
				 document.getElementById("group-box").style.visibility = "visible";
			}, false);
			
		document.getElementById("swap").addEventListener('click', function(){
				var g1_id = document.getElementById("group1_id").value;
				var g2_id = document.getElementById("group2_id").value;
				var g1_index = document.getElementById("group1_index").value;
				var g2_index = document.getElementById("group2_index").value;
				if (g1_id != undefined && g2_id != undefined && g1_index!= undefined && g2_index != undefined) {
					tournament.try_swap_pairs_in_groups(g1_id, g2_id, g1_index, g2_index);
					//TO DO : Swap graphique
				}
			}, false);
	</script>
</div>
{% endblock %}