{% extends "tennis/base.html" %}

{% block title %}Tournoi de tennis{% endblock %}
{% block nav-home %}class="active"{% endblock %}

{% block body %}
{% load static from staticfiles %}
<div class="container">
	<div class="row">
		<div class="col-lg-8">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
		            <!-- Indicators -->
		            <ol class="carousel-indicators">
		              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		              <li data-target="#myCarousel" data-slide-to="1"></li>
		              <li data-target="#myCarousel" data-slide-to="2"></li>
		              <li data-target="#myCarousel" data-slide-to="3"></li>
		              <li data-target="#myCarousel" data-slide-to="4"></li>
		            </ol>

		            <!-- Wrapper for slides -->
		            <div class="carousel-inner" role="listbox">
		              <div class="item active">
		                <img src="{% static 'tennis/img/cover0.jpg' %}" alt="cover 1" width="857" height="350">
		              </div>

		              <div class="item">
		                <img src="{% static 'tennis/img/cover1.jpg' %}" alt="cover 2" width="857" height="350">
		              </div>
		            
		              <div class="item">
		                <img src="{% static 'tennis/img/cover2.jpg' %}" alt="cover 3" width="857" height="350">
		              </div>

		              <div class="item">
		                <img src="{% static 'tennis/img/cover3.jpg' %}" alt="cover 4" width="857" height="350">
		              </div>

		              <div class="item">
		                <img src="{% static 'tennis/img/cover4.jpg' %}" alt="cover 5" width="857" height="350">
		              </div>
		            </div>

		            <!-- Left and right controls -->
		            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		              <span class="sr-only">Previous</span>
		            </a>
		            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		              <span class="sr-only">Next</span>
		            </a>
		          </div>
		</div>
		<div class="col-lg-4">
			<div class="content-box timer">
				<h2 class="center">42ème édition</h2>
				<hr class="line">
					<script type="application/javascript">
                var date = new Date(2016,9,10,12,00,00,00);
                var now = new Date();
                var timer = (date.getTime() - now.getTime())/1000;
                var myCountdown1 = new Countdown({
                                                    time: timer,
                                                    width:280, 
                                                    height:50,  
                                                    rangeHi:"month",
                                                    style:"flip" 
                                                    });

            </script>
			</div>
			
		</div>
	</div>
	
	<div class="content-box">
		<h2 class="center">Le Charles de Lorraine</h2>
		<hr class="line">
		<div class="row">
			<div class="col-lg-8">
				<p>Le Charles de Lorraine a été fondé en 1974 par Monsieur et Madame Thierry de Ville de Goyet. Ils ont eu le soutien de Monsieur et Madame Francis Lagae et de Monsieur et Madame Thierry de Patoul pour se lancer dans cette grande aventure!</p>

				<p>Ce tournoi de tennis qui se voulait au départ le moyen de rassembler les habitants d'un même quartier est devenu très rapidement incontournable pour beaucoup de monde. En six ans, le nombre de joueurs est rapidement monté à plus de 900 joueurs. C'est en 1982, que le tournoi a été repris en main par Asmae au profit de ses projets. Le Charles de Lorraine a survécu aux années noires du tennis à la fin des années 80.</p>

				<p>Depuis de nombreuses années, le succès est toujours au rendez-vous avec au minimlum 1000 joueurs durant un week-end !</p>

				<p>Ce sont des équipes de jeunes bénévoles d'Asmae qui gèrent l'ensemble des activités proposées par le Charles de Lorraine.</p>
			</div>

			<div class="col-lg-4">
				<img class="img-responsive" src="{% static 'tennis/img/service.jpg' %}" alt="service">
			</div>
		</div>
		
		<!--
		
    -->
	</div>
</div>

{% endblock %}