{% extends "tennis/tournoi.html" %}

{% block title %}Inscription Tournoi{% endblock %}

{% block body %}
<div class="container">
	<div class="content-box">
		{% if errorAdd %}
		<div class="alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Error!</strong> {{ errorAdd }}
		</div>
		{% endif %}
		<h2 class="center">Inscription au tournoi</h2>
		<hr class="line">
		<form class="form-horizontal" name="registerForm" role="form" method="post" action="{% url "tennis.views.inscriptionTournoi" %}">
			{% csrf_token %}
			<div class="row">
				<div class="col-sm-6">
					
					<!-- Rechercher -->
					<div class="row" style="margin-bottom:15px;">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="input-group">
						      <input type="text" class="form-control" placeholder="Rechercher un utilisateur" id="user_search_value">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button" onclick="search_user()"><span class="glyphicon glyphicon-search"></span></button>
						      </span>
						    </div>
						</div>
					</div>  

					<!-- Liste des users -->
					<div class="panel panel-default center-block" style="max-width:600px;">
						<div class="panel-heading">Utilisateurs</div>
						<div class="table-responsive">
						<table class="table table-hover">
							<thead>
					          <tr>
					          	<th style="text-align:center">Sexe</th>
					            <th>Nom d'utilisateur</th>
					            <th>Prénom</th>
					            <th>Nom</th>
					            <th style="text-align:center">Age</th>
					            <th style="text-align:center">Cls</th>
					          </tr>
					        </thead>
					        <tbody id="UserList">
					        </tbody>
						</table>
						</div>
					</div>

					<!-- Info -->
					<p class="center" id="UserInfo"></p>

					<!-- Bottom pagination -->
					<div class="text-center" id="paginationholder">
					</div>

				</div>

				<div class="col-sm-6">
					<!-- Tournoi -->
					<div class="form-group" style="margin-bottom:0">
				      <label class="control-label col-sm-4">Tournoi : </label>
				      <div class="col-sm-8">
				      	<input id="tournoiLabel" name="title_tournoi" value="-" readonly style="font-weight:bold;padding-top:7px;border:0;color:#D4542D; background-color:transparent;">
				      </div>
				      
				    </div>

				    <div class="form-group" style="margin-bottom:0">
				      <label class="control-label col-sm-4">Jour : </label>
				      <div class="col-sm-8">
				      	<input id="jourLabel" value="-" readonly style="font-weight:bold;padding-top:7px;border:0;color:#D4542D; background-color:transparent;">
				      </div>
				    </div>

				    <div class="form-group">
				      <label class="control-label col-sm-4">Catégorie : </label>
				      <div class="col-sm-8">
				      	<input id="categorieLabel" name="categorie_tournoi" value="-" readonly style="font-weight:bold;padding-top:7px;border:0;color:#D4542D; background-color:transparent;">
				      </div>
				    </div>

					<!-- Joueur 1 -->
				    <div class="panel panel-default">
						<div class="panel-heading">Joueur 1</div>
						<div class="panel-body">
							<h4 class="center">[{{ user.username }}] {{ user.participant.prenom }} {{ user.participant.nom }} {{ user.age}} ans</h4>
						    <!-- Extra -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Extras : </label>
						      <div class="col-sm-8">
						      	{% for extra in extra1 %}
						      	<div class="checkbox">

							      <label><input type="checkbox" name = "extra" value="{{ extra.id }}" checked>{{ extra.nom }} ({{ extra.prix }} €)</label>
							    </div>
							    {% endfor %}
							{% for extra in extranot1 %}
						      	<div class="checkbox">

							      <label><input type="checkbox" name = "extra" value="{{ extra.id }}" >{{ extra.nom }} ({{ extra.prix }} €)</label>
							    </div>
							    {% endfor %}
						      </div>
						    </div>
						</div>
					</div>

					<!-- Joueur 2 -->
					<div class="panel panel-default">
						<div class="panel-heading">Joueur 2</div>
						<div class="panel-body">
							<input type="text" name="username2" id="username2Value" value="" style="display:none">
							<h4 class="center" id="user2"> Coéquipier </h4>
						    <!-- Extra -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Extras : </label>
						      <div class="col-sm-8">
						      	{% for extra in Ex %}
						      	<div class="checkbox">
							      <label><input type="checkbox" value="{{ extra.id }}" disabled>{{ extra.nom }} ({{ extra.prix }} €)</label>
							    </div>
							    {% endfor %}
						      </div>
						    </div>
						</div>
					</div>

					<!-- Info -->
					<label>Informations additionnelles (souhaits, remarques, ...) : </label>
					<textarea class="form-control" rows="3" name="remarque" id="remarque" placeholder="Remarque et/ou souhaits ..." style="margin-bottom:15px;">{{ comment1}}</textarea>

				</div>				
			</div>

			<!-- Inscription button -->
			<button class="btn btn-default center-block" id="InscriptionButton" style="margin-top:20px;" disabled>Inscription</button>
			
		</form>
		
	</div>
</div>

{% endblock %}


{% block commande %}
<script>
function pagination(list) {
    //Nombre d'entrée par page
    var pageLength = 10;
    //Nombre de page
    var total = Math.max(Math.ceil(list.length/pageLength), 1);
    //Notre pagination
    $('#paginationholder').html('');
    $('#paginationholder').html('<ul class="pagination" id="UserPagination"></ul>');
    $('#UserPagination').twbsPagination({
      totalPages: total,
      visiblePages: 5,
      onPageClick: function (event, page) {
      	//Lorsqu'on clique sur une page, on met à jour le contenu
	    //On met à jour la page en fonction du tournoi selectionné
	    setUser(page);
      }
    });
    //On met à jour les info (liste des users et longueur de chaque page)
    setUserListInfo(list,pageLength);

    //On met à jour la première page
    setUser(1);
}

//Recuperation et stockage de l'age et du sexe de l'utilisateur courant
user_age = '{{ user.age }}'
user_sexe = '{{ user.participant.titre }}'

//Recuperation des users et stockage dans un tableau
var userList = [];
{% for use in Use %}
//on ne stock pas sois meme dans la liste des joueurs
{% if  use.username != user.username and not use.is_staff %}
userList.push(['{{ use.username }}','{{ use.participant.prenom }}','{{ use.participant.nom }}','{{ use.participant.titre }}','{{ use.age }}','{{ use.participant.classement }}']);
{% endif %}
{% endfor %}

pagination(userList);

function search_user() {
    var retour = document.getElementById("user_search_value").value.sansAccent().toLocaleUpperCase();
    // Copie du tableau pour garder l'original
    var resultList = userList.slice();
    var nbr = resultList.length;
    for (var i = nbr-1; i >= 0 ; i--) {
        var myUser = resultList[i];
        var username = myUser[0].sansAccent().toLocaleUpperCase();
        var prenom = myUser[1].sansAccent().toLocaleUpperCase();
        var nom = myUser[2].sansAccent().toLocaleUpperCase();
        if (! (username.indexOf(retour) != -1 || prenom.indexOf(retour) != -1 || nom.indexOf(retour) != -1)) {
            resultList.splice(i, 1);
        }
    }
    pagination(resultList);
}
$('#user_search_value').on('input', function() { 
    search_user();
});
</script>
{% endblock %}

