{% extends "tennis/tournoi.html" %}

{% block title %}Inscription Tournoi{% endblock %}

{% block body %}
<div class="container">
	<div class="content-box">

		{% if errorAdd %}
		<div class="alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Error!</strong> {{ errorAdd }}
		</div>
		{% endif %}
		<h2 class="center">Inscription au tournoi</h2>

		<hr class="line">
		<form class="form-horizontal" name="registerForm" role="form" method="post" action="{% url "tennis.views.inscriptionTournoi" %}">
			{% csrf_token %}
			<div class="row">
				<div class="col-sm-6">
					<!-- Tournoi -->
					<div class="form-group">
				      <label class="control-label col-sm-4" for="tournoi">Tournoi : </label>
				      <div class="col-sm-8">
				      	<select class="form-control" name="tournoi" id="selector" value=" " onChange="setDescription('{{user.participant.titre}}','{{ user.participant.datenaissance }}');">
				      		<option value="" selected></option>
						
				      		{% for elem in Tour %}
				      		<option id="{{ elem.description }}" value="{{ elem.nom }}">{{ elem.nom }}</option>
				      		{% endfor %}
						</select>
						<p class="hint" id="hint-tournoi"></p>
				      </div>
				    </div>
				    <!-- Description -->
					<div class="form-group">
				      <label class="control-label col-sm-4" for="tournoi">Description : </label>
				      <div class="col-sm-8">
				      	<p class="info" id="Description"></p>
				      </div>
				    </div>
				</div>

				<div class="col-sm-6">
					<!-- Rechercher -->
					<div class="row" style="margin-bottom:15px;">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="input-group">
						      <input type="text" class="form-control" placeholder="Rechercher un utilisateur (todo)">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						      </span>
						    </div>
						</div>
					</div>  

					<!-- Liste des users -->
					<div class="panel panel-default center-block" style="max-width:600px;">
						<div class="panel-heading">Utilisateurs</div>
						<div class="list-group" id="UserList">
						</div>
					</div>

					<!-- Info -->
					<p class="center" id="UserInfo"></p>

					<!-- Bottom pagination -->
					<div class="text-center">
						<ul class="pagination" id="UserPagination">
						</ul>
					</div>

				</div>				
			</div>
			<div class="row">

				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">Joueur 1</div>
						<div class="panel-body">
							<h4 class="center">{{ user.participant.prenom }} {{ user.participant.nom }} ({{ user.username }})</h4>
						    <!-- Extra -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Extras : </label>
						      <div class="col-sm-8">
						      	{% for extra in extra1 %}
						      	<div class="checkbox">

							      <label><input type="checkbox" name = "extra" value="{{ extra.id }}" checked>{{ extra.nom }} ({{ extra.prix }} €)</label>
							    </div>
							    {% endfor %}
							{% for extra in extranot1 %}
						      	<div class="checkbox">

							      <label><input type="checkbox" name = "extra" value="{{ extra.id }}" >{{ extra.nom }} ({{ extra.prix }} €)</label>
							    </div>
							    {% endfor %}
						      </div>
						    </div>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">Joueur 2</div>
						<div class="panel-body">
							<input type="text" name="username2" id="username2Value" value="" style="display:none">
							<h4 class="center" id="user2"> Coéquipier </h4>
						    <!-- Extra -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Extras : </label>
						      <div class="col-sm-8">
						      	{% for extra in Ex %}
						      	<div class="checkbox">
							      <label><input type="checkbox" value="{{ extra.id }}" disabled>{{ extra.nom }} ({{ extra.prix }} €)</label>
							    </div>
							    {% endfor %}
						      </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
			<!-- Info -->
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<label>Informations additionnelles (souhaits, remarques, ...) : </label>
					<textarea class="form-control" rows="3" name="remarque" id="remarque" placeholder="Remarque et/ou souhaits ...">{{ comment1}}</textarea>
				</div>
			</div>

			<!-- Inscription button -->
			<button class="btn btn-default center-block" id="InscriptionButton" style="margin-top:20px;" disabled>Inscription</button>
			
		</form>
		
	</div>
</div>

{% endblock %}


{% block commande %}
<script>
//Recuperation des users et stockage dans un tableau
var userList = [];
{% for use in Use %}
//on ne stock pas sois meme dans la liste des joueurs
{% if  use.username != user.username %}
userList.push(['{{ use.username }}','{{ use.participant.prenom }}','{{ use.participant.nom }}','{{ use.participant.titre }}','{{ use.fb }}']);
{% endif %}
{% endfor %}

//Nombre d'entrée par page
var pageLength = 10;
//Nombre de page
var total = Math.ceil(userList.length/pageLength);
//Notre pagination
$('#UserPagination').twbsPagination({
  totalPages: total,
  visiblePages: 5,
  onPageClick: function (event, page) {
  	//Lorsqu'on click sur une page, on met à jours le contenu
	//On met à jours la page en fonction du tournoi selectionner
	setUserRestriction('{{user.participant.titre}}','{{ user.participant.datenaissance }}',page);
  }
});
//On met jours les info (liste des users et longueur de chaque page)
setUserListInfo(userList,pageLength);

//On met à jours la première page
setUser(1);
</script>
{% endblock %}

