{% extends "tennis/staff.html" %}

{% block title %}Knock Off : {{tournoi.nom}}{% endblock %}
{% block ongTournoi %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des groupes -->
<div class="content-box" id="gestionTournoi">
    <h2 class="center">Knock Out : {{tournoi.nom}}</h2>
    <hr class="line">
    <div class="panel panel-default">
        <div class="panel-heading">Poules</div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                  <tr>
                    {% for p in poules %}
                    <th>Poule {{p.id}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="table-responsive">
    <div class="center-block" id="my_gracket"></div>
    </div>

    </div>
    
    
    
</div>

{% endblock %}

{% block commande %}

<script type="text/javascript">
function setArbre(data,label){
    (function(win, doc, $){

      $("#my_gracket").gracket({ 
        src : data,
        canvasLineWidth : 2,      // adjusts the thickness of a line
        canvasLineGap : 10,        // adjusts the gap between element and line
        canvasLineCap : "round",  // or "square"
        canvasLineColor : "#D4542D", // or #HEX
        roundLabels : label
      });

    })(window, document, jQuery);
}

// Fake Data
var data = [
        [
          [ {"name" : "Erik Zettersten <br>&nbsp;Gean Luc", "id" : "erik-zettersten", "score" : 2 }, {"name" : "Andrew Miller<br>&nbsp;Gean Luc", "id" : "andrew-miller", "score" : 1} ],
          [ {"name" : "James Coutry", "id" : "james-coutry", "seed" : 3}, {"name" : "Sam Merrill", "id" : "sam-merrill", "seed" : 4}],
          [ {"name" : "Anothy Hopkins", "id" : "anthony-hopkins", "seed" : 5}, {"name" : "Everett Zettersten", "id" : "everett-zettersten", "seed" : 6} ],
          [ {"name" : "John Scott", "id" : "john-scott", "seed" : 7}, {"name" : "Teddy Koufus", "id" : "teddy-koufus", "seed" : 8}],
          [ {"name" : "Arnold Palmer", "id" : "arnold-palmer", "seed" : 9}, {"name" : "Ryan Anderson", "id" : "ryan-anderson", "seed" : 10} ],
          [ {"name" : "Jesse James", "id" : "jesse-james", "seed" : 1}, {"name" : "Scott Anderson", "id" : "scott-anderson", "seed" : 12}],
          [ {"name" : "Josh Groben", "id" : "josh-groben", "seed" : 13}, {"name" : "Sammy Zettersten", "id" : "sammy-zettersten", "seed" : 14} ],
          [ {"name" : "Jake Coutry", "id" : "jake-coutry", "seed" : 15}, {"name" : "Spencer Zettersten", "id" : "spencer-zettersten", "seed" : 16}]
        ], 
        [
          [ {"name" : "Erik Zettersten", "id" : "erik-zettersten", "seed" : 1}, {"name" : "James Coutry", "id" : "james-coutry", "seed" : 3} ],
          [ {"name" : "Anothy Hopkins", "id" : "anthony-hopkins", "seed" : 5}, {"name" : "Teddy Koufus", "id" : "teddy-koufus", "seed" : 8} ],
          [ {"name" : "Ryan Anderson", "id" : "ryan-anderson", "seed" : 10}, {"name" : "Scott Anderson", "id" : "scott-anderson", "seed" : 12} ],
          [ {"name" : "Sammy Zettersten", "id" : "sammy-zettersten", "seed" : 14}, {"name" : "Jake Coutry", "id" : "jake-coutry", "seed" : 15} ]
        ],
        [
          [ {"name" : "Erik Zettersten", "id" : "erik-zettersten", "seed" : 1}, {"name" : "Anothy Hopkins", "id" : "anthony-hopkins", "seed" : 5} ],
          [ {"name" : "Ryan Anderson", "id" : "ryan-anderson", "seed" : 10}, {"name" : "Sammy Zettersten", "id" : "sammy-zettersten", "seed" : 14} ]
        ],
        [
          [ {"name" : "Erik Zettersten", "id" : "erik-zettersten", "seed" : 1}, {"name" : "Ryan Anderson", "id" : "ryan-anderson", "seed" : 10} ]
        ],
        [
          [ {"name" : "Erik Zettersten", "id" : "erik-zettersten", "seed" : 1} ]
        ]
      ];

var label = ["1/8 finale","1/4 finale","1/2 finale", "Finale", "Gagnant"];

var initialData = [
        [
          [ {"name" : "<br />", "id":"pair-1"}, {"name" : "<br />", "id":"pair-2"} ],
          [ {"name" : "<br />", "id":"pair-3"}, {"name" : "<br />", "id":"pair-4"} ]
        ],
        [
          [ {"name" : "<br />", "id":"round2"}, {"name" : "<br />", "id":"round2"} ]
        ],
        [
          [ {"name" : "<br />", "id":"round3"} ]
        ]
      ];

var initialLabel = ["1/2 finale", "Finale", "Gagnant"];

//setArbre(data,label);

function setEmptyTree(size){
  var l = [];
  var jsonArbre = [];
  var count = 0
  for (var i = 0; i < size ; i++) {
    
    var jsonRound = [];
    var nbr = Math.pow(2,(size-i));
    if(nbr==2){
      l.push("Finale");
    }else{
      l.push("1/"+nbr/2+" finale");
    };
    
    for (var j = 0; j < nbr/2; j++) {
      var jsonDuel = [];
      jsonDuel.push({
        name: "TODO<br />&nbsp;TODO",
        id: count
      })
      count = count + 1;
      jsonDuel.push({
        name: "TODO<br />&nbsp;TODO",
        id: count
      })
      jsonRound.push(jsonDuel);
      count = count + 1;
    };
    jsonArbre.push(jsonRound);
  };

  var jsonLastRound = [];
  var jsonWinner = [];
  jsonWinner.push({
        name: "TODO<br />&nbsp;TODO",
        id: "todo"
  })
  jsonLastRound.push(jsonWinner);
  jsonArbre.push(jsonLastRound);
  l.push("Gagnant");
  setArbre(jsonArbre,l)
}

setEmptyTree(4);


  </script>

{% endblock %}
    