{% extends "tennis/base.html" %}

{% block title %}Ma page{% endblock %}
{% block nav-mapage %}class="active"{% endblock %}

{% block body %}

<div class="container">
<h1>SI user normal</h1>
<h2>Information sur les tournois</h2>
<p>Inscriptions à un/des tournois + affichage des tournoi déjà inscrit</p>
<p>Historique des match ? </p>
<p>Agenda ? </p>

<h2>Information sur les terrains</h2>
<p> Si aucun terrain enregistré => Avez vous un terrain de tennis que vous pourriez mettre à disposition pour un tournoi? => Enregistrer</p>
<p> Si un/plusieurs terrains enregistré => Info Mes Terrains et Activités sur mes terrains + explication</p>

<h1>SI Staff</h1>
<h2>Gestionnaire des tournois</h2>
<p>Selection du tournoi => </p>
<p>Selection de l'ETAT</p>
<p>Creation de pools</p>
<p>Encoder/modifier pools</p>
<p>Créer les tables d'élimination</p>
<p>Encoder ou modifier les tables d'élimination</p>

<h2>Gestionnaire des terrains</h2>
<p>Consulter les terrains validées</p>
<p>Consulter les terrains récemment enregistrés</p>

<h2>Gestionnaire des paires</h2>
<p>Consultation des paires pleinement inscrites</p>
<p>Consultation des paires récemment inscrites</p>

<h2>Gestionnaire des extras</h2>
<p>Editer les Extras</p>

</div>

{% endblock %}