{% extends "tennis/staff.html" %}

{% block title %}Poules {{poule.id}}{% endblock %}
{% block ongTournoi %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des groupes -->
<div class="content-box" id="gestionTournoi">
	<p class="hint" id="hint-poule"></p>
    <h2 class="center">Poules {{poule.id}}</h2>
    <hr class="line">
    <form action="{% url "tennis.views.pouleScore" poule.id %}" method="post" onsubmit="checkPouleScoreInput()">
	{% csrf_token %}
        <input type="text" name="poule" value="{{poule.id}}" style="display:none">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th></th>
                    {% for pair in poule.paires.all %}
                    <th style="text-align:center;min-width:120px;">{{pair.user1.participant.prenom}} {{pair.user1.participant.nom}} <br> {{pair.user2.participant.prenom}} {{pair.user2.participant.nom}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                    {% for pair in poule.paires.all %}
                    <tr>
                        <th style="text-align:center;vertical-align:middle">{{pair.user1.participant.prenom}} {{pair.user1.participant.nom}} <br> {{pair.user2.participant.prenom}} {{pair.user2.participant.nom}}</th>
                        {% for p in poule.paires.all %}
                        {% if pair == p %}
                        <td style="text-align:center;vertical-align:middle"><span class="glyphicon glyphicon-remove"></span></td>
                        {% else %}
                        <td style="text-align:center;vertical-align:middle;">
                            <div class="form-group" style="margin-top:5px;margin-bottom:5px;">
                                <div class="row">
                                    <ul class="list-inline center">
                                        <li style="margin:0;padding:0;"><input maxlength="2" type="text" name="{{pair.id}}-{{p.id}}"  class="sc {{pair.id}}-{{p.id}} form-control" style="max-width:50px;text-align:center"></li>
                                        <li>-</li>
                                        <li style="margin:0;padding:0;"><input maxlength="2"  type="text" class="sc {{p.id}}-{{pair.id}} form-control" style="max-width:50px;text-align:center"></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="list-inline text-center" style="margin-top:20px;">
            <li>

                <button class="btn btn-default"  value="save" name="action">Enregistrer</button>

            </li>
            <li>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" type="button" onclick="checkValues()">Valider</button>
				<button id="saveFinite" class="btn btn-default center-block" type="submit" onclick="save()" style="display:none" value="saveFinite" name="action"></button>
            </li>
        </ul>
        
    </form>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title center">Confirmation validation</h4>
        </div>
        <div class="modal-body">
			<p id="textModalScoreNotNumber" >Les scores doivent etre des chiffres</p>
			<p id="textModalEmptyScore" >Veuillez remplir tous les scores pour valider la poule</p>
          <p id="textModalConfirm">Etes-vous sûr de valider les scores de cette poules?</p>
        
            <ul class="list-inline text-center">
                <li>
                    <button type="button" class="btn btn-default" id="yesModal" onclick="document.getElementById('saveFinite').click()">oui</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default" data-dismiss="modal">non</button>
                </li>
            </ul>
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}

{% block commande %}
<script>
var scoreValues = '{{ scoreValues }}';	
var tabscoreValues = scoreValues.split(".");
for(var i =0;i<tabscoreValues.length;i++)
	{
		var input = tabscoreValues[i].split(",");
		var s = document.getElementsByClassName(input[0]);
		for (var j = 0; j < s.length; j++) {
            s[j].value = input[1];
        };
	

	}

</script>
<script>

{% for pair in poule.paires.all %}
    {% for p in poule.paires.all %}
        $('.{{pair.id}}-{{p.id}}').on('input', function() {
        var x = document.getElementsByClassName('{{pair.id}}-{{p.id}}');
        for (var i = 0; i < x.length; i++) {
            x[i].value = document.activeElement.value;
        };
    });
    {% endfor %}
{% endfor %}

</script>
<script>
function checkPouleScoreInput()
{
	
	{% for pair in poule.paires.all %}
		{% for p in poule.paires.all %}

		    var x = document.getElementsByClassName('{{pair.id}}-{{p.id}}');
			 for (var i = 0; i < x.length; i++) {
				var value = x[i].value
				if(isNaN(value))
				{
					document.getElementById("hint-poule").innerHTML = " Veuillez entrer des chiffres pour les résultats";
					return false;
				}
		        
		    };

		   
		
		{% endfor %}
{% endfor %}
}
function checkValues(){
	document.getElementById("textModalScoreNotNumber").style.display = "none";
	document.getElementById("textModalEmptyScore").style.display = "none";
	document.getElementById("textModalConfirm").style.display = "inherit";
	document.getElementById("yesModal").disabled = false;


	{% for pair in poule.paires.all %}
		{% for p in poule.paires.all %}

		    var x = document.getElementsByClassName('{{pair.id}}-{{p.id}}');
			 for (var i = 0; i < x.length; i++) {
				var value = x[i].value
				if(value == "")
				{
					document.getElementById("textModalEmptyScore").style.display = "inherit";
					document.getElementById("textModalConfirm").style.display = "none";
					document.getElementById("yesModal").disabled = true;
				}
				if(isNaN(value))
				{
					document.getElementById("textModalScoreNotNumber").style.display = "inherit";
					document.getElementById("textModalConfirm").style.display = "none";
					document.getElementById("yesModal").disabled = true;
				}

		        
		    };

		   
		
		{% endfor %}
{% endfor %}
}
</script>

{% endblock %}
    
