{% extends "tennis/base.html" %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="container">
		<div class="content-box">
		<h2 class="center">Mon profil</h2>
		<hr class="line">
		<!-- Si error lors du nouveau mdp -->
		{% if errorMDP %}
		<div class="alert alert-danger">
		    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    <strong>Error!</strong> {{ errorMDP }}
		</div>
		{% elif successMDP %}
		<div class="alert alert-success">
		    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    <strong>Succès!</strong> {{ successMDP }}
		</div>
		{% endif %}
		<!-- Information du compte-->
		<!-- TODO set real info-->
		<div  id="compteInfo" style="margin-bottom:20px;{% if errorMDP %}display:none;{% else %}{% endif %}">
			<div class="panel panel-default" >
				<div class="panel-heading">Information du compte</div>
				<div class="panel-body">
					<!-- email -->
					<div class="form-group">
				      <label class="info col-sm-4 col-sm-offset-2" for="email">Email :</label>
				      <div class="col-sm-4">
				      	<p class="info">{{ user.email }}</p>
				      </div>
				    </div>
				    <!-- user -->
					<div class="form-group">
						<label class="info col-sm-4 col-sm-offset-2" for="title">Nom d'utilisateur :</label>
						<div class="col-sm-4">
							<p class="info">{{ user.username }}</p>
						</div>
					</div>
					<!-- mdp -->
					<div class="form-group">
						<label class="info col-sm-4 col-sm-offset-2" for="title">Mot de passe :</label>
						<div class="col-sm-4">
							<p class="info">********</p>
						</div>
					</div>
				</div>
			</div>
			<button onClick="changeMDP()" class="btn btn-default b-center" style="margin-top:20px;">Changer le mot de passe</button>
		</div>

		<!-- Edit mot de passe -->
		<form class="form-horizontal" name="registerForm" id="editMDP" role="form" method="post" action="{% url "tennis.views.profil" %}" {% if errorMDP %}{% else %}style="display:none"{% endif %}>
			{% csrf_token %}
			<div class="panel panel-default" >
				<div class="panel-heading">Information du compte</div>
				<div class="panel-body">
					<!-- mdp1 -->
				    <div class="form-group">
				      <label class="control-label col-sm-4" for="password1">Nouveau *</label>
				      <div class="col-sm-8" style="max-width:600px;">
				      	<input type="password" class="form-control" name="password1" id="password1">
				      	<p class="hint" id="hint-password1"></p>
				      </div>
				    </div>
				    <!-- mdp1 -->
				    <div class="form-group">
				      <label class="control-label col-sm-4" for="password2">Confirmer *</label>
				      <div class="col-sm-8" style="max-width:600px;">
				      	<input type="password" class="form-control" name="password2" id="password2">
				      	<p class="hint" id="hint-password2"></p>
				      </div>
				    </div>
				</div>
			</div>
			<button type="submit" class="btn btn-default b-center" style="margin-top:20px; margin-bottom:20px;" name="action" value="updatePassword">Sauver</button>
		</form>

		<!-- Si error lors des nouvelles infos perso -->
		{% if errorEdit %}
		<div class="alert alert-danger">
		    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    <strong>Error!</strong> {{ errorEdit }}
		</div>
		<script>changeProfilPannel();</script>
		{% elif successEdit %}
		<div class="alert alert-success">
		    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    <strong>Succès!</strong> {{ successEdit }}
		</div>
		{% endif %}

		<!-- Information personnelle-->
		<!-- TODO set real info-->
		<div id="Info" {% if errorEdit %}style="display:none"{% else %}{% endif %}>
			<div class="panel panel-default" >
				<div class="panel-heading">Information personnelle</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<!-- Titre -->
							<div class="form-group">
						      <label class="info col-sm-4" for="title">Titre :</label>
						      <div class="col-sm-8">
						      	<p class="info">{{ user.participant.titre }}</p>
						      </div>
						    </div>
						    <!-- nom -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="lastname">Nom :</label>
						      <div class="col-sm-8">
						      	<p class="info">{{ user.participant.nom }}</p>
						      </div>
						    </div>
						    <!-- prenom -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="firstname">Prénom :</label>
						      <div class="col-sm-8">
						      	<p class="info">{{ user.participant.prenom }}</p>
						      </div>
						    </div>
						    <!-- date de naissance -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="birthdate">Date de Naissance :</label>
						      <div class="col-sm-8">
						      	<p class="info">{{ formatedBirthdate }}</p>
						      </div>
						    </div>
						    <!-- telephone -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="tel">Téléphone :</label>
						      <div class="col-sm-7">
						      	<p class="info">
						      		{% if user.participant.telephone %}
						      		{{ user.participant.telephone }}
						      		{% else %}
						      		-
						      		{% endif %}
						      	</p>
						      </div>
						    </div>
						    <!-- gsm -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="tel">GSM :</label>
						      <div class="col-sm-7">
						      	<p class="info">
						      		{% if user.participant.gsm %}
						      		{{ user.participant.gsm }}
						      		{% else %}
						      		-
						      		{% endif %}
						      	</p>
						      </div>
						    </div>
						    <!-- fax -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="fax">Fax :</label>
						      <div class="col-sm-8">
						      	<p class="info">
						      		{% if user.participant.fax %}
						      		{{ user.participant.fax }}
						      		{% else %}
						      		-
						      		{% endif %}
						      	</p>
						      </div>
						    </div>
						</div>

						<div class="col-lg-6">
							<!-- rue -->
							<div class="form-group">
						      <label class="info col-sm-4" for="street">Rue :</label>
						      <div class="col-sm-8">
						      	<p class="info">{{ user.participant.rue }}</p>
						      </div>
						    </div>
						    <!-- numero -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="number">Numéro :</label>
						      <div class="col-sm-8">
						      	<p class="info">{{ user.participant.numero }}</p>
						      </div>
						    </div>
						    <!-- boite -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="number">Boite :</label>
						      <div class="col-sm-8">
						      	<p class="info">
						      		{% if user.participant.boite %}
						      		{{ user.participant.boite }}
						      		{% else %}
						      		-
						      		{% endif %}
						      	</p>
						      </div>
						    </div>
						    <!-- code postal -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="postalcode">Code Postal :</label>
						      <div class="col-sm-8">
						      	<p class="info">{{ user.participant.codepostal }}</p>
						      </div>
						    </div>
						    <!-- localité -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="locality">Localité :</label>
						      <div class="col-sm-8">
						      	<p class="info">{{ user.participant.localite }}</p>
						      </div>
						    </div>
						    <!-- classement -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="classement">Classement :</label>
						      <div class="col-sm-8">
						      	<p class="info">
						      		{% if user.participant.classement %}
						      		{{ user.participant.classement }}
						      		{% else %}
						      		-
						      		{% endif %}
						      	</p>
						      </div>
						    </div>
						    <!-- participée -->
						    <div class="form-group">
						      <label class="info col-sm-4" for="locality">Déjà participé :</label>
						      <div class="col-sm-8">
						      	<p class="info">
						      		{% if user.participant.oldparticipant %}
						      		Oui
						      		{% else %}
						      		Non
						      		{% endif %}
						      	</p>
						      </div>
						    </div>
						</div>
					</div><!-- Row -->
				</div><!-- Pannel-content -->
			</div><!-- Pannel -->
			<button onClick="changeProfilPannel()" class="btn btn-default b-center" style="margin-top:20px;">Editer info</button>
		</div><!-- Info -->


		<!-- Information personnelle Edit-->
		<!-- TODO set info du mec connecté -->
		<form class="form-horizontal" name="registerForm" id="editInfo" role="form" method="post" action="" onsubmit="return validateEditInfo()" {% if errorEdit %}{% else %}style="display:none"{% endif %}>
			{% csrf_token %}
			<!-- Information personnelle-->
			<div class="panel panel-default">
				<div class="panel-heading">Information personnelle</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<!-- Titre -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="title">Titre *</label>
						      <div class="col-sm-8">
						      	<select class="form-control" name="title">
						      	{% if user.participant.titre == "Mme" %}
						      		<option>Mr</option>
								    <option selected="selected">Mme</option>
								{% else %}
									<option>Mr</option>
								    <option>Mme</option>
						      	{% endif %}
								</select>

						      </div>
						    </div>
						    <!-- nom -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="lastname">Nom *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="lastname" id="lastname" placeholder="Nom" value="{{ user.participant.nom }}">
						      	<p class="hint" id="hint-lastname"></p>
						      </div>
						    </div>
						    <!-- prenom -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="firstname">Prénom *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="firstname" id="firstname" placeholder="Prénom" value="{{ user.participant.prenom }}">
						      	<p class="hint" id="hint-firstname"></p>
						      </div>
						    </div>
						    <!-- date de naissance -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="birthdate">Date de Naissance *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="birthdate" id="birthdate" value="{{ formatedBirthdate }}">
						      	<p class="hint" id="hint-birthdate"></p>
						      </div>
						    </div>
						    <!-- telephone -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="tel">Téléphone *</label>
						      <div class="col-sm-8">
						      	<input type="tel" class="form-control" name="tel" id="tel" placeholder="ex:010/56/56/10" value="{% if user.participant.telephone %}{{ user.participant.telephone }}{% endif %}">
						      </div>
						    </div>
						    <!-- gsm -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="gsm">GSM *</label>
						      <div class="col-sm-8">
						      	<input type="gsm" class="form-control" name="gsm" id="gsm" placeholder="ex:0477/56/54/89" value="{% if user.participant.gsm %}{{ user.participant.gsm }}{% endif %}">
						      	<p class="hint" id="hint-tel"></p>
						      </div>
						    </div>
						    <!-- fax -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="fax">Fax</label>
						      <div class="col-sm-8">
						      	<input type="tel" class="form-control" name="fax" id="fax" placeholder="ex:010/56/54/89" value="{% if user.participant.fax %}{{ user.participant.fax }}{% endif %}">
						      	<p class="hint" id="hint-fax"></p>
						      </div>
						    </div>
						</div>

						<div class="col-lg-6">
							
							<!-- rue -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="street">Rue *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="street" id="street" placeholder="Nom de rue" value="{{ user.participant.rue }}">
						      	<p class="hint" id="hint-street"></p>
						      </div>
						    </div>
						    <!-- numero -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="number">Numéro *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="number" id="number" placeholder="Numero" value="{{ user.participant.numero }}">
						      	<p class="hint" id="hint-number"></p>
						      </div>
						    </div>
						    <!-- boite -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="boite">Boite</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="boite" id="boite" placeholder="Boite" value="{% if user.participant.boite %}{{ user.participant.boite }}{% endif %}">
						      	<p class="hint" id="hint-boite"></p>
						      </div>
						    </div>
						    <!-- code postal -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="postalcode">Code Postal *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="postalcode" id="postalcode" placeholder="Code postal" value="{{ user.participant.codepostal }}">
						      	<p class="hint" id="hint-postalcode"></p>
						      </div>
						    </div>
						    <!-- localité -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="locality">Localité *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="locality" id="locality" placeholder="Localité" value="{{ user.participant.localite }}">
						      	<p class="hint" id="hint-locality"></p>
						      </div>
						    </div>
						    <!-- classement -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="classement">Classement</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="classement" id="classement" placeholder="Classement" value="{% if user.participant.classement %}{{ user.participant.classement }}{% endif %}">
						      	<p class="hint" id="hint-classement"></p>
						      </div>
						    </div>
						    <!-- deja participe -->
						    <div class="checkbox col-sm-offset-4">
						      <label><input type="checkbox" name="participated" {% if user.participant.oldparticipant %}checked{% endif %}> Déjà participé</label>
						    </div>
						</div>
					</div><!-- Row -->
				</div><!-- Pannel-content -->
			</div><!-- Pannel -->
			<!-- Bottom button -->
		    <button type="submit" class="btn btn-default b-center" style="margin-top:20px;" name="action" value="editProfil">Sauver</button>
		  </form>
	</div>
</div>

{% endblock %}
