{% extends "tennis/base.html" %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="container">
	
			{% if error %}
			<div class="alert alert-danger">
			    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			    <strong>Error!</strong> {{ error }}
			  </div>
			 {% endif %}
				<div class="content-box">
				<h2 class="center">Inscription</h2>
				<hr class="line">
				<form class="form-horizontal" name="registerForm" role="form" method="post" action="{% url "tennis.views.register" %}" onsubmit="return validateRegister()" >
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-6">
							<!-- Utilisateur -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="username">Nom d'utilisateur *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" maxlength="30" name="username" placeholder="Nom d'utilsiateur" value="{{ username }}">
						      	<p class="hint" id="hint-username"></p>
						      </div>
						    </div>
						    <!-- mot de passe -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="password">Mot de passe *</label>
						      <div class="col-sm-8">
						      	<input type="password" class="form-control" name="password" placeholder="Mot de passe" value="{{ password }}">
						      	<p class="hint" id="hint-password"></p>
						      </div>
						    </div>
						    <!-- nom -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="lastname">Nom *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="lastname" placeholder="Nom" value="{{ lastname }}">
						      	<p class="hint" id="hint-lastname"></p>
						      </div>
						    </div>
						    <!-- prenom -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="firstname">Prénom *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="firstname" placeholder="Prénom" value="{{ firstname }}">
						      	<p class="hint" id="hint-firstname"></p>
						      </div>
						    </div>
						    <!-- email -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="email">Email *</label>
						      <div class="col-sm-8">
						      	<input type="email" class="form-control" name="email" placeholder="exemple@email.com" value="{{ email }}">
						      	<p class="hint" id="hint-email"></p>
						      </div>
						    </div>
						    <!-- telephone -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="tel">Téléphone *</label>
						      <div class="col-sm-8">
						      	<input type="tel" class="form-control" name="tel" placeholder="" value="{{ tel }}">
						      </div>
						    </div>
						    <!-- gsm -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="gsm">GSM *</label>
						      <div class="col-sm-8">
						      	<input type="tel" class="form-control" name="gsm" placeholder="" value="{{ gsm }}">
						      	<p class="hint" id="hint-tel"></p>
						      </div>
						    </div>
						    <!-- fax -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="fax">Fax</label>
						      <div class="col-sm-8">
						      	<input type="tel" class="form-control" name="fax" placeholder="" value="{{ fax }}">
						      	<p class="hint" id="hint-fax"></p>
						      </div>
						    </div>
						</div>
						<div class="col-lg-6">
							<!-- genre -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="street">Titre *</label>
						      <div class="col-sm-8">
						      	<select class="form-control" name="titre">
								    <option>Mr</option>
								    <option>Mme</option>
								  </select>
						      </div>
						    </div>
							<!-- rue -->
							<div class="form-group">
						      <label class="control-label col-sm-4" for="street">Rue *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="street" placeholder="Nom de rue" value="{{ street }}">
						      	<p class="hint" id="hint-street"></p>
						      </div>
						    </div>
						    <!-- numero -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="number">Numéro/Boite *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="number" placeholder="Numero / Boite" value="{{ number }}">
						      	<p class="hint" id="hint-number"></p>
						      </div>
						    </div>
						    <!-- code postal -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="postalcode">Code Postal *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="postalcode" placeholder="Code postal" value="{{ postalcode }}">
						      	<p class="hint" id="hint-postalcode"></p>
						      </div>
						    </div>
						    <!-- localité -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="locality">Localité *</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="locality" placeholder="Localité" value="{{ locality }}">
						      	<p class="hint" id="hint-locality"></p>
						      </div>
						    </div>
						    <!-- date de naissance -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="birthdate">Date de Naissance *</label>
						      <div class="col-sm-8">
						      	<input type="date" class="form-control" name="birthdate" placeholder="date" value="{{ birthdate }}">
						      	<p class="hint" id="hint-birthdate"></p>
						      </div>
						    </div>
						    <!-- classement -->
						    <div class="form-group">
						      <label class="control-label col-sm-4" for="classement">Classement</label>
						      <div class="col-sm-8">
						      	<input type="text" class="form-control" name="classement" placeholder="Classement" value="{{ classement }}">
						      	<p class="hint" id="hint-classement"></p>
						      </div>
						    </div>
						    <!-- deja participe -->
						    <div class="checkbox col-sm-offset-4">
						      <label><input type="checkbox" name="participated"> Déjà participé</label>
						    </div>
						</div>
					</div>
				    
				    <button type="submit" class="btn btn-default pull-right" style="margin-top:20px;">Inscription</button>
				    <button type="button" class="btn btn-default" onClick="location.href='{% url "tennis.views.connect" %}';" style="margin-top:20px;">Déjà membre?</button>
				  </form>
			</div>
</div>

{% endblock %}