{% extends "tennis/base.html" %}

{% block title %}Résultats edition {{info.edition}}{% endblock %}

{% block body %}

<div class="container">
	<div class="content-box">
		<h2 class="center">Résultats de l'édition {{info.edition}}</h2>
		<hr class="line">
		{% if info.resultats.all|length == 0 %}

		<h3 class="center">Il n'y a pas encore de résultats pour cette édition</h3>
		<h3 class="center">Rendez vous le {{info.date|date:"d F Y"}}</h3>
		<button class="btn btn-default center-block" onclick="window.open('{% url "tennis.views.allResult" %}','_self')">Tous les résultats</button>
		{% else %}
		<h3 class="center">{{info.edition}}ème édition du tournoi de tennis Charles de Lorraine ({{info.date|date:"Y"}})</h3>
		<button class="btn btn-default pull-right" onclick="window.open('{% url "tennis.views.allResult" %}','_self')">Tous les résultats</button>
		<h3>Dimanche</h3>
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Double femmes
					</div>
					<div class="panel-body">
						{% if not femmes|length > 0 %}
						<b style="vertical-align:middle;">Aucun résultats</b>
						{% else %}
						<ul style="list-style-type: none;padding:0">
						{% for elem in femmes %}
							<li>
								<h4 style="text-decoration: underline;">{{elem.tournoi.categorie}}</h4>
								<p style="padding-left:20px;">
									<b style="color:#D4542D">Gagnants : </b> {{elem.gagnants_alt}} <br>
									<b style="color:#D4542D">Finalistes : </b> {{elem.finalistes_alt}}
								</p>
								
							</li>
						{% endfor %}
						</ul>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Double hommes
					</div>
					<div class="panel-body">
						{% if not hommes|length > 0 %}
						<b style="vertical-align:middle;">Aucun résultats</b>
						{% else %}
						<ul style="list-style-type: none;padding:0">
						{% for elem in hommes %}
							<li>
								<h4 style="text-decoration: underline;">{{elem.tournoi.categorie}}</h4>
								<p style="padding-left:20px;">
									<b style="color:#D4542D">Gagnants : </b> {{elem.gagnants_alt}} <br>
									<b style="color:#D4542D">Finalistes : </b> {{elem.finalistes_alt}}
								</p>
								
							</li>
						{% endfor %}
						</ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<h3>Samedi</h3>
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Double Mixte
					</div>
					<div class="panel-body">
						{% if not mixte|length > 0 %}
						<b style="vertical-align:middle;">Aucun résultats</b>
						{% else %}
						<ul style="list-style-type: none;padding:0">
						{% for elem in mixte %}
							<li>
								<h4 style="text-decoration: underline;">{{elem.tournoi.categorie}}</h4>
								<p style="padding-left:20px;">
									<b style="color:#D4542D">Gagnants : </b> {{elem.gagnants_alt}} <br>
									<b style="color:#D4542D">Finalistes : </b> {{elem.finalistes_alt}}
								</p>
								
							</li>
						{% endfor %}
						</ul>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Tournoi des Familles
					</div>
					<div class="panel-body">
						{% if famille %}
						<b style="color:#D4542D">Gagnants : </b> {{famille.gagnants_alt}} <br>
						<b style="color:#D4542D">Finalistes : </b> {{famille.finalistes_alt}}
						{% else %}
						<b style="vertical-align:middle;">Aucun résultats</b>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		{% endif %}
	</div>
</div>

{% endblock %}