{% extends "tennis/base.html" %}

{% block title %}Sponsors{% endblock %}
{% block nav-sponsors %}class="active"{% endblock %}

{% block body %}
{% load static from staticfiles %}
<div class="container">
	<div class="content-box">
		<h2>Informations</h2>
		<hr class="line">
		<p>Un GRAND merci aux sponsors de leur fidèle soutien</p>
	</div>

	<div class="content-box">
		<h2 class="center">Sponsors</h2>
				<hr class="line">
		<div class="row">
			<div class="col-lg-4">
				<a href="http://www.vw.be/" target="_blank"><img class="img-responsive sponsors" src="{% static 'tennis/img/sponsors_VW.png' %}" alt="VW"></a>
			</div>
			<div class="col-lg-4">
				<a href="http://www.hayez.be/" target="_blank"><img class="img-responsive sponsors" src="{% static 'tennis/img/sponsors_hayez.png' %}" alt="Hayez"></a>
			</div>
			<div class="col-lg-4">
				<a href="http://www.exki.com/" target="_blank"><img class="img-responsive sponsors" src="{% static 'tennis/img/sponsors_exki.png' %}" alt="EXKI"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<a href="http://www.lalibre.be/" target="_blank"><img class="img-responsive sponsors" src="{% static 'tennis/img/sponsors_lalibre.png' %}" alt="La Libre"></a>
			</div>
			<div class="col-lg-4">
				<a href="http://www.mannes.be/" target="_blank"><img class="img-responsive sponsors" src="{% static 'tennis/img/sponsors_smart.png' %}" alt="Smart"></a>
			</div>
			<div class="col-lg-4">
				<a href="http://www.weplay.be/" target="_blank"><img class="img-responsive sponsors" src="{% static 'tennis/img/sponsors_weplay.png' %}" alt="WePlay"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<a href="http://www.raidillon-watches.com/" target="_blank"><img class="img-responsive sponsors" src="{% static 'tennis/img/sponsors_raidillon.png' %}" alt="Raidillon"></a>
			</div>
			<div class="col-lg-4">
				<a href="http://www.eventail.be/" target="_blank"><img class="img-responsive sponsors" src="{% static 'tennis/img/sponsors_eventail.png' %}" alt="Eventail"></a>
			</div>
			<div class="col-lg-4">
				<a href="http://www2.deloitte.com/be/en.html" target="_blank"><img class="img-responsive sponsors" src="{% static 'tennis/img/sponsors_deloitte.png' %}" alt="Deloitte"></a>
			</div>
		</div>
		
	</div>
</div>

{% endblock %}