{% extends "tennis/base.html" %}

{% block title %}Staff{% endblock %}
{% block nav-staff %}class="active"{% endblock %}

{% block body %}

<div class="container">
	
	<!-- Gestion tournoi & terrains -->
	<div class="row">
		<div class="col-lg-6">
			<!-- Gestionnaire de tournoi -->
			<!-- TODO set info -->
			<div class="content-box">
				<h2 class="center">Gestion des tournois</h2>
				<hr class="line">

				<!-- Selecteur -->
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-xs-3 info">
						Tournoi
					</div>
					<div class="col-lg-8 col-sm-4 col-xs-8">
					   	<select class="form-control" name="title">
							<option>Senior (hommes)</option>
						    <option>???</option>
						    <option>???</option>
						    <option>???</option>
						</select>
		    		</div>
				</div>

				<!-- Selecteur -->
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-xs-3 info">
						Etat
					</div>
					<div class="col-lg-8 col-sm-4 col-xs-8">
					   	<select class="form-control" name="title">
							<option>Libre</option>
						    <option>???</option>
						    <option>???</option>
						    <option>???</option>
						</select>
		    		</div>
				</div>

				<!-- Gestion -->
				<button class="btn btn-default" style="margin-bottom:10px;">Créer les poules</button> <br>
				<button class="btn btn-default" style="margin-bottom:10px;">Encoder ou modifier les poules</button> <br>
				<button class="btn btn-default" style="margin-bottom:10px;">Créer les tables d'élimination</button> <br>
				<button class="btn btn-default">Encoder ou modifier les tables d'élimination</button>
			</div>
		</div>
		<div class="col-lg-6">
			<!-- Gestionnaire de terrains -->
			<!-- TODO set info -->
			<div class="content-box">
				<h2 class="center">Gestion des Terrains</h2>
				<hr class="line">

				<!-- Gestion -->
				<button class="btn btn-default" style="margin-bottom:10px;">Consulter les terrains validés</button> <br>
				<button class="btn btn-default">Consulter les terrains récemment enregistrés</button>
			</div>
		</div>
	</div>

	<!-- Gestion paires et extras -->
	<div class="row">
		<div class="col-lg-6">
			<!-- Gestionnaire des paires -->
			<!-- TODO set info -->
			<div class="content-box">
				<h2 class="center">Gestion des Paires</h2>
				<hr class="line">

				<!-- Gestion -->
				<button class="btn btn-default" style="margin-bottom:10px;">Consulter les paires pleinement inscrites</button> <br>
				<button class="btn btn-default">Consulter les paires récemment inscrites</button>
			</div>
		</div>
		<div class="col-lg-6">
			<!-- Gestionnaire de extras -->
			<!-- TODO set info -->
			<div class="content-box">
				<h2 class="center">Gestion des Extras</h2>
				<hr class="line">

				<!-- Gestion -->
				<button class="btn btn-default">Editer les extras</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}