{% extends "tennis/staff.html" %}

{% block title %}Gestion des terrains{% endblock %}
{% block ongTerrain %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des terrains -->
<div class="content-box" id="gestionTerrain">
	<h2 class="center">Gestionnaire des terrains</h2>
	<hr class="line">	
	<!-- Rechercher -->
	<div class="row" style="margin-bottom:15px;">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="Rechercher" id="search_value" >
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" onclick="search_court()"><span class="glyphicon glyphicon-search"></span></button>
		      </span>
		    </div>
		</div>
	</div>
	<!-- Paramètres de recherche avancée -->
	<form action="" class="form-horizontal">
		<div class="panel panel-default center-block" style="max-width:300px;">
		    <div class="panel-heading">Critères d'affichage</div>
		    <div class="list-group">
			    <li class="list-group-item">
				    <div class="row">
					    <label class="control-label col-sm-4">Validation</label>
					    <div class="col-sm-8">
						    <select id="validation_selector" class="form-control" onchange="search_court()">
						        <option value="" selected>Tous</option>
						        <option value="oui">Valide</option>
						        <option value="non">Non validé</option>
						    </select>
						</div>
					</div>
			    </li>

			    <li class="list-group-item">
				    <div class="row">
					    <label class="control-label col-sm-4">Disponibilité</label>
					    <div class="col-sm-8">
						    <select id="availability_selector" class="form-control" onchange="search_court()">
						        <option value="" selected>Tous</option>
						        <option value="saturday">Samedi</option>
						        <option value="sunday">Dimanche</option>
						        <option value="saturday_sunday">Samedi et dimanche</option>
						    </select>
						</div>
					</div>
			    </li>

			    <li class="list-group-item">
				    <div class="row">
					    <label class="control-label col-sm-4">Matière</label>
					    <div class="col-sm-8">
						    <select id="material_selector" class="form-control" onchange="search_court()">
						        <option value="" selected>Tous</option>
							  	<option value="beton">Béton</option>
								<option value="brique">Brique</option>
							  	<option value="gazon">Gazon</option>
								<option value="synth">Synthétique</option>
							   	<option value="terre">Terre battue</option>
								<option value="quick">Quick</option>
							   	<option value="autre">Autre</option>
						    </select>
						</div>
					</div>
			    </li>
			    <li class="list-group-item">
				    <div class="row">
					    <label class="control-label col-sm-4">Etat du terrain</label>
					    <div class="col-sm-8">
						    <select id="state_selector" class="form-control" onchange="search_court()">
						        <option value="" selected>Tous</option>
							  	<option value="beton">Très bon</option>
								<option value="brique">Bon</option>
							  	<option value="gazon">Correct</option>
								<option value="synth">Mauvais</option>
							   	<option value="terre">Très mauvais</option>
						    </select>
						</div>
					</div>
			    </li>
			    <li class="list-group-item">
				    <div class="row">
					    <label class="control-label col-sm-4">Type</label>
					    <div class="col-sm-8">
						    <select id="type_selector" class="form-control" onchange="search_court()">
						        <option value="" selected>Tous</option>
							  	<option value="ouvert">Ouvert</option>
								<option value="couvert">Couvert</option>
						    </select>
						</div>
					</div>
			    </li>
		    </div>
		</div>
	</form>
	<!-- Liste des terrains -->
	<div class="panel panel-default center-block" style="max-width:600px;">
		<div class="panel-heading">Terrains</div>
		<div class="list-group" id="CourtList">
		</div>
	</div>

	<!-- Info -->
	<p class="center" id="CourtInfo"></p>

	<!-- Bottom pagination -->
	<div class="text-center">
		<div id="paginationholder">
		</div>
	</div>

</div>
{% endblock %}

{% block commande %}
<script>
function pagination(list) {
    //Nombre d'entrée par page
    var pageLength = 10;
    //Nombre de page
    var total = Math.max(Math.ceil(list.length/pageLength), 1);
    //Notre pagination
    $('#paginationholder').html('');
    $('#paginationholder').html('<ul class="pagination" id="CourtPagination"></ul>');
    $('#CourtPagination').twbsPagination({
            totalPages: total,
            visiblePages: Math.min(total, 5),
            onPageClick: function (event, page) {
                //Lorsqu'on click sur une page, on met à jours le contenu
                setCourt(page);
                }
            });

    //On met jours les info (liste des users et longueur de chaque page)
    setCourtListInfo(list,pageLength);

    //On met à jours la première page
    setCourt(1);
}
	//TERRAIN
//Recuperation des court et stockage dans un tableau
var courtList = [];
{% for court in allCourt %}
courtList.push(['{{ court.user.username }}','{{ court.user.participant.prenom }}','{{ court.user.participant.nom }}','{{ court.id }}','{{ court.matiere }}','{{ court.rue }}','{{ court.numero }}','{{ court.codepostal }}','{{ court.localite }}','{{ court.boite }}',{% if court.valide %}'oui'{% else %}'non'{% endif %},{% if court.dispoSamedi and court.dispoDimanche %}'Samedi et dimanche'{% elif court.dispoSamedi %}'Samedi'{% elif court.dispoDimanche %}'Dimanche'{% else %}' - '{% endif %},'{{ court.etat }}', '{{ court.type }}']);
{% endfor %}

pagination(courtList);

//username,prenom,nom courtID, matiere, rue, numero, codepostal, localite, boite, courtValide(oui,non), courtDispo (Samedi et dimanche, Samedi, Dimanche,  - )

function search_court() {
    var retour = document.getElementById("search_value").value.sansAccent().toLocaleUpperCase();
    var validation_selector = document.getElementById("validation_selector");
    var validation_choice = validation_selector.options[validation_selector.selectedIndex].value.sansAccent().toLocaleUpperCase();
    var availability_selector = document.getElementById("availability_selector");
    var availability_choice = availability_selector.options[availability_selector.selectedIndex].text.sansAccent().toLocaleUpperCase();
    var material_selector = document.getElementById("material_selector");
    var material_choice = material_selector.options[material_selector.selectedIndex].text.sansAccent().toLocaleUpperCase();
    var state_selector = document.getElementById("state_selector");
    var state_choice = state_selector.options[state_selector.selectedIndex].text.sansAccent().toLocaleUpperCase();
    var type_selector = document.getElementById("type_selector");
    var type_choice = type_selector.options[type_selector.selectedIndex].text.sansAccent().toLocaleUpperCase();
    if (material_choice.indexOf("Tous".toLocaleUpperCase()) != -1) {
    	material_choice = "";
    }
    if (availability_choice.indexOf("Tous".toLocaleUpperCase()) != -1) {
    	availability_choice = "";
    }
    if (state_choice.indexOf("Tous".toLocaleUpperCase()) != -1) {
    	state_choice = "";
    }
    if (type_choice.indexOf("Tous".toLocaleUpperCase()) != -1) {
    	type_choice = "";
    }
    // Copie du tableau pour garder l'original
    var resultList = courtList.slice();
    var nbr = resultList.length;
    for (var i = nbr-1 ; i >= 0 ; i--) {
         var myCourt = resultList[i];
         var username = myCourt[0].sansAccent().toLocaleUpperCase();
         var prenom = myCourt[1].sansAccent().toLocaleUpperCase();
         var nom = myCourt[2].sansAccent().toLocaleUpperCase();
         var id = myCourt[3].sansAccent().toLocaleUpperCase();
         var matiere = myCourt[4].sansAccent().toLocaleUpperCase();
         var rue = myCourt[5].sansAccent().toLocaleUpperCase();
         var codepostal = myCourt[7].sansAccent().toLocaleUpperCase();
         var localite = myCourt[8].sansAccent().toLocaleUpperCase();
         var validationStatus = myCourt[10].sansAccent().toLocaleUpperCase();
         var availabilityStatus = myCourt[11].sansAccent().toLocaleUpperCase();
         var etat = myCourt[12].sansAccent().toLocaleUpperCase();
         var type = myCourt[13].sansAccent().toLocaleUpperCase();
         if (! (username.indexOf(retour) != -1 || prenom.indexOf(retour) != -1 || nom.indexOf(retour) != -1 || id.indexOf(retour) != -1 || rue.indexOf(retour) != -1 || codepostal.indexOf(retour) != -1 || localite.indexOf(retour) != -1 ) || matiere.indexOf(material_choice) == -1 || validationStatus.indexOf(validation_choice) == -1 || availabilityStatus.indexOf(availability_choice) == -1 || etat.indexOf(state_choice) || type.indexOf(type_choice) ) {
            resultList.splice(i, 1);
         }
    }
    pagination(resultList);
}
$('#search_value').on('input', function() { 
    search_court();
});
$('#validation_selector').on('input', function() { 
    search_court();
});
$('#availability_selector').on('input', function() { 
    search_court();
});
$('#material_selector').on('input', function() { 
    search_court();
});
</script>
{% endblock %}
