{% extends "tennis/base.html" %}

{% block title %}Staff{% endblock %}
{% block nav-staff %}class="active"{% endblock %}

{% block body %}

	


<div class="container">
	<!-- Onglet de navigations -->
	<ul class="nav nav-tabs">
	    <li class="active" id="tournoi"><a onclick="ongletTournoi()" href="javascript:void(0);">Tournois</a></li>
	    <li id="terrain"><a onclick="ongletTerrain()" href="javascript:void(0);">Terrains</a></li>
	    <li id="paire"><a onclick="ongletPaire()" href="javascript:void(0);">Paires</a></li>
	    <li id="extra"><a onclick="ongletExtra()" href="javascript:void(0);">Extras</a></li>
  	</ul>

	<!-- Gestionnaire des tournois -->
	<div class="content-box" id="gestionTournoi">
		<h2 class="center">Gestionnaire des tournois</h2>
		<hr class="line">	
	</div>
	<!-- Gestionnaire des terrains -->
	<div class="content-box" id="gestionTerrain" style="display:none;">
		<h2 class="center">Gestionnaire des terrains</h2>
		<hr class="line">	
		<!-- Rechercher -->
		<div class="row" style="margin-bottom:15px;">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Rechercher">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
			      </span>
			    </div>
			</div>
		</div>
		
		    
		<!-- Liste des users -->
		<div class="panel panel-default center-block" style="max-width:600px;">
			<div class="panel-heading">Terrains</div>
			<div class="list-group" id="CourtList">
			</div>
		</div>

		<!-- Info -->
		<p class="center" id="CourtInfo"></p>

		<!-- Bottom pagination -->
		<div class="text-center">
			<ul class="pagination" id="CourtPagination">
			</ul>
		</div>

	</div>

	<!-- Gestionnaire des paires -->
	<div class="content-box" id="gestionPaire" style="display:none;">
		<h2 class="center">Gestionnaire des paires</h2>
		<hr class="line">	
		<!-- Rechercher -->
		<div class="row" style="margin-bottom:15px;">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Rechercher">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
			      </span>
			    </div>
			</div>
		</div>    

		<!-- Liste des paires -->
		<div class="panel panel-default center-block" style="max-width:600px;">
			<div class="panel-heading">Paires</div>
			<div class="list-group">
			  <a href="#" class="list-group-item">1 - Dupont P et Lavoisier C. - Validé - Payé</a>
			  <a href="#" class="list-group-item">2 - Dupont P et Lavoisier C. - Non validé - Non payé</a>
			  <a href="#" class="list-group-item">3 - Dupont P et Lavoisier C. - Non validé - Payé</a>
			</div>
		</div>

		<!-- Info -->
		<p class="center">1-3 sur 20 résultats (3 au total)</p>

		<!-- Bottom pagination -->
		<div class="text-center">
			<ul class="pagination">
			    <li class="active"><a href="#">1</a></li>
			</ul>
		</div>
	</div>
	<!-- Gestionnaire des extras -->
	<div class="content-box" id="gestionExtra" style="display:none;">
		<h2 class="center">Gestionnaire des extras</h2>
		<hr class="line">
		{% if errorAdd %}
		<div class="alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Error!</strong> {{ errorAdd }}
		</div>
		{% elif successAdd %}
		<div class="alert alert-success">
		    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    <strong>Succès!</strong> {{ successAdd }}
		</div>
		{% endif %}
		{% if errorEdit %}
		<div class="alert alert-danger">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Error!</strong> {{ errorEdit }}
		</div>
		{% elif successEdit %}
		<div class="alert alert-success">
		    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    <strong>Succès!</strong> {{ successEdit }}
		</div>
		{% endif %}
		{% if successDelete %}
		<div class="alert alert-success">
		    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		    <strong>Succès!</strong> {{ successDelete }}
		</div>
		{% endif %}

		<div class="row">
			<!-- selection des extras -->
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Liste des extras</div>
					<div class="list-group" id="listExtra">
						{% for extra in Ex %}
						<a onClick="extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}')" id="{{ extra.id }}" href="javascript:void(0);" class="list-group-item">{{ extra.nom }}</a>
						{% endfor %}
					</div>
				</div>
			    <a onclick="addExtra()" href="javascript:void(0);" class="center center-block">Ajouter un extra</a>
			</div>

			<!-- Modification des extras -->
			<div class="col-md-8">
				<form class="form-horizontal" name="editExtra" id="editExtra" role="form" method="post" action="{% url "tennis.views.staff" %}">
					{% csrf_token %}

					<h4 class="center" id="formTitle">Editer {{ Ex.0.nom }}</h4>
					

					<!-- ID -->
				    <input type="text" class="form-control" name="id" id="extraID" value="{{ Ex.0.id }}" style="display:none;">
				      	
					<!-- Nom -->
					<div class="form-group">
				      <label class="control-label col-sm-2" for="username">Nom</label>
				      <div class="col-sm-10">
				      	<input type="text" class="form-control" maxlength="30" name="name" id="extraName" value="{{ Ex.0.nom }}">
				      	<p class="hint" id="hint-username"></p>
				      </div>
				    </div>

				    <!-- Prix -->
					<div class="form-group">
				      <label class="control-label col-sm-2" for="username">Prix</label>
				      <div class="col-sm-10">
				      	<input type="text" class="form-control" maxlength="30" name="price" id="extraPrice" value="{{ Ex.0.prix }}">
				      	<p class="hint" id="hint-username"></p>
				      </div>
				    </div>

				    <!-- Commentaire -->
					<div class="form-group">
				      <label class="control-label col-sm-2" for="username">Commentaires</label>
				      <div class="col-sm-10">
				      	<textarea class="form-control" rows="5" name="message" id="extracommentaire">{{ Ex.0.commentaires }}</textarea>
				      	<p class="hint" id="hint-username"></p>
				      </div>
				    </div>

					<ul class="list-inline text-center">
						<li>
							<button class="btn-default btn" name="action" value="modifyExtra">Editer</button>
						</li>
						<li>
							<form name="deleteExtra" id="deleteExtra" role="form" method="post" action="{% url "tennis.views.staff" %}">
								<input type="text" class="form-control" name="id" id="deleteID" value="{{ Ex.0.id }}" style="display:none;">
								<button class="btn-default btn" name="action" value="deleteExtra">Supprimer</button>
							</form>
							
						</li>
					</ul>
					
					
				  </form>
				
				<!-- Ajouter un extrat -->
				  <form class="form-horizontal" name="newExtra" id="newExtra" role="form" method="post" action="{% url "tennis.views.staff" %}" onsubmit="return validateRegister()" style="display:none" >
					{% csrf_token %}

					<h4 class="center">Ajouter extra</h4>

					<!-- Nom -->
					<div class="form-group">
				      <label class="control-label col-sm-2" for="username">Nom</label>
				      <div class="col-sm-10">
				      	<input type="text" class="form-control" maxlength="30" name="name" id="name" placeholder="Nom de l'extra">
				      	<p class="hint" id="hint-username"></p>
				      </div>
				    </div>

				    <!-- Prix -->
					<div class="form-group">
				      <label class="control-label col-sm-2" for="username">Prix</label>
				      <div class="col-sm-10">
				      	<input type="text" class="form-control" maxlength="30" name="price" id="price" placeholder="Prix de l'extra">
				      	<p class="hint" id="hint-username"></p>
				      </div>
				    </div>

				    <!-- Commentaire -->
					<div class="form-group">
				      <label class="control-label col-sm-2" for="username">Commentaires</label>
				      <div class="col-sm-10">
				      	<textarea class="form-control" rows="5" name="message" placeholder="Commentaires"></textarea>
				      	<p class="hint" id="hint-username"></p>
				      </div>
				    </div>

					<button class="btn-default btn center-block" name="action" value="addExtra">Ajouter</button>
					
				  </form>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block commande %}
<script>
//On met le premier extra de la liste en "active"
activeExtra();

//Recuperation des court et stockage dans un tableau
var courtList = [];
{% for court in allCourt %}
courtList.push(['{{ court.user.username }}','{{ court.user.participant.prenom }}','{{ court.user.participant.nom }}','{{ court.id }}','{{ court.matiere }}','{{ court.rue }}','{{ court.numero }}','{{ court.codepostal }}','{{ court.localite }}','{{ court.boite }}']);
{% endfor %}

//Nombre d'entrée par page
var pageLength = 10;
//Nombre de page
var total = Math.ceil(courtList.length/pageLength);
//Notre pagination
$('#CourtPagination').twbsPagination({
  totalPages: total,
  visiblePages: 5,
  onPageClick: function (event, page) {
  	//Lorsqu'on click sur une page, on met à jours le contenu
	setCourt(page);
  }
});

//On met jours les info (liste des users et longueur de chaque page)
setCourtListInfo(courtList,pageLength);

//On met à jours la première page
setCourt(1);

</script>

{% if successAdd %} 
<script>
	ongletExtra();
	extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}');
</script>
{% endif %}

{% if errorAdd %}
<script>
	ongletExtra();
</script>
{% endif %}

{% if successEdit %} 
<script>
	ongletExtra();
	extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}');
</script>
{% endif %}

{% if errorEdit %} 
<script>
	ongletExtra();
	extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}');
</script>
{% endif %}

{% if successDelete %}
<script>
	ongletExtra();
</script>
{% endif %}

{% if not Ex.0 %}
<script>
	addExtra();
</script>
{% endif %}



{% endblock %}

