{% extends "tennis/staff.html" %}

{% block title %}Gestion des extras{% endblock %}
{% block ongExtras %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des extras -->
<div class="content-box" id="gestionExtra">
	<h2 class="center">Gestionnaire des inscriptions</h2>
	<hr class="line">
	{% if errorInfoPrix %}
	<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>[Erreur lors de la modification]</strong> {{ errorInfoPrix }}
	</div>
	{% endif %}
	{% if errorInfoDate %}
	<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>[Erreur lors de la modification]</strong> {{ errorInfoDate }}
	</div>
	{% endif %}
	<form class="form-horizontal" method="post" action="{% url "tennis.views.staffExtra" %}">
		{% csrf_token %}
		<div class="panel panel-default">
			<div class="panel-heading">
				Tournoi
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-4">
						<!-- Frais d'inscription -->
						<div class="form-group">
					      <label class="control-label col-sm-8" for="username">Frais d'inscription</label>
					      <div class="col-sm-4">
					      	<input type="text" class="form-control" maxlength="30" name="prixInscription" value="{{ prix_inscription }}">
					      </div>
					    </div>
					</div>
					<div class="col-sm-8">
						<!-- Date de tournoi -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="username">Date du tournoi</label>
					      <div class="col-sm-8">
					      	<div class="row">
					      		<div class="col-xs-3" style="padding-right:0">
					      			<select class="form-control" name="jour" id="select_jour" style="padding-right:0" onchange="onChangeDayOfBirth()">
										<option selected disabled>Jour</option>
										{% for i in "123456789" %}
									    <option value="0{{ i }}">0{{ i }}</option>
									    {% endfor %}
									    {% for i in "0123456789" %}
									    <option value="1{{ i }}">1{{ i }}</option>
									    {% endfor %}
									    {% for i in "0123456789" %}
									    <option value="2{{ i }}">2{{ i }}</option>
									    {% endfor %}
									    <option value="30">30</option>
									    <option value="31">31</option>
									</select>
					      		</div>
					      		<div class="col-xs-5">
					      			<select class="form-control" id="select_mois" name="mois" onchange="onChangeMonthOfBirth()">
										<option selected disabled>Mois</option>
										<option value="01">Janvier</option>
									    <option value="02">Février</option>
									    <option value="03">Mars</option>
									    <option value="04">Avril</option>
									    <option value="05">Mai</option>
									    <option value="06">Juin</option>
									    <option value="07">Juillet</option>
									    <option value="08">Août</option>
									    <option value="09">Septembre</option>
									    <option value="10">Octobre</option>
									    <option value="11">Novembre</option>
									    <option value="12">Décembre</option>
									</select>
					      		</div>
					      		<div class="col-xs-4" style="padding-left:0">
					      			<select class="form-control" id="select_an" name="an" onchange="onChangeYearOfBirth()">
										<option selected disabled>Année</option>
										{% for i in yearLoop %}
									    <option value="{{ i }}">{{ i }}</option>
									    {% endfor %}
									</select>
					      		</div>
						    </div>
						    <input type="text" class="form-control" name="birthdate" id="birthdateID" value="{{ formated_date }}" style="display:none">
					      </div>
					   	</div>
					</div>
				</div>
				<button class="btn btn-default center-block" name="action" value="modifyInfoTournoi">Editer</button>
			</div>
		</div>
		
	</form>



	{% if errorAdd %}
	<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>[Erreur lors de l'ajout]</strong> {{ errorAdd }}
	</div>
	{% elif successAdd %}
	<div class="alert alert-success">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong>[Réussite de l'ajout]</strong> {{ successAdd }}
	</div>
	{% endif %}
	{% if errorEdit %}
	<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>[Erreur lors de la modification]</strong> {{ errorEdit }}
	</div>
	{% elif successEdit %}
	<div class="alert alert-success">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong>[Modification validée]</strong> {{ successEdit }}
	</div>
	{% endif %}
	{% if successDelete %}
	<div class="alert alert-success">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong>[Suppression effectuée]</strong> {{ successDelete }}
	</div>
	{% endif %}

	<div class="row">
		<!-- selection des extras -->
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Liste des extras</div>
				<div class="list-group" id="listExtra">
					{% for extra in extras %}
					<a onClick="extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}')" id="{{ extra.id }}" href="javascript:void(0);" class="list-group-item">{{ extra.nom }} [{{extra.commandsCount}}]</a>
					{% endfor %}
				</div>
			</div>
		    <a onclick="addExtra()" href="javascript:void(0);" class="center center-block" style="padding-bottom:15px;">Ajouter un extra</a>
		</div>

		<!-- Modification des extras -->
		<div class="col-sm-8">
			<form class="form-horizontal" name="editExtra" id="editExtra" role="form" method="post" action="{% url "tennis.views.staffExtra" %}">
				{% csrf_token %}
				<div class="panel panel-default">
					<div class="panel-heading" id="formTitle">
						Editer {{ extras.0.nom }}
					</div>
					<div class="panel-body">
						<!-- ID -->
					    <input type="text" class="form-control" name="id" id="extraID" value="{{ extras.0.id }}" style="display:none;">

						<!-- Nom -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Nom</label>
					      <div class="col-sm-10">
					      	<input type="text" class="form-control" maxlength="30" name="name" id="extraName" value="{{ extras.0.nom }}">
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

					    <!-- Prix -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Prix</label>
					      <div class="col-sm-10">
					      	<input type="text" class="form-control" maxlength="30" name="price" id="extraPrice" value="{{ extras.0.prix }}">
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

					    <!-- Commentaire -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Commentaires</label>
					      <div class="col-sm-10">
					      	<textarea class="form-control" rows="5" name="message" id="extracommentaire">{{ extras.0.commentaires }}</textarea>
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

						<ul class="list-inline text-center">
							<li>
								<button class="btn-default btn" name="action" value="modifyExtra">Editer</button>
							</li>
							<li>
								<button class="btn-default btn" type="button" data-toggle="modal" data-target="#myModal">Supprimer</button>

								<form name="deleteExtra" id="deleteExtra" role="form" method="post" action="{% url "tennis.views.staffExtra" %}">
									<input type="text" class="form-control" name="id" id="deleteID" value="{{ extras.0.id }}" style="display:none;">
									<button style="display:none" class="btn-default btn" name="action" id="deleteExtra" value="deleteExtra">Supprimer</button>
								</form>

							</li>
						</ul>
					</div>
				</div>







			  </form>

			<!-- Ajouter un extrat -->
			  <form class="form-horizontal" name="newExtra" id="newExtra" role="form" method="post" action="{% url "tennis.views.staffExtra" %}" onsubmit="return validateRegister()" style="display:none" >
				{% csrf_token %}
				<div class="panel panel-default">
					<div class="panel-heading">Ajouter extra</div>
					<div class="panel-body">
						<!-- Nom -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Nom</label>
					      <div class="col-sm-10">
					      	<input type="text" class="form-control" maxlength="30" name="name" id="name" placeholder="Nom de l'extra">
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

					    <!-- Prix -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Prix</label>
					      <div class="col-sm-10">
					      	<input type="text" class="form-control" maxlength="30" name="price" id="price" placeholder="Prix de l'extra">
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

					    <!-- Commentaire -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Commentaires</label>
					      <div class="col-sm-10">
					      	<textarea class="form-control" rows="5" name="message" placeholder="Commentaires"></textarea>
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

						<button class="btn-default btn center-block" name="action" value="addExtra">Ajouter</button>
					</div>
				</div>
			  </form>
		</div>

		<button class="btn btn-default center-block">RESET LA DB T'ES UN OUF</button>
	</div>
</div>



<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title center">Confirmation de suppression</h4>
        </div>
        <div class="modal-body">
          <p>Etes-vous sûr de vouloir supprimer cet extra?</p>

	    	<ul class="list-inline text-center">
				<li>
					<button type="button" class="btn btn-default" onclick="document.getElementById('deleteExtra').click();">oui</button>
				</li>
				<li>
					<button type="button" class="btn btn-default" data-dismiss="modal">non</button>
				</li>
			</ul>
		</div>
      </div>

    </div>
  </div>
{% endblock %}

{% block commande %}
<script>
var dateNaissance = document.getElementById("birthdateID");

function setSelectedIndex(s, valsearch)
{
// Loop through all the items in drop down list
	for (i = 0; i< s.options.length; i++)
	{
		if (s.options[i].value == valsearch)
		{
		// Item is found. Set its property and exit
		s.options[i].selected = true;
		break;
		}
	}
	return;
}

//set date en fonction de la valeur
var date_jour = dateNaissance.value.substring(0,2);
var date_mois = dateNaissance.value.substring(3,5);
var date_an = dateNaissance.value.substring(6,10);

setSelectedIndex(document.getElementById("select_jour"),date_jour);
setSelectedIndex(document.getElementById("select_mois"),date_mois);
setSelectedIndex(document.getElementById("select_an"),date_an);

function onChangeDayOfBirth() {
    var select_jour = document.getElementById("select_jour");
    var jour = select_jour.options[select_jour.selectedIndex].value
	date = dateNaissance.value
	dateNaissance.value = jour+date.substring(2,date.length);
}

function onChangeMonthOfBirth() {
    var select_mois = document.getElementById("select_mois");
    var mois = select_mois.options[select_mois.selectedIndex].value
	date = dateNaissance.value
	dateNaissance.value = date.substring(0,3)+mois+date.substring(5,date.length);
}

function onChangeYearOfBirth() {
    var select_an = document.getElementById("select_an");
    var an = select_an.options[select_an.selectedIndex].value
	date = dateNaissance.value
	dateNaissance.value = date.substring(0,6)+an
}

	$('#select_jour').on('input', function() { 
	    onChangeDayOfBirth();
});
	$('#select_mois').on('input', function() { 
        onChangeMonthOfBirth();
});
	$('#select_an').on('input', function() { 
        onChangeYearOfBirth();
});
</script>
<script>
//On met le premier extra de la liste en "active"
extra('{{ extras.0.id }}', '{{ extras.0.nom }}','{{ extras.0.prix }}','{{ extras.0.commentaires }}');
activeExtra();
</script>

{% if successAdd %}
<script>
	extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}');
</script>
{% endif %}

{% if successEdit %}
<script>
	extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}');
</script>
{% endif %}

{% if errorEdit %}
<script>
	extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}');
</script>
{% endif %}

{% if not extras.0 %}
<script>
	addExtra();
</script>
{% endif %}
{% endblock %}
