{% extends "tennis/staff.html" %}

{% block title %}Gestion des utilisateurs{% endblock %}
{% block ongUser %}class="active"{% endblock %}

{% block bodyStaff %}
{% load static from staticfiles %}
<!-- Gestionnaire des utilisateurs -->
<div class="content-box" id="gestionTerrain">
	<h2 class="center">Gestionnaire des utilisateurs</h2>
	<hr class="line">	
	<!-- Rechercher -->
	<div class="row" style="margin-bottom:15px;">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="Rechercher" id="search_value">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" id="search_user_button" onclick="search_user()"><span class="glyphicon glyphicon-search"></span></button>
		      </span>
		    </div>
		</div>
	</div>

	<!-- Liste des users -->
	<div class="panel panel-default center-block" style="max-width:600px;">
		<div class="panel-heading">Users</div>
		<div class="list-group" id="UserList">
		</div>
	</div>

	<!-- Info -->
	<p class="center" id="UserInfo"></p>

	<!-- Bottom pagination -->
	<div class="text-center">
	    <div id="paginationholder">
		</div>
	</div>

</div>
{% endblock %}

{% block commande %}
<script>
function pagination(list) {
    //Nombre d'entrée par page
    var pageLength = 10;
    //Nombre de page
    var total = Math.ceil(list.length/pageLength);
    //Notre pagination
    $('#paginationholder').html('');
    $('#paginationholder').html('<ul class="pagination" id="UserPagination"></ul>');
    $('#UserPagination').twbsPagination({
      totalPages: total,
      visiblePages: Math.min(total, 5),
      onPageClick: function (event, page) {
      	//Lorsqu'on clique sur une page, on met à jour le contenu
	    //On met à jour la page en fonction du tournoi selectionné
	    setUserStaff(page);
      }
    });
    //On met à jour les info (liste des users et longueur de chaque page)
    setUserListInfo(list,pageLength);

    //On met à jour la première page
    setUserStaff(1);
}

//Recuperation des users et stockage dans un tableau
var userList = [];
{% for use in Use %}
userList.push(['{{ use.username }}','{{ use.participant.prenom }}','{{ use.participant.nom }}','{{ use.participant.titre }}','{{ use.fb }}']);
{% endfor %}

pagination(userList);

function search_user() {
    var retour = document.getElementById("search_value").value.toLocaleUpperCase();
    // Copie du tableau pour garder l'original
    var resultList = userList.slice();
    var nbr = resultList.length;
    for (var i = nbr-1; i >= 0 ; i--) {
        myUser = resultList[i];
        username = myUser[0];
        prenom = myUser[1];
        nom = myUser[2];
        if (! (username.toLocaleUpperCase().indexOf(retour) != -1 || prenom.toLocaleUpperCase().indexOf(retour) != -1 || nom.toLocaleUpperCase().indexOf(retour) != -1)) {
            resultList.splice(i, 1);
        }
    }
    pagination(resultList);
}
</script>
{% endblock %}
