{% extends "tennis/staff.html" %}

{% block title %}Gestion des paires{% endblock %}
{% block ongPaires %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des paires -->
<div class="content-box" id="gestionPaire">
	<h2 class="center">Gestionnaire des paires</h2>
	<hr class="line">	
	<!-- Rechercher -->
	<div class="row" style="margin-bottom:15px;">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="Rechercher" id="search_value">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" onclick="search_pair()"><span class="glyphicon glyphicon-search"></span></button>
		      </span>
		    </div>
		</div>
	</div>    

	<!-- Liste des terrains -->
	<div class="panel panel-default center-block" style="max-width:600px;">
		<div class="panel-heading">Paires</div>
		<div class="list-group" id="PairList">
		</div>
	</div>

	<!-- Info -->
	<p class="center" id="PairInfo"></p>

	<!-- Bottom pagination -->
	<div class="text-center">
        <div id="paginationholder">
        </div>
	</div>

</div>
{% endblock %}

{% block commande %}
<script>
function pagination(list) {
    //Nombre d'entrées par page
    var pageLength = 10;
    //Nombre de pages
    var total = Math.max(Math.ceil(list.length/pageLength), 1);
    //Notre pagination
    $('#paginationholder').html('');
    $('#paginationholder').html('<ul class="pagination" id="PairPagination"></ul>');
    $('#PairPagination').twbsPagination({
            totalPages: total,
            visiblePages: Math.min(total, 5),
            onPageClick: function (event, page) {
            //Lorsqu'on clique sur une page, on met à jour le contenu
            setPair(page);

            }
    });
    //On met à jour les infos (liste des paires et longueur de chaque page)
    setPairListInfo(list,pageLength);
    
    //On met à jour la première page
    setPair(1);
}

//Initialisation de la liste des paires
var pairList = [];
{% for pair in allPair %}
{% if pair.confirm %}
pairList.push(['{{ pair.id }}',{% if pair.valid %}'oui'{% else %}'non'{% endif %},{% if pair.pay %}'oui'{% else %}'non'{% endif %},'{{ pair.user1.username }}','{{ pair.user2.username }}','{{ pair.user1.participant.nom }}','{{ pair.user2.participant.nom }}','{{ pair.user1.participant.prenom }}','{{ pair.user2.participant.prenom }}','{{ pair.tournoi.nom }}']);
{% endif %}
{% endfor %}

pagination(pairList);

function search_pair() {
     var retour = document.getElementById("search_value").value.toLocaleUpperCase();
     // Copie du tableau pour garder l'original
     var resultList = pairList.slice();
     var nbr = resultList.length;
     for (var i = nbr-1; i >= 0; i--) {
         var myPair = resultList[i];
         var pairID = myPair[0];
         var username1 = myPair[3];
         var username2 = myPair[4];
         var nom1 = myPair[5];
         var nom2 = myPair[6];
         var prenom1 = myPair[7];
         var prenom2 = myPair[8];
         if (! (pairID.toLocaleUpperCase().indexOf(retour) != -1 || username1.toLocaleUpperCase().indexOf(retour) != -1 || username2.toLocaleUpperCase().indexOf(retour) != -1 || nom1.toLocaleUpperCase().indexOf(retour) != -1 || nom2.toLocaleUpperCase().indexOf(retour) != -1 || prenom1.toLocaleUpperCase().indexOf(retour) != -1 || prenom2.toLocaleUpperCase().indexOf(retour) != -1 )) {
              resultList.splice(i,1);
         }
     }
     pagination(resultList);
}
</script>
{% endblock %}
