{% extends "tennis/staff.html" %}

{% block title %}Gestion des extras{% endblock %}
{% block ongExtras %}class="active"{% endblock %}

{% block bodyStaff %}
<!-- Gestionnaire des extras -->
<div class="content-box" id="gestionExtra">
	<h2 class="center">Gestionnaire des inscriptions</h2>
	<hr class="line">
	<form class="form-horizontal" action="">
		<div class="panel panel-default">
			<div class="panel-heading">
				Tournoi
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
						<!-- Frais d'inscription -->
						<div class="form-group">
					      <label class="control-label col-sm-4 col-sm-offset-4" for="username">Frais d'inscription</label>
					      <div class="col-sm-4">
					      	<input type="text" class="form-control" maxlength="30" name="name" value="{{ prix_inscription }}">
					      </div>
					    </div>
					</div>
					<div class="col-sm-6">
						<!-- Date de tournoi -->
						<div class="form-group">
					      <label class="control-label col-sm-4" for="username">Date du tournoi</label>
					      <div class="col-sm-4">
					      	<input type="date" class="form-control" maxlength="30" name="name" value="{{ date_inscription }}">
					      </div>
					    </div>
					</div>
				</div>
				<button class="btn btn-default center-block">Editer</button>
			</div>
		</div>
		
	</form>



	{% if errorAdd %}
	<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Error!</strong> {{ errorAdd }}
	</div>
	{% elif successAdd %}
	<div class="alert alert-success">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong>Succès!</strong> {{ successAdd }}
	</div>
	{% endif %}
	{% if errorEdit %}
	<div class="alert alert-danger">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>Error!</strong> {{ errorEdit }}
	</div>
	{% elif successEdit %}
	<div class="alert alert-success">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong>Succès!</strong> {{ successEdit }}
	</div>
	{% endif %}
	{% if successDelete %}
	<div class="alert alert-success">
	    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    <strong>Succès!</strong> {{ successDelete }}
	</div>
	{% endif %}

	<div class="row">
		<!-- selection des extras -->
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Liste des extras</div>
				<div class="list-group" id="listExtra">
					{% for extra in Ex %}
					<a onClick="extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}')" id="{{ extra.id }}" href="javascript:void(0);" class="list-group-item">{{ extra.nom }}</a>
					{% endfor %}
				</div>
			</div>
		    <a onclick="addExtra()" href="javascript:void(0);" class="center center-block" style="padding-bottom:15px;">Ajouter un extra</a>
		</div>

		<!-- Modification des extras -->
		<div class="col-sm-8">
			<form class="form-horizontal" name="editExtra" id="editExtra" role="form" method="post" action="{% url "tennis.views.staffExtra" %}">
				{% csrf_token %}
				<div class="panel panel-default">
					<div class="panel-heading" id="formTitle">
						Editer {{ Ex.0.nom }}
					</div>
					<div class="panel-body">
						<!-- ID -->
					    <input type="text" class="form-control" name="id" id="extraID" value="{{ Ex.0.id }}" style="display:none;">
					      	
						<!-- Nom -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Nom</label>
					      <div class="col-sm-10">
					      	<input type="text" class="form-control" maxlength="30" name="name" id="extraName" value="{{ Ex.0.nom }}">
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

					    <!-- Prix -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Prix</label>
					      <div class="col-sm-10">
					      	<input type="text" class="form-control" maxlength="30" name="price" id="extraPrice" value="{{ Ex.0.prix }}">
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

					    <!-- Commentaire -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Commentaires</label>
					      <div class="col-sm-10">
					      	<textarea class="form-control" rows="5" name="message" id="extracommentaire">{{ Ex.0.commentaires }}</textarea>
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

						<ul class="list-inline text-center">
							<li>
								<button class="btn-default btn" name="action" value="modifyExtra">Editer</button>
							</li>
							<li>
								<button class="btn-default btn" type="button" data-toggle="modal" data-target="#myModal">Supprimer</button>

								<form name="deleteExtra" id="deleteExtra" role="form" method="post" action="{% url "tennis.views.staffExtra" %}">
									<input type="text" class="form-control" name="id" id="deleteID" value="{{ Ex.0.id }}" style="display:none;">
									<button style="display:none" class="btn-default btn" name="action" id="deleteExtra" value="deleteExtra">Supprimer</button>
								</form>
								
							</li>
						</ul>
					</div>
				</div>

				
				

				
				
				
			  </form>
			
			<!-- Ajouter un extrat -->
			  <form class="form-horizontal" name="newExtra" id="newExtra" role="form" method="post" action="{% url "tennis.views.staffExtra" %}" onsubmit="return validateRegister()" style="display:none" >
				{% csrf_token %}
				<div class="panel panel-default">
					<div class="panel-heading">Ajouter extra</div>
					<div class="panel-body">
						<!-- Nom -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Nom</label>
					      <div class="col-sm-10">
					      	<input type="text" class="form-control" maxlength="30" name="name" id="name" placeholder="Nom de l'extra">
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

					    <!-- Prix -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Prix</label>
					      <div class="col-sm-10">
					      	<input type="text" class="form-control" maxlength="30" name="price" id="price" placeholder="Prix de l'extra">
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

					    <!-- Commentaire -->
						<div class="form-group">
					      <label class="control-label col-sm-2" for="username">Commentaires</label>
					      <div class="col-sm-10">
					      	<textarea class="form-control" rows="5" name="message" placeholder="Commentaires"></textarea>
					      	<p class="hint" id="hint-username"></p>
					      </div>
					    </div>

						<button class="btn-default btn center-block" name="action" value="addExtra">Ajouter</button>
					</div>
				</div>
			  </form>
		</div>
	</div>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title center">Confirmation de suppression</h4>
        </div>
        <div class="modal-body">
          <p>Etes-vous sûr de vouloir supprimer cet extra?</p>
        
	    	<ul class="list-inline text-center">
				<li>
					<button type="button" class="btn btn-default" onclick="document.getElementById('deleteExtra').click();">oui</button>
				</li>
				<li>
					<button type="button" class="btn btn-default" data-dismiss="modal">non</button>
				</li>
			</ul>
		</div>
      </div>
      
    </div>
  </div>
{% endblock %}

{% block commande %}
<script>
//On met le premier extra de la liste en "active"
extra('{{ Ex.0.id }}', '{{ Ex.0.nom }}','{{ Ex.0.prix }}','{{ Ex.0.commentaires }}');
activeExtra();

</script>

{% if successAdd %} 
<script>
	extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}');
</script>
{% endif %}

{% if successEdit %} 
<script>
	extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}');
</script>
{% endif %}

{% if errorEdit %} 
<script>
	extra('{{ extra.id }}', '{{ extra.nom }}','{{ extra.prix }}','{{ extra.commentaires }}');
</script>
{% endif %}

{% if not Ex.0 %}
<script>
	addExtra();
</script>
{% endif %}
{% endblock %}
