{% extends "tennis/staff.html" %}

{% block title %}Gestion des permissions{% endblock %}
{% block ongPerm %}class="active"{% endblock %}

{% block bodyStaff %}
{% load static from staticfiles %}
<!-- Gestionnaire des utilisateurs -->
<div class="content-box" id="gestionTerrain">
	<h2 class="center">Gestionnaire des permissions</h2>
	<hr class="line">
    <div class="row">
        <div class="col-sm-6">
            <form method="post" action="{% url "tennis.views.staffPerm" %}" class="form-horizontal">
                {% csrf_token %}
                <input type="text" name="page" style="display:none;" value="1" id="pageNumber">
                <!-- Rechercher -->
                <div class="row" style="margin-bottom:15px;">
                    <div class="col-lg-10 col-lg-offset-1 col-sm-4 col-sm-offset-4">
                        <div class="input-group">
                          <input type="text" class="form-control" value="{{recherche}}" placeholder="Rechercher" name="rechercheField">
                          <span class="input-group-btn">
                            <button class="btn btn-default" name="action" value="search" type="submit" id="search_perm_button"><span class="glyphicon glyphicon-search"></span></button>
                          </span>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Liste des users -->
            <div class="panel panel-default center-block">
                <div class="panel-heading">Utilisateurs</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
						  <tr>
							<th>Nom d'utilisateur</th>
							<th>Prénom</th>
							<th>Nom</th>
						  </tr>
						</thead>
						<tbody>
                            {% for u in Use %}
                            <tr class="clickable-row" onclick="selectUserStaff('{{u.username}}','{{u.participant.nom}}','{{u.participant.prenom}}','{{u.user_permissions.all}}','{{ u.groups.all }}');">
                                <td>{{u.username}}</td>
                                <td>{{u.participant.prenom}}</td>
                                <td>{{u.participant.nom}}</td>
                            </tr>
                            {% endfor %}
						</tbody>
					</table>
				</div>
            </div>

            <!-- Info -->
            <p class="center" id="">{{debut}}-{{fin}} sur {{pageLength}} résultats ({{length}} au total)</p>

            <!-- Bottom pagination -->
            <div class="text-center">
                <div id="paginationholder">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- User -->
            <div class="panel panel-default center-block">
                <div class="panel-heading">Utilisateur</div>
                <div class="panel-body">
                    <a class="UserLink" href="" id="userInfo" style="text-align:center"></a>
                </div>
            </div>

            <!-- Permissions -->
            <!-- TODO form -->
            <form class="form-horizontal" method="post" action="{% url "tennis.views.staffPerm" %}">
                {% csrf_token %}
                <input type="text" name="username" id="usernameID" value="" style="display:none">
                <div class="panel panel-default center-block">
                    <div class="panel-heading">Permissions</div>
                    <div class="panel-body">
                        <div class="form-group">
                          <label class="control-label col-sm-4" for="username">Permissions : </label>
                          <div class="col-sm-8">
                            <!-- TODO check box if user has perm -->
                            {% for tournoi in tournoiAll %}
                            <div class="checkbox">
                              <label><input type="checkbox" name = "{{ tournoi.nom }}" value="{{ tournoi.id }}" id="{{tournoi.nom }}ID" >{{ tournoi.nom }}</label>
                            </div>
                            {% endfor %}
                            <div class="checkbox">
                              <label><input type="checkbox" name = "court" value="terrain" id="courtID" >Gérer les terrains</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name = "pair" value="paire" id="pairID" >Gérer les paires</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name = "extra" value="extra" id="extraID" >Gérer les extras</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name = "user" value="user" id="userID">Gérer les utilisateurs</label>
                            </div>
                            <div class="checkbox">
                              <label><input type="checkbox" name = "perm" value="perm" id="permID" onchange="admin()">Admin</label>
                            </div>

                          </div>
                        </div>
                        <button class="btn btn-default center-block" name="action" value="edit" id="valider" disabled>Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
{% endblock %}

{% block commande %}
<script>
//Nombre de page
var total = Math.max(Math.ceil({{length}}/{{pageLength}}), 1);
//Notre pagination
$('#paginationholder').html('');
$('#paginationholder').html('<ul class="pagination" id="UserPagination"></ul>');
$('#UserPagination').twbsPagination({
  totalPages: total,
  visiblePages: Math.min(total, 5),
  startPage: {{page}},
  onPageClick: function (event, page) {
  	//Lorsqu'on clique sur une page, on met à jour le contenu
    //On met à jour la page en fonction du tournoi selectionné
    document.getElementById("pageNumber").value = page;
    document.getElementById("search_perm_button").click();
  }
});
</script>
{% endblock %}
