{% extends "tennis/base.html" %}

{% block title %}Staff{% endblock %}
{% block nav-staff %}class="dropdown active"{% endblock %}

{% block body %}
<div class="container">
	<!-- Onglet de navigations -->
	<ul class="nav nav-tabs">
	    <li {% block ongTournoi %}{% endblock %} id="tournoi"><a href="{% url "tennis.views.staffTournoi" %}">Tournois</a></li>
	    {% if perms.tennis.Court %}<li {% block ongTerrain %}{% endblock %} id="terrain"><a href="{% url "tennis.views.staffTerrain" %}">Terrains</a></li>{% endif %}
	    {% if perms.tennis.Pair %}<li {% block ongPaires %}{% endblock %} id="paire"><a href="{% url "tennis.views.staffPaire" %}">Paires</a></li>{% endif %}
	    {% if perms.tennis.Extra %}<li {% block ongExtras %}{% endblock %} id="extra"><a href="{% url "tennis.views.staffExtra" %}">Extras</a></li>{% endif %}
	    {% if perms.tennis.User %}<li {% block ongUser %}{% endblock %} id="user"><a href="{% url "tennis.views.staffUser" %}">Utilisateurs</a></li>{% endif %}
	    <li {% block ongLog %}{% endblock %} id="log"><a href="{% url "tennis.views.staffLog" %}">Historique</a></li>
	    {% if perms.tennis.Droit %}<li {% block ongPerm %}{% endblock %} id="droit"><a href="{% url "tennis.views.staffPerm" %}">Permissions</a></li>{% endif %}
  	</ul>
	{% block bodyStaff %}
	{% endblock %}

</div>

{% endblock %}
