{% extends "tennis/base.html" %}

{% block title %}Ma page{% endblock %}
{% block nav-terrain %}class="active"{% endblock %}

{% block body %}

<div class="container">
	<div class="content-box">
		<h2>Informations</h2>
		<hr class="line">
		<p>Cette box s'affiche si l'utilisateur courant n'a pas enregistré de terrains</p>
		<p>Texte expliquant que si tu as un terrains ca serait cool que tu l'enregistre ca aide l'asbl et t'es un chic type</p>
		<p>Si t'as pas de terrains par contre osef va t'inscrire à un tournoi</p>
	</div>
	<div class="row">
		<div class="col-lg-7">
			<!-- Les différents terrains -->
			<!-- TODO set info -->
			<div class="content-box">
				<h2 class="center">Mes terrains</h2>
				<hr class="line">

				<!-- Selecteur -->
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-xs-3 info">
						Type
					</div>
					<div class="col-lg-8 col-sm-4 col-xs-8">
					   	<select class="form-control" name="title">
							<option>Disponible cette année</option>
						    <option>???</option>
						    <option>???</option>
						    <option>???</option>
						</select>
		    		</div>
				</div>

				<!-- Panel infos -->
				<div class="panel panel-default">
					<div class="panel-heading">Mes terrains</div>
					<div class="list-group">
					{% for elem in court %}
					<a href="{% url 'tennis.views.editTerrain' elem.id %}" class="list-group-item"><b>ID : </b>{{ elem.id}} / <b>Matière : </b>{{ elem.matiere }}<br> 
					<b>Adresse : </b>{{elem.rue }} {{elem.numero}}, {{elem.codepostal}} {{elem.localite}}					
					</a>
				
					  {% endfor %}
					</div>
				</div>

				<!-- Inscription -->
				<button onClick="location.href='{% url "tennis.views.registerTerrain" %}';" class="btn btn-default b-center">Enregistrer un nouveau terrain</button>
			</div>
		</div>
		<div class="col-lg-5">
			<!-- Les activités -->
			<!-- TODO set info -->
			<div class="content-box">
				<h2 class="center">Activités</h2>
				<hr class="line">

				<!-- Selecteur -->
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-xs-3 info">
						Terrain
					</div>
					<div class="col-lg-8 col-sm-4 col-xs-8">
					   	<select class="form-control" name="title">
							<option>345</option>
						    <option>346</option>
						</select>
		    		</div>
				</div>

				<!-- Panel infos -->
				<div class="panel panel-default">
					<div class="panel-heading">Prochains match sur mes terrains</div>
					<ul class="list-group">
		  				<li class="list-group-item">15h30 - Terrain 345 - Paires 8945 vs 12345</li>
						<li class="list-group-item">16h30 - Terrain 345 - Paires 14846 vs 13674</li>
					</ul>
				</div>

				<!-- Consulter -->
				<button class="btn btn-default b-center">Consulter toutes les activités</button>
			</div>
		</div>
	</div>

</div>

{% endblock %}
