{% extends "tennis/base.html" %}

{% block title %}Tournoi{% endblock %}
{% block nav-tournoi %}class="active"{% endblock %}

{% block body %}

<div class="container">
	
	<!-- Affichage Normal : Inscription - Historique - Agenda -->
	<!-- Les différents tournoi -->
	<!-- TODO set info -->
	<div class="content-box">
		<h2 class="center">Inscription</h2>
		<hr class="line">
		<div class="row">
			<div class="col-sm-6">
				<!-- Panel infos -->
				<div class="panel panel-default">
					<div class="panel-heading">Demande d'inscription</div>
					<div class="list-group">
						{% for item in demande %}
						<a href="{% url "tennis.views.confirmPair" item.id %}" class="list-group-item">
							<b>En attente de votre confirmation</b> <br>
							<b>ID : </b> {{ item.id}} / <b>Tournoi : </b> {{item.tournoi.nom}} / <b>Jour : </b>{{ item.tournoi.jour }} <br> 
							<b>Joueur 1 : </b>{{item.user1.participant.prenom}} {{item.user1.participant.nom}} - <b>Joueur 2 : </b>{{item.user2.participant.prenom}} {{item.user2.participant.nom}}
						</a>
						{% empty %}
						<li class="list-group-item center">Vous n'avez pas de demande d'inscription</li>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<!-- Panel infos -->
				<div class="panel panel-default">
					<div class="panel-heading">Partenaire non confirmé</div>
					<div class="list-group">
						{% for item in nonComfirme %}
						<a href="{% url "tennis.views.cancelPair" item.id %}" class="list-group-item">
							<b>En attente de confirmation par le joueur 2</b> <br>
							<b>ID : </b> {{ item.id}} / <b>Tournoi : </b> {{item.tournoi.nom}} / <b>Jour : </b>{{ item.tournoi.jour }} <br> 
							<b>Joueur 1 : </b>{{item.user1.participant.prenom}} {{item.user1.participant.nom}} - <b>Joueur 2 : </b>{{item.user2.participant.prenom}} {{item.user2.participant.nom}}
						</a>
						{% empty %}
						<li class="list-group-item center">Vous n'avez pas de demande en attente de confirmation</li>
						{% endfor %}
						
					</div>
				</div>
			</div>
		</div>

		<!-- Panel infos -->
		<div class="panel panel-default">
			<div class="panel-heading">Mes inscriptions</div>
		        <div class="table-responsive">
		            <table class="table table-hover">
		                <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tournoi</th>
                                <th>Jour</th>
                                <th>Validé</th>
                                <th>Payé</th>
                                <th>Joueur 1</th>
                                <th>Joueur 2</th>
                            </tr>
                       </thead>
                       <tbody>
                        {% for item in inscrit %}
                            <tr onclick="window.document.location='{% url 'tennis.views.viewPair' item.id %}'" class="clickable-row">
                                <td>{{ item.id }}</td>
                                <td>{{ item.tournoi.nom }}</td>
                                <td>{{ item.tournoi.jour }}</td>
                                <td>{% if item.valid %}oui{% else %}non{% endif %}</td>
                                <td>{% if item.pay %}oui{% else %}non{% endif %}</td>
                                <td>{{item.user1.participant.prenom}} {{item.user1.participant.nom}}</td>
                                <td>{{item.user2.participant.prenom}} {{item.user2.participant.nom}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        {% endfor %}
                       </tbody>
		             </table>
			</div>
		</div>
		

		<!-- Inscription -->
		<button onClick="location.href='{% url "tennis.views.inscriptionTournoi" %}';" class="btn btn-default b-center">S'inscrire à un tournoi</button>
	</div>

	<div class="content-box center">
		<h2 class="center">Résultats de l'année précédente</h2>
		<hr class="line">
			<h3>Double Mixte :</h3>
			<h4>PREMINIME/MINIME</h4>
			<p>
				<b>Gagnants</b> : Julie RYELANDT et Evrard THIJSSEN
				<br>
				<b>Finalistes</b> : Lou Courbiau et Alaric KALISH
			</p>

			<h4>CADET</h4>
			<p>
				<b>Gagnants</b> : Amandine PRIOUX et Antoine BOONE
				<br>
				<b>Finalistes</b> : Chloe OLESEN et Maxime de RIBAUCOURT
			</p>

			<h4>SCOLAIRE</h4>
			<p>
				<b>Gagnants</b> : Eleonore BOONEN et Guillaume-Constant CLAES
				<br>
				<b>Finalistes</b> : Maroussia Cattoir et Amaury Cattoir
			</p>

			<h4>JUNIOR</h4>
			<p>
				<b>Gagnants</b> : Anouchka LAURENT JOSI et Antoine de BORREKENS
				<br>
				<b>Finalistes</b> : Ségolène GOFFINET et Antoine REGINSTER
			</p>

			<h4>SENIOR/ELITE</h4>
			<p>
				<b>Gagnants</b> : Alizé REYPENS et Gregory VERHOOSEL
				<br>
				<b>Finalistes</b> : Sabine de VILLENFAGNE et Christophe WAUCQUEZ
			</p>

			<h3>Double Dames :</h3>

			<h4>PREMINIME/MINIME</h4>
			<p>
				<b>Gagnants</b> : Julie RYELANDT et Lola SCHMID
				<br>
				<b>Finalistes</b> : Zoe VERHOOSEL et Alexia JACOB
			</p>

			<h4>CADET</h4>
			<p>
				<b>Gagnants</b> : Antoinette ADAM et Victorine ADAM
				<br>
				<b>Finalistes</b> : Agathe DE MOL et Louise-Marie DUPREZ
			</p>

			<h4>SCOLAIRE</h4>
			<p>
				<b>Gagnants</b> : Delphine SPRUYTTE et Ludivine D'YDEWALLE
				<br>
				<b>Finalistes</b> : Juliette DAVIGNON et Charlotte-Lucie DELBECQUE
			</p>

			<h4>JUNIOR</h4>
			<p>
				<b>Gagnants</b> : Laura DECLETY et Sophie GOFFAU
				<br>
				<b>Finalistes</b> : Alexia KASTEEL et Louise MONVILLE
			</p>

			<h3>Double Messieurs :</h3>

			<h4>PREMINIME/MINIME</h4>
			<p>
				<b>Gagnants</b> : Arnaud DAVIGNON et Hidde DOMS
				<br>
				<b>Finalistes</b> : Alexis MENCIK et Jules RAEMDONCK
			</p>

			<h4>CADET</h4>
			<p>
				<b>Gagnants</b> : Quentin DAVIGNON et Alexandre VERHULST
				<br>
				<b>Finalistes</b> : Diego TIELENS et Alexandre de STAERCKE
			</p>

			<h4>SCOLAIRE</h4>
			<p>
				<b>Gagnants</b> : Charles le GRELLE et Martin van der MEERSCHEN
				<br>
				<b>Finalistes</b> : François DAVID et Antoine LEGRAND
			</p>

			<h4>JUNIOR</h4>
			<p>
				<b>Gagnants</b> : Augustin BOSSAERT DERACHE et Diego MOMMAERTS
				<br>
				<b>Finalistes</b> :  Felix de PATOUL et Nicolas van HAVRE
			</p>

			<h4>SENIOR/ELITE</h4>
			<p>
				<b>Gagnants</b> : Olivier MARTINOT et Didier PERWEZ
				<br>
				<b>Finalistes</b> : Philippe DE BRUYNE et Alain VERGAUWEN
			</p>

			<h3>Tournoi des familles :</h3>
			<p>
				<b>Gagnants</b> : Guillaume van LINT et Eric van LINT
				<br>
				<b>Finalistes</b> : Briac LOHEST et Emmanuel LOHEST
			</p>

			<h3>Tournoi de réconciliation :</h3>
			<p>
				<b>Gagnants</b> : Mahaut LOHEST et Harold van CUTSEM
			</p>
		</p>
	</div>



	<div class="row" style="display:none;">
		<div class="col-sm-6">
			<!-- Les historique de matchs -->
			<!-- TODO set info -->
			<div class="content-box">
				<h2 class="center">Historique (TODO)</h2>
				<hr class="line">

				<!-- Selecteur -->
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-xs-3 info">
						Tournoi
					</div>
					<div class="col-lg-8 col-sm-4 col-xs-8">
					   	<select class="form-control" name="title">
							<option>Senior (homme)</option>
						    <option>???</option>
						    <option>???</option>
						    <option>???</option>
						</select>
		    		</div>
				</div>

				<!-- Panel infos -->
				<div class="panel panel-default">
					<div class="panel-heading">Derniers match joués</div>
					<ul class="list-group">
		  				<li class="list-group-item">14h30 - Paires 8945 vs 12345 - Victoire</li>
						<li class="list-group-item">13h30 - Paires 8945 vs 10119 - Victoire</li>
					</ul>
				</div>

				<!-- Consulter -->
				<button class="btn btn-default b-center">Consulter tout l'historique</button>
			</div>
		</div>
		<div class="col-sm-6">
			<!-- Agenda -->
			<!-- TODO set info -->
			<div class="content-box">
				<h2 class="center">Agenda (TODO)</h2>
				<hr class="line">

				<!-- Selecteur -->
				<div class="row" style="margin-bottom: 20px;">
					<div class="col-xs-3 info">
						Tournoi
					</div>
					<div class="col-lg-8 col-sm-4 col-xs-8">
					   	<select class="form-control" name="title">
							<option>Senior (homme)</option>
						    <option>???</option>
						    <option>???</option>
						    <option>???</option>
						</select>
		    		</div>
				</div>
				
				<!-- Panel infos -->
				<div class="panel panel-default">
					<div class="panel-heading">Prochains matchs</div>
					<ul class="list-group">
		  				<li class="list-group-item">15h30 - Paires 8945 vs 9655</li>
					</ul>
				</div>

				<!-- Consulter -->
				<button class="btn btn-default b-center">Consulter la table du tournoi</button>
			</div>
		</div>
	</div>

	
	

</div>

{% endblock %}
