{% extends "tennis/staff.html" %}

{% block title %}Validation terrain{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-lg-7">
			<div class="content-box">
				<h2 class="center">Terrain {{ court.id }}</h2>
				<hr class="line">
				<div class="row">
					<div class="col-sm-6">
						<h3>Propriétaire</h3>
						<address>
							{{ court.user.participant.titre }} {{ court.user.participant.prenom }} {{ court.user.participant.nom }} <br>
							{{ court.user.participant.rue }}, {{ court.user.participant.numero }} {% if court.user.participant.boite %}
							bte {{ court.user.participant.boite }} {% endif %}<br>
							{{ court.user.participant.codepostal }} {{ court.user.participant.localite }}<br> 
							Tél : {% if court.user.participant.telephone %}{{ court.user.participant.telephone }}{% else %} - {% endif %}<br> 
							GSM : {% if court.user.participant.gsm %}{{ court.user.participant.gsm }}{% else %} - {% endif %} <br>
							Fax : {% if court.user.participant.fax %}{{ court.user.participant.fax }}{% else %} - {% endif %}<br>
         				 </address>
					</div>
					<div class="col-sm-6">
						<h3>Addresse du terrain</h3>
						<address>
					        {{ court.rue }}, {{ court.numero }}<br>
							{{ court.codepostal }} {{ court.localite }}<br>
							<b>Accès : </b> {% if court.acces %}{{ court.acces }}{% else %} - {% endif %} <br>
         				 </address>
					</div>
				</div>
				
				<p>	<b>Disponibilité : </b> {% if court.dispoSamedi and court.dispoDimanche %}Samedi et Dimanche{% elif court.dispoSamedi %}Samedi{% elif court.dispoDimanche %}Dimanche{% endif %} <br>
					<b>Matière :</b> {{ court.matiere }} <br>
					<b>Type :</b> {{ court.type }} <br>
					<b>Etat : </b> {{ court.etat }} 
				</p>

				<button onClick="location.href='{% url "tennis.views.editTerrainStaff" court.id %}';" class="btn btn-default center-block">Editer info</button>

				<h3>Google Map (TODO)</h3>
				<div id="map" style="height:250px;"></div>

			</div>
		</div>
		<div class="col-lg-5">
			<div class="content-box">
				<h2 class="center">Commentaire</h2>
				<hr class="line">
				<form role="form">
			      <div class="form-group">
			      <label for="text">Commentaires du propriétaire : </label>
			      <p>{% if court.commentaire %}{{ court.commentaire }}{% else %} - {% endif %}</p>
			    </div>
			    
			    <div class="form-group">
			      <label for="text">Votre Commentaire</label>
			      <textarea class="form-control" rows="5" name="message" placeholder="Entrer votre commentaire"></textarea>
			    </div>

			    <!-- deja participe -->
			    <div class="checkbox ">
			      <label><input type="checkbox" name="participated"> Terrain validé (TODO)</label>
			    </div>

			    <button type="submit" class="btn btn-default center-block">Sauver</button>
			  </form>
			</div>
		</div>
	</div>
	
</div>

{% endblock %}