{% extends "tennis/staff.html" %}

{% block title %}Validation pair {{ pair.id }}{% endblock %}

{% block body %}

<div class="container">
	<div class="content-box">
		<h2 class="center">Paire {{ pair.id }}</h2>
		<hr class="line">

		<div class="row">
			<div class="col-sm-4 col-sm-offset-0">
				<h4 class="center">Tournoi : {{ pair.tournoi.nom }}</h4>
			</div>
			<div class="col-sm-7">
				<p class="info">{{ pair.tournoi.description }}</p>
			</div>
		</div>
	
		<div class="row">

			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">Joueur 1</div>
					<div class="panel-body">
						<a class="UserLink" style="text-align:center" href="{% url "tennis.views.viewUser" pair.user1.username %}">{{ pair.user1.participant.titre }} {{ pair.user1.participant.prenom }} {{ pair.user1.participant.nom }} ({{ pair.user1.username }})</a>
						<!--
						<div class="row">
							<div class="col-sm-6">
								<address>
									
									{{ pair.user1.participant.rue }}, {{ pair.user1.participant.numero }} {% if pair.user1.participant.boite %}
									bte {{ pair.user1.participant.boite }} {% endif %}<br>
									{{ pair.user1.participant.codepostal }} {{ pair.user1.participant.localite }}<br>
									{{ formatedBirthdate1 }} <br>
							
							
         				 </address>
							</div>
							<div class="col-sm-6">
								<address>
									Tél : {% if pair.user1.participant.telephone %}{{ pair.user1.participant.telephone }}{% else %} - {% endif %}<br> 
									GSM : {% if pair.user1.participant.gsm %}{{ pair.user1.participant.gsm }}{% else %} - {% endif %} <br>
									Fax : {% if pair.user1.participant.fax %}{{ pair.user1.participant.fax }}{% else %} - {% endif %}<br>
								</address>
							</div>
						</div>
					-->
					    <!-- Extra -->
						<div class="form-group">
					      <label class="info control-label col-sm-4" for="username">Extras : </label>
					      <div class="col-sm-8">
					      	{% for extra in extra1 %}
					      	<div class="checkbox">
						      <label><input type="checkbox" value="{{ extra.id }}" disabled checked>{{ extra.nom }} ({{ extra.prix }} €)</label>
						    </div>
						    {% endfor %}
						{% for extra in extranot1 %}
					      	<div class="checkbox">
						      <label><input type="checkbox" value="{{ extra.id }}" disabled >{{ extra.nom }} ({{ extra.prix }} €)</label>
						    </div>
						    {% endfor %}
					      </div>
					    </div>
					    <!-- Info -->
						<div class="form-group">
					      <label class="info control-label col-sm-4" for="username">Informations : </label>
					      <div class="col-sm-8">
					      	<p class="info">{% if pair.comment1 %}{{ pair.comment1 }}{% else %} - {% endif %}</p>
					      </div>
					    </div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">Joueur 2</div>
					<div class="panel-body">
						<a class="UserLink" style="text-align:center" href="{% url "tennis.views.viewUser" pair.user2.username %}">{{ pair.user2.participant.titre }} {{ pair.user2.participant.prenom }} {{ pair.user2.participant.nom }} ({{ pair.user2.username }})</a>
						<!--
						<div class="row">
							<div class="col-sm-6">
								<address>		
									{{ pair.user2.participant.rue }}, {{ pair.user2.participant.numero }} {% if pair.user2.participant.boite %}
									bte {{ pair.user2.participant.boite }} {% endif %}<br>
									{{ pair.user2.participant.codepostal }} {{ pair.user2.participant.localite }}<br>
									{{ formatedBirthdate2 }} <br>
         				 </address>
							</div>
							<div class="col-sm-6">
								<address>
									Tél : {% if pair.user2.participant.telephone %}{{ pair.user2.participant.telephone }}{% else %} - {% endif %}<br> 
									GSM : {% if pair.user2.participant.gsm %}{{ pair.user2.participant.gsm }}{% else %} - {% endif %} <br>
									Fax : {% if pair.user2.participant.fax %}{{ pair.user2.participant.fax }}{% else %} - {% endif %}<br>
								</address>
							</div>
						</div>
					-->
					    <!-- Extra -->
						<div class="form-group">
					      <label class="info control-label col-sm-4" for="username">Extras : </label>
					      <div class="col-sm-8">
					      	{% for extra in extra2 %}
					      	<div class="checkbox">
						      <label><input type="checkbox" value="{{ extra.id }}" disabled checked>{{ extra.nom }} ({{ extra.prix }} €)</label>
						    </div>
						    {% endfor %}
						{% for extra in extranot2 %}
					      	<div class="checkbox">
						      <label><input type="checkbox" value="{{ extra.id }}" disabled >{{ extra.nom }} ({{ extra.prix }} €)</label>
						    </div>
						    {% endfor %}
					      </div>
					    </div>
					    <!-- Info -->
						<div class="form-group">
					      <label class="info control-label col-sm-4" for="username">Informations : </label>
					      <div class="col-sm-8">
					      	<p class="info">{% if pair.comment2 %}{{ pair.comment2 }}{% else %} - {% endif %}</p>
					      </div>
					    </div>
					</div>
				</div>
			</div>
		</div>

		<div style="margin-top:20px;">
			<form role="form" class="form-horizontal" method="post" action="">
			{% csrf_token %}
			<div class="row">
				<div class="col-sm-4 col-sm-offset-4">
					<!-- Valid -->
					<div class="form-group">
				      <label class="control-label col-sm-6" for="title">Paire validée : </label>
				      <div class="col-sm-6">
				      	<select class="form-control" name="valid">
				      	{% if not pair.valid %}
				      		<option>Oui</option>
						    <option selected="selected">Non</option>
						{% else %}
							<option>Oui</option>
						    <option>Non</option>
				      	{% endif %}
						</select>
				      </div>
				    </div>
				      <!-- Pay -->
					<div class="form-group">
				      <label class="control-label col-sm-6" for="title">Paire payée : </label>
				      <div class="col-sm-6">
				      	<select class="form-control" name="pay">
				      	{% if not pair.pay %}
				      		<option>Oui</option>
						    <option selected="selected">Non</option>
						{% else %}
							<option>Oui</option>
						    <option>Non</option>
				      	{% endif %}
						</select>
				      </div>
				    </div>
				</div>
			</div>

		    <ul class="list-inline text-center" style="margin-top:20px;">
				<li>
					<button class="btn-default btn" name="action" value="editPair">Editer</button>
				</li>
				<li>
					<button class="btn-default btn" type="button" data-toggle="modal" data-target="#myModal">Supprimer</button>
					<button class="btn-default btn" style="display:none" id="deletePair" name="action" value="deletePair">Supprimer</button>
				</li>
			</ul>
			</form>
		</div>
		
			

	</div>
</div>


<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title center">Confirmation de suppression</h4>
        </div>
        <div class="modal-body">
          <p>Etes-vous sûr de vouloir supprimer cette paire?</p>
        
	    	<ul class="list-inline text-center">
				<li>
					<button type="button" class="btn btn-default" onclick="document.getElementById('deletePair').click();">oui</button>
				</li>
				<li>
					<button type="button" class="btn btn-default" data-dismiss="modal">non</button>
				</li>
			</ul>
		</div>
      </div>
      
    </div>
  </div>

{% endblock %}

{% block commande %}
{% endblock %}
