{% extends "tennis/tournoi.html" %}

{% block title %}Pair {{ pair.id }}{% endblock %}

{% block body %}

<div class="container">
	<div class="content-box">
		<h2 class="center">Paire {{ pair.id }}</h2>
		<hr class="line">

		<div class="row">
			<div class="col-sm-4 col-sm-offset-0">
				<h4 class="center">Tournoi : {{ pair.tournoi }}</h4>
			</div>
			<div class="col-sm-7">
				<p class="info">{{ pair.tournoi.titre.description }}</p>
			</div>
		</div>
	
		<div class="row">

			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">Joueur 1</div>
					<div class="panel-body">
						<h4 class="center">{{ pair.user1.participant.prenom }} {{ pair.user1.participant.nom }} ({{ pair.user1.username }})</h4>
					    <!-- Extra -->
						<div class="form-group">
					      <label class="info control-label col-sm-4" for="username">Extras : </label>
					      <div class="col-sm-8">
					      	{% for extra in extra1 %}
					      	<div class="checkbox">
						      <label><input type="checkbox" value="{{ extra.id }}" disabled checked>{{ extra.nom }} ({{ extra.prix }} €)</label>
						    </div>
						    {% endfor %}
						{% for extra in extranot1 %}
					      	<div class="checkbox">
						      <label><input type="checkbox" value="{{ extra.id }}" disabled>{{ extra.nom }} ({{ extra.prix }} €)</label>
						    </div>
						    {% endfor %}
					      </div>
					    </div>
					    <!-- Info -->
						<div class="form-group">
					      <label class="info control-label col-sm-4" for="username">Informations : </label>
					      <div class="col-sm-8">
					      	<p class="info">{% if pair.comment1 %}{{ pair.comment1 }}{% else %} - {% endif %}</p>
					      </div>
					    </div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">Joueur 2</div>
					<div class="panel-body">
						<h4 class="center">{{ pair.user2.participant.prenom }} {{ pair.user2.participant.nom }} ({{ pair.user2.username }})</h4>
					    <!-- Extra -->
						<div class="form-group">
					      <label class="info control-label col-sm-4" for="username">Extras : </label>
					      <div class="col-sm-8">
					      		{% for extra in extra2 %}
					      	<div class="checkbox">
						      <label><input type="checkbox" value="{{ extra.id }}" disabled checked>{{ extra.nom }} ({{ extra.prix }} €)</label>
						    </div>
						    {% endfor %}
						{% for extra in extranot2 %}
					      	<div class="checkbox">
						      <label><input type="checkbox" value="{{ extra.id }}" disabled>{{ extra.nom }} ({{ extra.prix }} €)</label>
						    </div>
						    {% endfor %}
					      </div>
					    </div>
					    <!-- Info -->
						<div class="form-group">
					      <label class="info control-label col-sm-4" for="username">Informations : </label>
					      <div class="col-sm-8">
					      	<p class="info">{% if pair.comment2 %}{{ pair.comment2 }}{% else %} - {% endif %}</p>
					      </div>
					    </div>
					</div>
				</div>
			</div>
		</div>

		<h4 class="center">Paire validée par le staff : {% if pair.valid %}oui{% else %}non{% endif %}</h4>
		<h4 class="center">Paire payée par le staff : {% if pair.pay %}oui{% else %}non{% endif %}</h4>

		<!-- Inscription button -->
		<ul class="list-inline text-center" style="margin-top:20px;">
			<li>
				<button class="btn btn-default" onClick="location.href='{% url "tennis.views.payPair" pair.id %}';" {% if pair.pay %}disabled{% endif %}>Payer</button>
			</li>
			<li>
				<form class="form-horizontal" role="form" method="post" action="{% url "tennis.views.viewPair" pair.id %}" {% if pair.valid %}style="display:none"{% endif %}>
					{% csrf_token %}
					<button class="btn-default btn" type="button" data-toggle="modal" data-target="#myModal" {% if pair.valid %}disabled{% endif %}>Supprimer</button>
					<button class="btn-default btn" style="display:none" id="deletePair" type="submit">Supprimer</button>
				</form>
			</li>
		</ul>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title center">Confirmation de suppression</h4>
        </div>
        <div class="modal-body">
          <p>Etes-vous sûr de vouloir supprimer votre paire?</p>
        
	    	<ul class="list-inline text-center">
				<li>
					<button type="button" class="btn btn-default" onclick="document.getElementById('deletePair').click();">oui</button>
				</li>
				<li>
					<button type="button" class="btn btn-default" data-dismiss="modal">non</button>
				</li>
			</ul>
		</div>
      </div>
      
    </div>
  </div>
		
			

	</div>
</div>


{% endblock %}
